<!DOCTYPE html>
<html lang="en">
    <head>
        <meta charset="utf-8" />
        <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no" />
        <meta name="description" content="acupuntura en santiago terapia de medicicha china, enfocada en tratramientos de diversas patologias, ya sean dolorosas, organicas, dermatopatias,neuralgicas entre otras" />
        <meta name="author" content=" paulo silva kinesiologo y acupunturista" />
        <meta name="geo.region" content="CL-RM">
        <meta name="geo.placename" content="Santiago">
        <meta name="geo.position" content="-33.44889;-70.669265">
        <meta name="ICBM" content="-33.44889, -70.669265">
        <meta name="robots" content=" index ">
        <meta name="keywords" content="">
        <link rel="canonical" href=" http://www.sitioweb.cl ">
        <link rel="icon" sizes="192x192" type="images/png" href="images/Favicon.png">
        <link rel="apple-touch-icon" sizes="192x192" href="images/Favicon.png"/>
                <!--   metas de redes sociales-->
       <!-- <meta property="fb:app_id" content="342670069681285">
        <meta property="og:locale" content="es_CL">
        <meta property="og:type" content="website">
        <meta property="og:image" content="http://www.kinesishouse.cl/images/Respiratoria_jpg.webp">
        <meta property="og:image:type" content="image/webp">
        <meta property="og:image:width" content="400">
        <meta property="og:image:height" content="300">
        <meta property="og:title" content="▷ Servicio de Kinesiologia a Domicilio | kinesiologo respiratorio a domicilio">
        <meta property="og:description" content="servicio de kinesiologia a domicilio para las comunas de : Las Condes, Providencia, La Florida, Macul, Peñalolen y Ñuñoa.">
        <meta property="og:url" content="http://www.kinesishouse.cl/">
        <meta property="og:site_name" content="kinesis house">
        <meta name="twitter:card" content="summary">
        <meta name="twitter:description" content="servicio de kinesiologia a domicilio para las comunas de : Las Condes, Providencia, La Florida, Macul, Peñalolen y Ñuñoa.">
        <meta name="twitter:title" content="▷ Servicio de Kinesiologia a Domicilio | kinesiologo respiratorio a domicilio"> -->

               <!--Import Google Icon Font-->
        <link rel="preload" href="https://fonts.googleapis.com/icon?family=Material+Icons" as="font-display: swap" crossorigin>
        <link href="https://fonts.googleapis.com/icon?family=Material+Icons" rel="stylesheet">


        <title>acupuntura en santiago</title>
        <!-- Font Awesome icons (free version)-->
        <script src="https://use.fontawesome.com/releases/v5.12.1/js/all.js" crossorigin="anonymous"></script>
        <!-- Google fonts-->
        <link href="https://fonts.googleapis.com/css?family=Montserrat:400,700" rel="stylesheet" type="text/css" />
        <link href="https://fonts.googleapis.com/css?family=Lato:400,700,400italic,700italic" rel="stylesheet" type="text/css" />
        <!-- Core theme CSS (includes Bootstrap)-->
        <link href="css/styles.min.css" rel="stylesheet" />
    </head>
    <body id="page-top">
        <!-- Navigation-->
        <nav class="navbar navbar-expand-lg bg-secondary text-uppercase fixed-top" id="mainNav">
            <div class="container">
                <a class="navbar-brand js-scroll-trigger" href="#page-top">acupuntura en santiago</a><button class="navbar-toggler navbar-toggler-right text-uppercase font-weight-bold bg-primary text-white rounded" type="button" data-toggle="collapse" data-target="#navbarResponsive" aria-controls="navbarResponsive" aria-expanded="false" aria-label="Toggle navigation"><i class="fas fa-bars"></i></button>
                <div class="collapse navbar-collapse" id="navbarResponsive">
                    <ul class="navbar-nav ml-auto">
                        <li class="nav-item mx-0 mx-lg-1"><a class="nav-link py-3 px-0 px-lg-3 rounded js-scroll-trigger" href="#portfolio">terapias</a></li>
                        <li class="nav-item mx-0 mx-lg-1"><a class="nav-link py-3 px-0 px-lg-3 rounded js-scroll-trigger" href="#about">nosotros</a></li>
                        <li class="nav-item mx-0 mx-lg-1"><a class="nav-link py-3 px-0 px-lg-3 rounded js-scroll-trigger" href="#contact">Contacto</a></li>
                         <li class="nav-item mx-0 mx-lg-1"><a class="nav-link py-3 px-0 px-lg-3 rounded js-scroll-trigger" href="#blog">blog</a></li>
                    </ul>
                </div>
            </div>
        </nav>
        <!-- Masthead-->
        <header class="masthead bg-primary text-white text-center">
            <div class="container d-flex align-items-center flex-column">
                <!-- Masthead Avatar Image--><img class="masthead-avatar mb-5" src="assets/img/acupuntura en santiago.png" alt="terapia de acupuntura en la ciudad de santiago" /><!-- Masthead Heading-->
                <h1 class="masthead-heading text-uppercase mb-0">Acupuntura en santiago de chile</h1>
                <!-- Icon Divider-->
                <div class="divider-custom divider-light">
                    <div class="divider-custom-line"></div>
                    <div class="divider-custom-icon"><i class="fas fa-star"></i></div>
                    <div class="divider-custom-line"></div>
                </div>
                <!-- Masthead Subheading-->
                <p class="masthead-subheading font-weight-light mb-0">jose carlos & mirna conti</p>
            </div>
            
        </header>
        <!-- Portfolio Section-->
        <section class="page-section portfolio" id="portfolio">
            <div class="container">
                <!-- Portfolio Section Heading-->
                <h2 class="page-section-heading text-center text-uppercase text-secondary mb-0">terapias</h2>
        <section>
                   
                <div class=" align-items-center col-6">
                        <img src="assets/img/acupuntura en santiago.png" alt="">
                       
                        <p>
              
               <!-- Inicio código Jcc-->   
               <hr>   
                        <h6 class="page-section-heading text-center font face="tangerine" "> Dolor</h6>    
                           
                        </p>
                        <p>
                <hr>   
                        <h5 class="font face="tangerine" ">Bursitis (fluido en las articulaciones)</h5>    
                                        
                        </p>                      

                </div>
                <div class="container">
                    <!-- Example row of columns -->
                    <div class="row">
                      <div class="col-md-4">
                        <h2>Acne</h2>
                        <p>El acné es una enfermedad que se caracteriza por la aparición de lesiones en la piel como consecuencia de una inflamación y posterior infección del poro folicular (orificio de salida del pelo).  </p>
                        <p><a class="btn btn-secondary" href="C:\xampp\htdocs\startbootstrap-freelancer-gh-pages/Acupuntura_Acne.html" role="button">View details &raquo;</a></p>
                      </div>
                      <div class="col-md-4">
                        <h2>Apnea</h2>
                        <p>Cuando dormimos normalmente todos los músculos de nuestro cuerpo se relajan más, incluyendo los músculos de la garganta, para que este pueda hacer fluir el aire hacia los pulmones.   </p>
                        <p><a class="btn btn-secondary" href="" role="button">View details &raquo;</a></p>
                     </div>
                      <div class="col-md-4">
                        <h2>Arritmia</h2>
                        <p> El corazón es un musculo que late de forma constante desde antes de nacer y hasta que nos morimos, y aunque siempre está en funcionamiento hay ocasiones en las que puede variar sus latidos, algunas veces más lento y otras más rápido. </p>
                        <p><a class="btn btn-secondary" href="C:\xampp\htdocs\startbootstrap-freelancer-gh-pages/Acupuntura_A.html" role="button">View details &raquo;</a></p>
                      </div>
                    </div>
              
                    <hr>
             <div class="container">
               <!-- Example Tarjeta -->
                    <div class="row">
                      <div class="col-lg-4 col -mb-4">
                        <div class="card w-75">
                                <a href="#"><img class="card-img-top" src="imagenes/Acup-Anorexia1.jpg" height="150" width="100" class="img-responsive img thumbnai" alt=""></a>               
                            <div class="card-body">
                                <h4 class="card-title">
                                 <a href="#">Anorexia</a>
                                </h4>
                                <p class="card-text">Rechazo a mantener el peso corporal en el mínimo normal para su edad y altura, o por encima de éste. 
                                </p>
                            </div>
                        <div class="card-footer">
                              <p> <a class="btn btn-primary" href="C:\xampp\htdocs\startbootstrap-freelancer-gh-pages/Acupuntura_Anorexia.html"  role="button"> ver mas &raquo; </a>
                              </p>
                        </div>
                      </div>
                    </div>
             
                 <!-- FIN Example Tarjeta -->

                <!-- Example Tarjeta2 -->
                <div class="row">
                    <div class="col-lg-4 col-mb-4">
                    <div class="card w-75">
                            <a href="#"><img class="card-img-top" src="imagenes/Acup-Acne1.jpg" height="150" width="100" class="img-responsive img thumbnai" alt=""></a>               
                        <div class="card-body">
                            <h4 class="card-title">
                            <a href="#">Acne</a>
                            </h4>
                            <p class="card-text">El acné es una enfermedad que se caracteriza por la aparición de lesiones en la piel como consecuencia de una inflamación y posterior infección del poro folicular (orificio de salida del pelo).  
                            </p>
                        </div>
                    <div class="card-footer">
                            <p> <a class="btn btn-primary" href="C:\xampp\htdocs\startbootstrap-freelancer-gh-pages/Acupuntura_Acne.html"  role="button"> ver mas &raquo; </a>
                            </p>
                    </div>
                    </div>
                </div>
                <!-- FIN Example Tarjeta2 -->             
                    
                <!-- Example Tarjeta3 -->
                <div class="row">
                    <div class="col-lg-4 col-mb-4">
                    <div class="card w-75">
                            <a href="#"><img class="card-img-top" src="imagenes/Acup-Apnea1.jpg" height="150" width="100" class="img-responsive img thumbnai" alt=""></a>               
                        <div class="card-body">
                            <h4 class="card-title">
                            <a href="#">Apnea</a>
                            </h4>
                            <p class="card-text">Cuando dormimos normalmente todos los músculos de nuestro cuerpo se relajan más, incluyendo los músculos de la garganta, para que este pueda hacer fluir el aire hacia los pulmones.  
                            </p>
                        </div>
                    <div class="card-footer">
                            <p> <a class="btn btn-primary" href="C:\xampp\htdocs\startbootstrap-freelancer-gh-pages/Acupuntura_Apnea.html" role="button"> ver mas &raquo; </a>
                                
                            </p>
                    </div>
                    </div>
                </div>
                <!-- FIN Example Tarjeta3 -->             
            </div>         






















                  
                  
  

                    <hr>

                         
     <!-- Termino código Jcc--> 
               
        
                <!-- Footer-->
        <footer class="footer text-center">
            <div class="container">
                <div class="row">
                    <!-- Footer Location-->
                    <div class="col-lg-4 mb-5 mb-lg-0">
                        <h4 class="text-uppercase mb-4">lugar de Atención</h4>
                        <p class="lead mb-0">Santiago region metropolitana<br />las Condes, Providencia, Ñuñoa, Vitacura</p>
                    </div>
                    <!-- Footer Social Icons-->
                    <div class="col-lg-4 mb-5 mb-lg-0">
                        <h4 class="text-uppercase mb-4">Redes sociales</h4>
                        <a class="btn btn-outline-light btn-social mx-1" href="#"><i class="fab fa-fw fa-facebook-f"></i></a><a class="btn btn-outline-light btn-social mx-1" href="#"><i class="fab fa-fw fa-twitter"></i></a><a class="btn btn-outline-light btn-social mx-1" href="#"><i class="fab fa-fw fa-linkedin-in"></i></a><a class="btn btn-outline-light btn-social mx-1" href="#"><i class="fab fa-fw fa-dribbble"></i></a>
                    </div>
                    <!-- Footer About Text-->
                    <div class="col-lg-4">
                        <h4 class="text-uppercase mb-4">Acupuntura a domicilio</h4>
                        <p class="lead mb-0">no dudes en contactarnos para una atencion mas comodo en su hogar</a>.</p>
                    </div>
                </div>
            </div>
        </footer>
         
        <!-- Bootstrap core JS-->
        <script src="https://cdnjs.cloudflare.com/ajax/libs/jquery/3.4.1/jquery.min.js"></script>
        <script src="https://stackpath.bootstrapcdn.com/bootstrap/4.4.1/js/bootstrap.bundle.min.js"></script>
        <!-- Third party plugin JS-->
        <script src="https://cdnjs.cloudflare.com/ajax/libs/jquery-easing/1.4.1/jquery.easing.min.js"></script>
        <!-- Contact form JS-->
        <script src="assets/mail/jqBootstrapValidation.js"></script>
        <script src="assets/mail/contact_me.js"></script>
        <!-- Core theme JS-->
        <script src="js/scripts.min.js"></script>
        <script src="https://cdnjs.cloudflare.com/ajax/libs/materialize/1.0.0/js/materialize.min.js"></script>    </body>
</html>
