<!DOCTYPE html>
<html lang="en">
    <head>
        <meta charset="utf-8" />
        <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no" />
        <meta name="description" content="acupuntura en santiago terapia de medicicha china, enfocada en tratramientos de diversas patologias, ya sean dolorosas, organicas, dermatopatias,neuralgicas entre otras" />
        <meta name="author" content=" paulo silva kinesiologo y acupunturista" />
        <meta name="geo.region" content="CL-RM">
        <meta name="geo.placename" content="Santiago">
        <meta name="geo.position" content="-33.44889;-70.669265">
        <meta name="ICBM" content="-33.44889, -70.669265">
        <meta name="robots" content=" index ">
        <meta name="keywords" content="">
        <link rel="canonical" href=" http://www.sitioweb.cl ">
        <link rel="icon" sizes="192x192" type="images/png" href="images/Favicon.png">
        <link rel="apple-touch-icon" sizes="192x192" href="images/Favicon.png"/>
                <!--   metas de redes sociales-->
       <!-- <meta property="fb:app_id" content="342670069681285">
        <meta property="og:locale" content="es_CL">
        <meta property="og:type" content="website">
        <meta property="og:image" content="http://www.kinesishouse.cl/images/Respiratoria_jpg.webp">
        <meta property="og:image:type" content="image/webp">
        <meta property="og:image:width" content="400">
        <meta property="og:image:height" content="300">
        <meta property="og:title" content="▷ Servicio de Kinesiologia a Domicilio | kinesiologo respiratorio a domicilio">
        <meta property="og:description" content="servicio de kinesiologia a domicilio para las comunas de : Las Condes, Providencia, La Florida, Macul, Peñalolen y Ñuñoa.">
        <meta property="og:url" content="http://www.kinesishouse.cl/">
        <meta property="og:site_name" content="kinesis house">
        <meta name="twitter:card" content="summary">
        <meta name="twitter:description" content="servicio de kinesiologia a domicilio para las comunas de : Las Condes, Providencia, La Florida, Macul, Peñalolen y Ñuñoa.">
        <meta name="twitter:title" content="▷ Servicio de Kinesiologia a Domicilio | kinesiologo respiratorio a domicilio"> -->

               <!--Import Google Icon Font-->
        <link rel="preload" href="https://fonts.googleapis.com/icon?family=Material+Icons" as="font-display: swap" crossorigin>
        <link href="https://fonts.googleapis.com/icon?family=Material+Icons" rel="stylesheet">


        <title>acupuntura en santiago</title>
        <!-- Font Awesome icons (free version)-->
        <script src="https://use.fontawesome.com/releases/v5.12.1/js/all.js" crossorigin="anonymous"></script>
        <!-- Google fonts-->
        <link href="https://fonts.googleapis.com/css?family=Montserrat:400,700" rel="stylesheet" type="text/css" />
        <link href="https://fonts.googleapis.com/css?family=Lato:400,700,400italic,700italic" rel="stylesheet" type="text/css" />
        <!-- Core theme CSS (includes Bootstrap)-->
        <link href="css/styles.min.css" rel="stylesheet" />
    </head>
    <body id="page-top">
        <!-- Navigation-->
        <nav class="navbar navbar-expand-lg bg-secondary text-uppercase fixed-top" id="mainNav">
            <div class="container">
                <a class="navbar-brand js-scroll-trigger" href="#page-top">acupuntura en santiago</a><button class="navbar-toggler navbar-toggler-right text-uppercase font-weight-bold bg-primary text-white rounded" type="button" data-toggle="collapse" data-target="#navbarResponsive" aria-controls="navbarResponsive" aria-expanded="false" aria-label="Toggle navigation"><i class="fas fa-bars"></i></button>
                <div class="collapse navbar-collapse" id="navbarResponsive">
                    <ul class="navbar-nav ml-auto">
                        <li class="nav-item mx-0 mx-lg-1"><a class="nav-link py-3 px-0 px-lg-3 rounded js-scroll-trigger" href="#portfolio">terapias</a></li>
                        <li class="nav-item mx-0 mx-lg-1"><a class="nav-link py-3 px-0 px-lg-3 rounded js-scroll-trigger" href="#about">nosotros</a></li>
                        <li class="nav-item mx-0 mx-lg-1"><a class="nav-link py-3 px-0 px-lg-3 rounded js-scroll-trigger" href="#contact">Contacto</a></li>
                         <li class="nav-item mx-0 mx-lg-1"><a class="nav-link py-3 px-0 px-lg-3 rounded js-scroll-trigger" href="#blog">blog</a></li>
                    </ul>
                </div>
            </div>
        </nav>
        <!-- Masthead-->
        <header class="masthead bg-primary text-white text-center">
            <div class="container d-flex align-items-center flex-column">
                <!-- Masthead Avatar Image--><img class="masthead-avatar mb-5" src="assets/img/acupuntura en santiago.png" alt="terapia de acupuntura en la ciudad de santiago" /><!-- Masthead Heading-->
                <h1 class="masthead-heading text-uppercase mb-0">Acupuntura en santiago de chile</h1>
                <!-- Icon Divider-->
                <div class="divider-custom divider-light">
                    <div class="divider-custom-line"></div>
                    <div class="divider-custom-icon"><i class="fas fa-star"></i></div>
                    <div class="divider-custom-line"></div>
                </div>
                <!-- Masthead Subheading-->
                <p class="masthead-subheading font-weight-light mb-0">jose carlos & mirna conti</p>
            </div>
            
        </header>
        <!-- Portfolio Section-->
        <section class="page-section portfolio" id="portfolio">
            <div class="container">
                <!-- Portfolio Section Heading-->
                <h2 class="page-section-heading text-center text-uppercase text-secondary mb-0">terapias</h2>
        <section>
                   
                <div class="col-6">
                        <img src="assets/img/acupuntura en santiago.png" alt="">
                       
                        <p>
              
               <!-- Inicio código Jcc-->   
               <hr>   
                        <h6 class="page-section-heading text-center font face="tangerine" "> Dolor</h6>    
                           
                        </p>
                        <p>
                <hr>   
                        <h5 class="font face="tangerine" ">Asma</h5>    
                                        
                        </p>                      

                </div>
                    <hr>                     
                    <div class="container-fuid">
                        <div class="row">
                              <div class= "col-md-2">
                                <img src="imagenes/Acup-Asma1.jpg" height="200" width="300" class="img-responsive img thumbnai" alt="">
                              </div> 
                              <div class= "col-md-4">
                                <img  src="imagenes/Acup-Asma2.jpg" height="200" width="300" class="img-responsive img thumbnai" alt="">
                              </div>
                              <div class= "col-md-6">
                                <img  src="imagenes/Acup-Asma3.jpg" height="200" width="300" class="img-responsive img thumbnai" alt="">
                              </div> 
                         </div>
                    </div>
                                          
                    <div class="col-9-md-6-sm-6">
                       <div  class="font face="tangerine" size="4""> 
                        <div class="text-justify">            
                         <hr>         
                         En la medicina china el elemento de flema se asocia con un diagnóstico de asma. De hecho, los chinos usan el término “flema permanente” al hablar del asma, eso significa que incluso existe cuando no tienes síntomas.
                         
                         <p 
                         <hr>       
                         <h6 class="font face="tangerine" ">Asma y la Medicina China:</h6> 

                         Viento/Frío. Este es el tipo de asma que te da cuando tienes un resfriado y se te aloja en el pecho por lo que se te hace difícil respirar. Los síntomas típicos incluyen dolor de cabeza, malestares y dolores, fiebre de bajo grado, escalofríos leves, sensación de resfrío, opresión en el pecho, tos liviana y flema blanca. Aunque este patrón se asocia generalmente con un resfriado o gripe puede ocurrirte sin que estés enfermo. En ese caso, las alergias, el aire frío, el viento, e incluso el ejercicio pueden activar al asma.
                         Flema/Calor. Si de inmediato  no te curas de un resfrío, el pecho puede permanecer congestionado, con silbidos, tos o flema espesa amarilla. (¡Es horrible!) Pero también la inflamación o infección es una causa en este esquema, por lo que, además, sentirás calor y sed, puedes tener fiebre, y sentirte con sequedad y estreñido. Una vez más este patrón no necesariamente tiene que ser el subproducto de un resfriado o gripe. Algunas personas que tienen asma y  sienten calor e inflamación todo el tiempo, podrían también encajar en este patrón.
                         Deficiencia pulmonar. Esto tiende a ser una forma menos severa de asma. Los síntomas incluyen dificultad al respirar, voz débil, tos sin fuerza, silbidos, sudor (no necesariamente asociado con la sensación de calor), y delgadas flemas blancas o claras. La deficiencia pulmonar suena exactamente como que los pulmones están débiles.
                         Deficiencia renal. ¿Cómo podría tu riñón no tener nada que ver con el asma? Bueno, el riñón en la medicina china se asocia con tu constitución corporal, la resistencia de tu salud, cuán bien envejeces, y con la fortaleza de tus reservas energéticas. Un sistema renal débil está asociado con una disminución global de energía; te estás debilitando. Este tipo de asma frecuentemente es provocado por el ejercicio, el esfuerzo, o por el frío. Otros síntomas incluyen, dificultades para respirar, inhalar, fatiga, sensación de frío hasta la médula, y extremidades frías.
                         </p>                 

                         <p>
                                    
                            <h6 class="font face="tangerine" ">  Algunos consejos que pueden serte útiles para el control y alivio de los síntomas, incluyen:</h6>
                         </p>

                            <div class="container">
                                <div class="font face="tangerine" size="4""> 
                                    <div class="col-mx-4">
                                       <div class="text-justify">
                                          <span <ol><li>Evita disparadores que causan tus síntomas. Estos pueden ser, el resfrío, ejercicios, alérgenos, y ciertos alimentos.</li> 
                                                    <li>Mantente alejado de las habitaciones con humo.</li>                                                                                                      
                                                    <li>Si también sufres de acidez, debes saber que su presencia puede agravar el asma. Cura el ardor del estómago para ayudarte con el asma.</li>
                                                    <li>Mantén calientes tu cuello y el pecho, especialmente si el frío es el activador de tu asma. Usa bufanda.</li>
                                                    <li>No exageres con los lácteos. Ellos tienden a producir flema.</li>
                                                    <li>Trata de hacer ejercicios de respiración. Haz ejercicios de yoga, taichí, o  de qigong. De lo contrario respira con un conteo de 4-7-8. Inhala a la cuenta de 4, retén el aire a la cuenta de 7, y exhala a la cuenta de 8. Hazlo 4 veces, un par de veces al día. En mi experiencia personal los ejercicios de respiración aliviaron por completo mi asma inducida.</li>
                                                    </ul></span></ol>                                  
 
                                        </div>
                                    </div>
                                </div>
                            </div>
                                
                                 
                            </div>  
                        </div>  
                    </div>    
     <!-- Termino código Jcc--> 
     
     <hr>    
        
                <!-- Footer-->
        <footer class="footer text-center">
            <div class="container">
                <div class="row">
                    <!-- Footer Location-->
                    <div class="col-lg-4 mb-5 mb-lg-0">
                        <h4 class="text-uppercase mb-4">lugar de Atención</h4>
                        <p class="lead mb-0">Santiago region metropolitana<br />las Condes, Providencia, Ñuñoa, Vitacura</p>
                    </div>
                    <!-- Footer Social Icons-->
                    <div class="col-lg-4 mb-5 mb-lg-0">
                        <h4 class="text-uppercase mb-4">Redes sociales</h4>
                        <a class="btn btn-outline-light btn-social mx-1" href="#"><i class="fab fa-fw fa-facebook-f"></i></a><a class="btn btn-outline-light btn-social mx-1" href="#"><i class="fab fa-fw fa-twitter"></i></a><a class="btn btn-outline-light btn-social mx-1" href="#"><i class="fab fa-fw fa-linkedin-in"></i></a><a class="btn btn-outline-light btn-social mx-1" href="#"><i class="fab fa-fw fa-dribbble"></i></a>
                    </div>
                    <!-- Footer About Text-->
                    <div class="col-lg-4">
                        <h4 class="text-uppercase mb-4">Acupuntura a domicilio</h4>
                        <p class="lead mb-0">no dudes en contactarnos para una atencion mas comodo en su hogar</a>.</p>
                    </div>
                </div>
            </div>
        </footer>
         
        <!-- Bootstrap core JS-->
        <script src="https://cdnjs.cloudflare.com/ajax/libs/jquery/3.4.1/jquery.min.js"></script>
        <script src="https://stackpath.bootstrapcdn.com/bootstrap/4.4.1/js/bootstrap.bundle.min.js"></script>
        <!-- Third party plugin JS-->
        <script src="https://cdnjs.cloudflare.com/ajax/libs/jquery-easing/1.4.1/jquery.easing.min.js"></script>
        <!-- Contact form JS-->
        <script src="assets/mail/jqBootstrapValidation.js"></script>
        <script src="assets/mail/contact_me.js"></script>
        <!-- Core theme JS-->
        <script src="js/scripts.min.js"></script>
        <script src="https://cdnjs.cloudflare.com/ajax/libs/materialize/1.0.0/js/materialize.min.js"></script>    </body>
</html>
