<!DOCTYPE html>
<html lang="en">
    <head>
        <meta charset="utf-8" />
        <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no" />
        <meta name="description" content="acupuntura en santiago terapia de medicicha china, enfocada en tratramientos de diversas patologias, ya sean dolorosas, organicas, dermatopatias,neuralgicas entre otras" />
        <meta name="author" content=" paulo silva kinesiologo y acupunturista" />
        <meta name="geo.region" content="CL-RM">
        <meta name="geo.placename" content="Santiago">
        <meta name="geo.position" content="-33.44889;-70.669265">
        <meta name="ICBM" content="-33.44889, -70.669265">
        <meta name="robots" content=" index ">
        <meta name="keywords" content="">
        <link rel="canonical" href=" http://www.sitioweb.cl ">
        <link rel="icon" sizes="192x192" type="images/png" href="images/Favicon.png">
        <link rel="apple-touch-icon" sizes="192x192" href="images/Favicon.png"/>
                <!--   metas de redes sociales-->
       <!-- <meta property="fb:app_id" content="342670069681285">
        <meta property="og:locale" content="es_CL">
        <meta property="og:type" content="website">
        <meta property="og:image" content="http://www.kinesishouse.cl/images/Respiratoria_jpg.webp">
        <meta property="og:image:type" content="image/webp">
        <meta property="og:image:width" content="400">
        <meta property="og:image:height" content="300">
        <meta property="og:title" content="▷ Servicio de Kinesiologia a Domicilio | kinesiologo respiratorio a domicilio">
        <meta property="og:description" content="servicio de kinesiologia a domicilio para las comunas de : Las Condes, Providencia, La Florida, Macul, Peñalolen y Ñuñoa.">
        <meta property="og:url" content="http://www.kinesishouse.cl/">
        <meta property="og:site_name" content="kinesis house">
        <meta name="twitter:card" content="summary">
        <meta name="twitter:description" content="servicio de kinesiologia a domicilio para las comunas de : Las Condes, Providencia, La Florida, Macul, Peñalolen y Ñuñoa.">
        <meta name="twitter:title" content="▷ Servicio de Kinesiologia a Domicilio | kinesiologo respiratorio a domicilio"> -->

               <!--Import Google Icon Font-->
        <link rel="preload" href="https://fonts.googleapis.com/icon?family=Material+Icons" as="font-display: swap" crossorigin>
        <link href="https://fonts.googleapis.com/icon?family=Material+Icons" rel="stylesheet">


        <title>acupuntura en santiago</title>
        <!-- Font Awesome icons (free version)-->
        <script src="https://use.fontawesome.com/releases/v5.12.1/js/all.js" crossorigin="anonymous"></script>
        <!-- Google fonts-->
        <link href="https://fonts.googleapis.com/css?family=Montserrat:400,700" rel="stylesheet" type="text/css" />
        <link href="https://fonts.googleapis.com/css?family=Lato:400,700,400italic,700italic" rel="stylesheet" type="text/css" />
        <!-- Core theme CSS (includes Bootstrap)-->
        <link href="css/styles.min.css" rel="stylesheet" />
    </head>
    <body id="page-top">
        <!-- Navigation-->
        <nav class="navbar navbar-expand-lg bg-secondary text-uppercase fixed-top" id="mainNav">
            <div class="container">
                <a class="navbar-brand js-scroll-trigger" href="#page-top">acupuntura en santiago</a><button class="navbar-toggler navbar-toggler-right text-uppercase font-weight-bold bg-primary text-white rounded" type="button" data-toggle="collapse" data-target="#navbarResponsive" aria-controls="navbarResponsive" aria-expanded="false" aria-label="Toggle navigation"><i class="fas fa-bars"></i></button>
                <div class="collapse navbar-collapse" id="navbarResponsive">
                    <ul class="navbar-nav ml-auto">
                        <li class="nav-item mx-0 mx-lg-1"><a class="nav-link py-3 px-0 px-lg-3 rounded js-scroll-trigger" href="#portfolio">terapias</a></li>
                        <li class="nav-item mx-0 mx-lg-1"><a class="nav-link py-3 px-0 px-lg-3 rounded js-scroll-trigger" href="#about">nosotros</a></li>
                        <li class="nav-item mx-0 mx-lg-1"><a class="nav-link py-3 px-0 px-lg-3 rounded js-scroll-trigger" href="#contact">Contacto</a></li>
                         <li class="nav-item mx-0 mx-lg-1"><a class="nav-link py-3 px-0 px-lg-3 rounded js-scroll-trigger" href="#blog">blog</a></li>
                    </ul>
                </div>
            </div>
        </nav>
        <!-- Masthead-->
        <header class="masthead bg-primary text-white text-center">
            <div class="container d-flex align-items-center flex-column">
                <!-- Masthead Avatar Image--><img class="masthead-avatar mb-5" src="assets/img/acupuntura en santiago.png" alt="terapia de acupuntura en la ciudad de santiago" /><!-- Masthead Heading-->
                <h1 class="masthead-heading text-uppercase mb-0">Acupuntura en santiago de chile</h1>
                <!-- Icon Divider-->
                <div class="divider-custom divider-light">
                    <div class="divider-custom-line"></div>
                    <div class="divider-custom-icon"><i class="fas fa-star"></i></div>
                    <div class="divider-custom-line"></div>
                </div>
                <!-- Masthead Subheading-->
                <p class="masthead-subheading font-weight-light mb-0">jose carlos & mirna conti</p>
            </div>
            
        </header>
        <!-- Portfolio Section-->
        <section class="page-section portfolio" id="portfolio">
            <div class="container">
                <!-- Portfolio Section Heading-->
                <h2 class="page-section-heading text-center text-uppercase text-secondary mb-0">terapias</h2>
        <section>
                   
                <div class="col-6">
                        <img src="assets/img/acupuntura en santiago.png" alt="">
                       
                        <p>
              
               <!-- Inicio código Jcc-->   
               <hr>   
                        <h6 class="page-section-heading text-center font face="tangerine" "> Dolor</h6>    
                           
                        </p>
                        <p>
                <hr>   
                        <h4 class="font face="tangerine" ">Cistitis</h4>    
                                        
                        </p>                      

                </div>
                    <hr>                     
                    <div class="container-fuid">
                        <div class="row">
                            <div class= "col-md-6 col-lg-4 mb-5" >
                              <!-- <div class= "col-md-4"> -->
                                <img src="imagenes/Acup-Cistitis1.jpg" height="230" width="230" class="img-responsive img thumbnai" alt="">
                              </div> 
                              <div class= "col-md-6 col-lg-4 mb-5" >
                              <!-- <div class= "col-md-6"> -->
                                <img  src="imagenes/Acup-Cistitis2.jpg" height="230" width="230" class="img-responsive img thumbnai" alt="">
                             
                            <!-- Inicio código    -->
                            </div>
                            <div class= "col-md-6 col-lg-4 mb-5" >
                             <!--  <div class= "col-md-9">-->
                                <img  src="imagenes/Acup-Cistitis3.jpg" height="230" width="230" class="img-responsive img thumbnai" alt="">
                              </div> 
                           <!--  Inicio código Jcc-->   
                            </div>
                    </div>
                                          
                    <div class="col-9-md-6-sm-6">
                       <div  class="font face="tangerine" size="4""> 
                        <div class="text-justify">            
                         <hr>         
                         La cistitis aguda es una patología común entre las mujeres. La mayoría de las veces es un cuadro agudo que dura unos pocos días y de causa infecciosa.
                         La cistitis sobre la que hablaremos hoy es la cistitis intersticial. Este tipo de cistitis es una causa de dolor pélvico crónico y resulta una entidad difícil de diagnosticar.

                         La compresión del nervio ciático se suele atribuir a la hernia discal (desplazamiento del disco intervertebral) que comprime las raíces de los nervios que salen de la médula espinal y que forman parte del nervio ciático. El tratamiento en estos casos es aumentar el espacio intervertebral mediante la aplicación de agujas de acupuntura en los ligamentos y músculos que lo rodea.
                         
                         <p 
                         <hr>       
                         <h6 class="font face="tangerine" ">¿Cómo se diagnostica la cistitis crónica?</h6> 

                         La historia clínica de la paciente es muy importante. Descartar otros diagnósticos también: diabetes, fibromialgia, infección urinaria por enfermedades de transmisión sexual, cáncer vesical, etc.
                         Engloba todos los trastornos miccionales como las infecciones urinarias (agudas o crónicas), incluyendo cálculos renales, prostatitis agudas o crónicas, hiperplasia benigna de próstata.

                         
                         </p>                 

                         <p>
                                    
                            <h6 class="font face="tangerine" "> Este calor perturba el Qi Ji de la vejiga, produciendo:</h6>
                         </p>

                            <div class="container">
                                <div class="font face="tangerine" size="4""> 
                                    <div class="col-mx-4">
                                       <div class="text-justify">
                                          <span <ol>
                                                    <li>Dolor, quemazón, calor al orinar (infección aguda, cistitis aguda, prostatitis aguda)</li> 
                                                    <li>Micción frecuente y difícil, sensación de pesadez en el bajo vientre. </li> 
                                                    <li>Orinas oscuras, densas.</li>                                                                                                      
                                                    <li>En caso agudo: fiebre, escalofríos. </li> 
                                                    <li>Estreñimiento </li> 
                                                    <li>Lengua roja con capa seborreica. </li> 
                                                    <li>Pulso: rápido (si es reciente: superficial) </li> 


                                                </ol>      
                                                </ul></span>                                
 
                                        </div>
                                    </div>
                                </div>
                            </div>
    
                            <p>
                                    
                                <h6 class="font face="tangerine" "> Tratamientos vejiga esta perturbada</h6>
                             </p>
    
                                <div class="container">
                                    <div class="font face="tangerine" size="4""> 
                                        <div class="col-mx-4">
                                           <div class="text-justify">
                                              <span <ol>
                                                        <li>22 V( TR: vías de agua).</li> 
                                                        <li>28 V (shu de V). </li> 
                                                        <li>39 V (he inferior de TR).</li>                                                                                                      
                                                        <li>Globales: 3 RM (Mu) y 2 H (si hay dolor al orinar). </li> 
                                                        <li>3 R, biao li, para ayudar la vejiga a través de R. </li> 
                                                    
                                                    </ol>      
                                                    </ul></span>                                
     
                                            </div>
                                        </div>
                                    </div>
                                </div>

                             <p>
                                    
                                <h6 class="font face="tangerine" "> Tratamientos Infección por calor</h6>
                             </p>
        
                                    <div class="container">
                                        <div class="font face="tangerine" size="4""> 
                                            <div class="col-mx-4">
                                               <div class="text-justify">
                                                  <span <ol>
                                                            <li>2 RM (cruce de H).</li> 
                                                            <li>8 C (gran punto de genitales y calor). </li> 
                                                            <li>5 H Luo de H.</li>                                                                                                      
                                                            <li>9 B eliminar calor-humedad. </li> 
                                                            <li>Si hay síndrome de exterior (con fiebre): </li> 
                                                            <li>4 IG, 5 TR. </li> 
                                                            <li>Si hay calor:  7 P. </li> 
                                                            <li>28 E, 9 RM. </li> 
                                                            <li>Si el calor procede del recalentador medio: 12 RM, 6 B. </li> 
                                                            <li>Incontinencia urinaria </li>
                                                            <li>Tratamiento energético tonificando el riñón: 23 V, 28 V, como para los parapléjicos . </li>
                                                        
                                                        </ol>      
                                                        </ul></span>                                
         
                                                </div>
                                            </div>
                                        </div>
                                    </div>   
                                
                            </div>  
                        </div>  
                    </div>    
     <!-- Termino código Jcc--> 
     
     <hr>    
        
                <!-- Footer-->
        <footer class="footer text-center">
            <div class="container">
                <div class="row">
                    <!-- Footer Location-->
                    <div class="col-lg-4 mb-5 mb-lg-0">
                        <h4 class="text-uppercase mb-4">lugar de Atención</h4>
                        <p class="lead mb-0">Santiago region metropolitana<br />las Condes, Providencia, Ñuñoa, Vitacura</p>
                    </div>
                    <!-- Footer Social Icons-->
                    <div class="col-lg-4 mb-5 mb-lg-0">
                        <h4 class="text-uppercase mb-4">Redes sociales</h4>
                        <a class="btn btn-outline-light btn-social mx-1" href="#"><i class="fab fa-fw fa-facebook-f"></i></a><a class="btn btn-outline-light btn-social mx-1" href="#"><i class="fab fa-fw fa-twitter"></i></a><a class="btn btn-outline-light btn-social mx-1" href="#"><i class="fab fa-fw fa-linkedin-in"></i></a><a class="btn btn-outline-light btn-social mx-1" href="#"><i class="fab fa-fw fa-dribbble"></i></a>
                    </div>
                    <!-- Footer About Text-->
                    <div class="col-lg-4">
                        <h4 class="text-uppercase mb-4">Acupuntura a domicilio</h4>
                        <p class="lead mb-0">no dudes en contactarnos para una atencion mas comodo en su hogar</a>.</p>
                    </div>
                </div>
            </div>
        </footer>
         
        <!-- Bootstrap core JS-->
        <script src="https://cdnjs.cloudflare.com/ajax/libs/jquery/3.4.1/jquery.min.js"></script>
        <script src="https://stackpath.bootstrapcdn.com/bootstrap/4.4.1/js/bootstrap.bundle.min.js"></script>
        <!-- Third party plugin JS-->
        <script src="https://cdnjs.cloudflare.com/ajax/libs/jquery-easing/1.4.1/jquery.easing.min.js"></script>
        <!-- Contact form JS-->
        <script src="assets/mail/jqBootstrapValidation.js"></script>
        <script src="assets/mail/contact_me.js"></script>
        <!-- Core theme JS-->
        <script src="js/scripts.min.js"></script>
        <script src="https://cdnjs.cloudflare.com/ajax/libs/materialize/1.0.0/js/materialize.min.js"></script>    </body>
</html>
