<% include partial/head.ejs %>	
<% include partial/navbar.ejs %>

    <body id="page-top">
        <!-- Navigation-->
        <nav class="navbar navbar-expand-lg bg-secondary text-uppercase fixed-top" id="mainNav">
            <div class="container">
                <a class="navbar-brand js-scroll-trigger" href="#page-top">Acupuntura en Santiago</a><button class="navbar-toggler navbar-toggler-right text-uppercase font-weight-bold bg-primary text-white rounded" type="button" data-toggle="collapse" data-target="#navbarResponsive" aria-controls="navbarResponsive" aria-expanded="false" aria-label="Toggle navigation"><i class="fas fa-bars"></i></button>
                <div class="collapse navbar-collapse" id="navbarResponsive">
                    <ul class="navbar-nav ml-auto">
                        <li class="nav-item mx-0 mx-lg-1"><a class="nav-link py-3 px-0 px-lg-3 rounded js-scroll-trigger" href="#portfolio">terapias</a></li>
                        <li class="nav-item mx-0 mx-lg-1"><a class="nav-link py-3 px-0 px-lg-3 rounded js-scroll-trigger" href="#about">nosotros</a></li>
                        <li class="nav-item mx-0 mx-lg-1"><a class="nav-link py-3 px-0 px-lg-3 rounded js-scroll-trigger" href="#contact">Contacto</a></li>
                         <li class="nav-item mx-0 mx-lg-1"><a class="nav-link py-3 px-0 px-lg-3 rounded js-scroll-trigger" href="#blog">blog</a></li>
                    </ul>
                </div>
            </div>
        </nav>
        <!-- Masthead-->
        <header class="masthead bg-primary text-white text-center">
            <div class="container d-flex align-items-center flex-column">
                <!-- Masthead Avatar Image--><img class="masthead-avatar mb-5" src="assets/img/acupuntura en santiago.png" alt="terapia de acupuntura en la ciudad de santiago" /><!-- Masthead Heading-->
                <h1 class="header center orange-text"><%= tiTuloh1%></h1>
                <!-- Icon Divider-->
                <div class="divider-custom divider-light">
                    <div class="divider-custom-line"></div>
                    <div class="divider-custom-icon"><i class="fas fa-star"></i></div>
                    <div class="divider-custom-line"></div>
                </div>
                <!-- Masthead Subheading-->
                <p class="masthead-subheading font-weight-light mb-0">José Carlos & Mirna Conti</p>
            </div>
            
        </header>
        <!-- Portfolio Section-->
        <section class="page-section portfolio" id="portfolio">
            <div class="container">
                <!-- Portfolio Section Heading-->
                <h2 class="page-section-heading text-center text-uppercase text-secondary mb-0">Terapias</h2>
        <section>
                   
                <div class="col-6">
                        <img src="assets/img/acupuntura en santiago.png" alt="">
                       
                        <p>
              
               <!-- Inicio código 
               <hr>   
                        <h6 class="page-section-heading text-center font face="tangerine" "> Dolor</h6>    
                           
                        </p>Jcc-->   
                        <p>
                <hr>   
                        <h6 class="font face="tangerine" ">Anorexia</h6>    
                                        
                        </p>                      

                </div>
                    <hr>                     
                    <div class="container-fuid">
                        <div class="row">
                              <div class= "col-md-2">
                                <img src="imagenes/Acup-Anorexia1.jpg" height="250" width="250" class="img-responsive img thumbnai" alt="">
                              </div> 
                              <div class= "col-md-6">
                                <img  src="imagenes/Acup-Anorexia2.jpg" height="250" width="250" class="img-responsive img thumbnai mx ml-auto d-block alt="">
                              </div>
                         </div>
                    </div>

                    <p 
                    <hr>       
                    <h6 class="font face="tangerine" ">Criterios De Diagnósticos</h6> 
                   </p>     
                       <section class="features">                                 
                            <div class="container">
                               <div class="font face="tangerine" size="4""> 
                                <!--<div class="text-justify">-->                                          
                                <!--<div class="row"> -->
                                    <div class="col-mx-4">
                                      <div class="text-justify">
                                            
                                            <Style>
                                               
                                             ol { list-style: upper-latin; }
                                            
                                            </Style>
                                            
                                            <ol>
                                                   <li>Rechazo a mantener el peso corporal en el mínimo normal para su edad y altura, o por encima de éste. (ej.: paciente que en un mes experimentó una pérdida de peso de alrededor de un 15%, hallándose previamente en un peso mínimo normal)</li>          
                                                   <li>Miedo intenso al aumento de peso o a ponerse obeso, aunque esté muy por debajo de lo normal.</li>                                                                
                                                   <li>Alteración en la percepción del peso, tamaño o forma corporales: excesiva influencia de la imagen corporal sobre la autovaloración; negación de la gravedad del bajo peso actual. (Siempre se ven “gordos” o desproporcionados, a pesar de estar caquécticos).</li>
                                                   <li>Amenorrea (cese de la menstruación): pérdida de por lo menos tres períodos menstruales consecutivos.</li></ul>
                                            </ol>                                                                 
                     
                                          
                    <p 
                    <hr>       
                    <h6 class="font face="tangerine" ">Síntomas psíquicos</h6> 
                    </p>    

                                <p>
                                        Cambios de humor: ira, irritabilidad, agresividad. Con frecuencia se encuentran cambios de personalidad. Se vuelven desconfiados, reservados. No quieren ayuda de nadie. 
                                </p>                                                                                       
                                     
                                <hr>       
                                <h6 class="font face="tangerine" ">Tratamiento  de la Anorexia Nerviosa con  Medicina Tradicional China (MTC)</h6>          
                                <br>
                                <h6 class="font face="tangerine" ">Resumen del Desarrollo de los Síntomas</h6>                                                            
                                <p>
                                        Cuando la enfermedad se está empezando a desarrollar afecta al Qi del Bazo por la inanición y se produce un estancamiento de Qi de Hígado por lesión de las 7 pasiones. La prolongación del vacío de Qi de Bazo origina un Vacío de Yang de Bazo y el estancamiento de Qi de Hígado prolongado genera calor que consume la sangre de este. Hay un Vacío de Sangre por calor-vacío. Como la sangre es insuficiente el corazón no tiene donde sostenerse y el Shen se perturba. Toda esta disfunción energética repercute en el Riñón por desgaste. La esencia se agota porque mientras tanto el Riñón le va suministrando energía a los órganos afectados. El desgaste energético del Riñón causa insuficiencia de Yin  y de Yang, es decir vacío de Jing.            
                                </p> 
                                <h6 class="font face="tangerine" ">Diagnóstico</h6>

                                <section class="features">                                 
                                        <div class="container">
                                           <div class="font face="tangerine" size="4""> 
                                                <div class="col-mx-4">
                                                  <div class="text-justify">
                                                        
                                                       <Style>
                                                        ol { list-style: upper-latin; }                                                         
                                                       </Style>
                                                        <ol>
                                                           <li>Vacío de Yang de Bazo.</li>          
                                                           <li>Vacío de sangre de Hígado y Corazón.</li>                                                                
                                                           <li>Vacío de Jing (yin y yang) del Riñón.</li>
                                                           <li>Calor-Vacío. Hay poca agua y mucho calor, sobretodo en el Jiao Superior.</li>
                                                           <li>Tan que obstruye el Shen.</li></ul>
                                                        </ol>              
                                                    </div>
                                                </div>
                                            </div>
                                        </div>
                                        <p>
                                            <h6 class="font face="tangerine" ">Principio Terapéutico</h6>
                                        </p>
                                        <p>    
                                            Como hay muchos órganos implicados hay que priorizar los síntomas.
                                            (Recuerdo que estoy en todo momento haciendo un Análisis, un Principio terapéutico, un Diagnóstico y un Tratamiento en función de los síntomas expuestos. Cada caso es único y se debe tratar en función de los síntomas que presenta el paciente).            
                                                           
                                        </p>
                                        <section class="features">                                 
                                                <div class="container">
                                                   <div class="font face="tangerine" size="4""> 
                                                    <!--<div class="text-justify">-->                                          
                                                    <!--<div class="row"> -->
                                                        <div class="col-mx-4">
                                                          <div class="text-justify">                                                                                                               
                                                                <li>Tonificar energía para producir sangre.</li>          
                                                                <li>Tonificar el Qi de Bazo y Yang del riñón.</li>                                                                
                                                                <li>Tonificar sangre de Hígado y Corazón.</li>
                                                                <li>Calmar el Shen.</li>
                                                                <li>Si tonificamos sangre el Shen tendrá donde albergarse.</li>
                                                                <li>Tonificar el Riñón.</li>
                                                                <li>Eliminar el Tan.</li></ul>                                                                              
                                                            </div>
                                                        </div>
                                                    </div>
                                                </div>
                                          
                                       
                                                              
                                     </div>   
                                </div>
                            </div>  
                        </div>  
                    </div> 
                     
     <!-- Termino código Jcc--> 
        </section>       
                        
        </section>     
        
        <% include partial/footer.ejs %>
        
        <% include partial/footer.ejs %>