<!DOCTYPE html>
<html lang="en">
    <head>
        <meta charset="utf-8" />
        <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no" />
        <meta name="description" content="acupuntura en santiago terapia de medicicha china, enfocada en tratramientos de diversas patologias, ya sean dolorosas, organicas, dermatopatias,neuralgicas entre otras" />
        <meta name="author" content=" paulo silva kinesiologo y acupunturista" />
        <meta name="geo.region" content="CL-RM">
        <meta name="geo.placename" content="Santiago">
        <meta name="geo.position" content="-33.44889;-70.669265">
        <meta name="ICBM" content="-33.44889, -70.669265">
        <meta name="robots" content=" index ">
        <meta name="keywords" content="">
        <link rel="canonical" href=" http://www.sitioweb.cl ">
        <link rel="icon" sizes="192x192" type="images/png" href="images/Favicon.png">
        <link rel="apple-touch-icon" sizes="192x192" href="images/Favicon.png"/>
                <!--   metas de redes sociales-->
       <!-- <meta property="fb:app_id" content="342670069681285">
        <meta property="og:locale" content="es_CL">
        <meta property="og:type" content="website">
        <meta property="og:image" content="http://www.kinesishouse.cl/images/Respiratoria_jpg.webp">
        <meta property="og:image:type" content="image/webp">
        <meta property="og:image:width" content="400">
        <meta property="og:image:height" content="300">
        <meta property="og:title" content="▷ Servicio de Kinesiologia a Domicilio | kinesiologo respiratorio a domicilio">
        <meta property="og:description" content="servicio de kinesiologia a domicilio para las comunas de : Las Condes, Providencia, La Florida, Macul, Peñalolen y Ñuñoa.">
        <meta property="og:url" content="http://www.kinesishouse.cl/">
        <meta property="og:site_name" content="kinesis house">
        <meta name="twitter:card" content="summary">
        <meta name="twitter:description" content="servicio de kinesiologia a domicilio para las comunas de : Las Condes, Providencia, La Florida, Macul, Peñalolen y Ñuñoa.">
        <meta name="twitter:title" content="▷ Servicio de Kinesiologia a Domicilio | kinesiologo respiratorio a domicilio"> -->

               <!--Import Google Icon Font-->
        <link rel="preload" href="https://fonts.googleapis.com/icon?family=Material+Icons" as="font-display: swap" crossorigin>
        <link href="https://fonts.googleapis.com/icon?family=Material+Icons" rel="stylesheet">


        <title>acupuntura en santiago</title>
        <!-- Font Awesome icons (free version)-->
        <script src="https://use.fontawesome.com/releases/v5.12.1/js/all.js" crossorigin="anonymous"></script>
        <!-- Google fonts-->
        <link href="https://fonts.googleapis.com/css?family=Montserrat:400,700" rel="stylesheet" type="text/css" />
        <link href="https://fonts.googleapis.com/css?family=Lato:400,700,400italic,700italic" rel="stylesheet" type="text/css" />
        <!-- Core theme CSS (includes Bootstrap)-->
        <link href="css/styles.min.css" rel="stylesheet" />
    </head>
    <body id="page-top">
        <!-- Navigation-->
        <nav class="navbar navbar-expand-lg bg-secondary text-uppercase fixed-top" id="mainNav">
            <div class="container">
                <a class="navbar-brand js-scroll-trigger" href="#page-top">acupuntura en santiago</a><button class="navbar-toggler navbar-toggler-right text-uppercase font-weight-bold bg-primary text-white rounded" type="button" data-toggle="collapse" data-target="#navbarResponsive" aria-controls="navbarResponsive" aria-expanded="false" aria-label="Toggle navigation"><i class="fas fa-bars"></i></button>
                <div class="collapse navbar-collapse" id="navbarResponsive">
                    <ul class="navbar-nav ml-auto">
                        <li class="nav-item mx-0 mx-lg-1"><a class="nav-link py-3 px-0 px-lg-3 rounded js-scroll-trigger" href="#portfolio">terapias</a></li>
                        <li class="nav-item mx-0 mx-lg-1"><a class="nav-link py-3 px-0 px-lg-3 rounded js-scroll-trigger" href="#about">nosotros</a></li>
                        <li class="nav-item mx-0 mx-lg-1"><a class="nav-link py-3 px-0 px-lg-3 rounded js-scroll-trigger" href="#contact">Contacto</a></li>
                        <li class="nav-item mx-0 mx-lg-1"><a class="nav-link py-3 px-0 px-lg-3 rounded js-scroll-trigger" href="#blog">blog</a></li>
                        <li class="nav-item mx-0 mx-lg-1"><a class="nav-link py-3 px-0 px-lg-3 rounded js-scroll-trigger" href="#blog">Consultas</a></li>
                    </ul>
                </div>
            </div>
        </nav>
        <!-- Masthead-->
        <header class="masthead bg-primary text-white text-center">
            <div class="container d-flex align-items-center flex-column">
                <!-- Masthead Avatar Image--><img class="masthead-avatar mb-5" src="assets/img/acupuntura en santiago.png" alt="terapia de acupuntura en la ciudad de santiago" /><!-- Masthead Heading-->
                <h1 class="masthead-heading text-uppercase mb-0">Acupuntura en santiago de chile</h1>
                <!-- Icon Divider-->
                <div class="divider-custom divider-light">
                    <div class="divider-custom-line"></div>
                    <div class="divider-custom-icon"><i class="fas fa-star"></i></div>
                    <div class="divider-custom-line"></div>
                </div>
                <!-- Masthead Subheading-->
                <p class="masthead-subheading font-weight-light mb-0">jose carlos & mirna conti</p>
            </div>
            
        </header>
        <!-- Portfolio Section-->
        <section class="page-section portfolio" id="portfolio">
            <div class="container">
                <!-- Portfolio Section Heading-->
                <h2 class="page-section-heading text-center text-uppercase text-secondary mb-0">terapias</h2>
        <section>
                   
                <div class="col-6">
                        <img src="assets/img/acupuntura en santiago.png" alt="">
                       
                        <p>
              
                </div>
                    <hr> 
                    <section class="download bg-primary text-center" id="download">                    
                    <div class="container-fuid">
                        <div class="row">
                            <div class="col-md-8 mx-auto">
                                 <h2 class="section-heading"><span id="HomePage">Preguntas Habituales</span></h2>                          
                             </div>
                        </div>
                     </div>
                    </section>       

                <!--     <div class="col-lg-12 color"></div>
                    <div class="col-lg-3"></div>    -->    
                    
                    <p>  </p>

                 <!-- Inicio Del Contenido -->
                     <section class="features">
                         <div class="container-fuid">                
                             <div id="accordion" role="tablist" aria-multiselectable="true">
         
                                <div class="card">
                                 <div class="card-header" role="tab" id="heading1">
                                   <h5 class="mb- 0">
                                     <a data-toggle="collapse" data-parent="#accordion" href="#collapse1" aria-expanded="true" aria-controls="collapse1">
                                      <span id="Label24">¿Dónde están ubicados?</span>
                                     </a>
                                   </h5>
                                 </div>
         
                                 <div id="collapse1" class="collapse show" role="tabpanel" aria-labelledby="heading1">
                                   <div class="card-block">
                                       <div class="container">
                               <!--         <span id="Label25">Dirección: Metro Pedro de Valdivia, Salida C,  Calle Fidel Oteiza 1953, Oficina 301, Providencia.</span><label style="margin-left:5px"><a target="_blank"  
                                            href="https://www.google.com/maps/place/Fidel+Oteiza+1953,+oficina+301,+Providencia,+Regi%C3%B3n+Metropolitana/@-33.4259196,-70.6137881,17.25z/data=!4m5!3m4!1s0x9662cf65a95874a9:0x1bec5230b99d643b!8m2!3d-33.4259267!4d-70.6123832">¡Ver Mapa!</a></label> --> 
                                        </div>
                                    </div>
                                </div>
                            </div>
                            <p>

                            </p>
                            <div class="card">
                                <div class="card-header" role="tab" id="heading2">
                                  <h5 class="mb-0">
                                    <a class="collapsed" data-toggle="collapse" data-parent="#accordion" href="#collapse2" aria-expanded="false" aria-controls="collapse2">
                                     <span id="Label26">¿cuales son los medios de pagos?</span>
                                    </a>
                                  </h5>
                                </div>
        
                                <div id="collapse2" class="collapse" role="tabpanel" aria-labelledby="heading2">
                                  <div class="card-block">
                                      <div class="container">
                                           <span id="Label27">Efectivo, Tarjeta de crédito y Red Compra</span>
                                      </div>
                                  </div>
                                </div>
                              </div>  
                              <p>
                                
                            </p>  
                              <div class="card">
                                <div class="card-header" role="tab" id="headingOne">
                                  <h5 class="mb-0">
                                    <a class="collapsed" data-toggle="collapse" data-parent="#accordion" href="#collapseOne" aria-expanded="false" aria-controls="collapseOne">
                                     <span id="Page11">¿Es doloroso el tratamiento con las Agujas?</span>
                                    </a>
                                  </h5>
                                </div>
        
                                <div id="collapseOne" class="collapse" role="tabpanel" aria-labelledby="headingOne">
                                  <div class="card-block">
                                      <div class="container">
                                           <span id="Label8">Aunque hay zonas del cuerpo unas mas sensibles que otras debido al finísimo grosor de las agujas no se siente ningún dolor al insertarlas, apenas se percibe, lo que si notaran es una sensación de calambre, corriente, calor que resulta de la estimulación de la energía (qi).</span>
                                      </div>
                                  </div>
                                </div>
                              </div>
                              <p>
                                
                            </p>
                              <div class="card">
                                <div class="card-header" role="tab" id="headingTwo">
                                  <h5 class="mb-0">
                                    <a class="collapsed" data-toggle="collapse" data-parent="#accordion" href="#collapseTwo" aria-expanded="false" aria-controls="collapseTwo">
                                     <span id="Label1">¿Cuánto dura un Tratamiento de Acupuntura?</span>
                                    </a>
                                  </h5>
                                </div>
                                <div id="collapseTwo" class="collapse" role="tabpanel" aria-labelledby="headingTwo">
                                  <div class="card-block">
                                      <div class="container">
                                        <span id="Label9">La primera sesión  dura alrededor de 40 minutos a 1 hora va a depender más del paciente que del terapeuta , según la historia de vida  de cada persona, y luego para las terapias sucesivas es variable según la patología a tratar . Por los general  las agujas duran puestas de 15 a 45 minutos, se necesitan mínimo 3 sesiones seguidas, luego una por semana para  ver resultados óptimos y así luego solo tratamiento de  manteamiento 1 vez por mes como tratamiento preventivo.
                                                          Es una terapia no invasiva y sin efectos colaterales.</span>
                                      </div>
                                  </div>
                                </div>
                              </div>
                              <p>
                                
                            </p>
                              <div class="card">
                                <div class="card-header" role="tab" id="headingThree">
                                  <h5 class="mb-0">
                                    <a class="collapsed" data-toggle="collapse" data-parent="#accordion" href="#collapseThree" aria-expanded="false" aria-controls="collapseThree">
                                     <span id="Label2">¿Cuántas sesiones de acupuntura necesito y con qué frecuencia?</span>
                                    </a>
                                  </h5>
                                </div>
                                <div id="collapseThree" class="collapse" role="tabpanel" aria-labelledby="headingThree">
                                  <div class="card-block">
                                      <div class="container">
                                         <span id="Label10">El numero de la frecuencia de las sesiones depende del diagnostico y del estado del paciente puede variar de una vez por semana a cada 15 días, el numero de las secesiones varia según la enfermedad y el sistema de repuesta de cada persona de 3 en adelante hasta alcanzar su sanación.</span>
                                     </div>
                                  </div>
                                </div>
                              </div>
                              <p>
                                
                            </p>  
                              <div class="card">
                                <div class="card-header" role="tab" id="headingfour">
                                  <h5 class="mb-0">
                                    <a class="collapsed" data-toggle="collapse" data-parent="#accordion" href="#collapsefour" aria-expanded="false" aria-controls="collapsefour">
                                     <span id="Label3">¿Puede Dañarme la Acupuntura?</span>
                                    </a>
                                  </h5>
                                </div>
                                <div id="collapsefour" class="collapse" role="tabpanel" aria-labelledby="headingfour">
                                  <div class="card-block">
                                      <div class="container">
                                        <span id="Label11">No, Siempre cuando sea aplicada por un profesional y experto  en Medicina Terapéutica China, solo asi  evitaremos efectos no deseados en la punción o elaboración de falsos diagnósticos.</span>
                                      </div>
                                  </div>
                                </div>
                              </div>
                              <p>
                                
                            </p>
                              <div class="card">
                                <div class="card-header" role="tab" id="headingfive">
                                  <h5 class="mb-0">
                                    <a class="collapsed" data-toggle="collapse" data-parent="#accordion" href="#collapsefive" aria-expanded="false" aria-controls="collapsefive">
                                      <span id="Label4">¿Qué enfermedades o patologías  se pueden tratar con medicina China?</span>
                                    </a>
                                  </h5>
                                </div>
                                <div id="collapsefive" class="collapse" role="tabpanel" aria-labelledby="headingfive">
                                  <div class="card-block">
                                      <div class="containe">
                                        <a id="Link10" class="nav-link js-scroll-trigger" href="javascript:WebForm_DoPostBackWithOptions(new WebForm_PostBackOptions(&quot;Link10&quot;, &quot;&quot;, false, &quot;&quot;, &quot;Enfermedades.aspx&quot;, false, true))"><span id="Label12">Ir al Blog de enfermedades</span></a>
                                      </div>
                                  </div>
                                </div>
                              </div>
        
                              <p>
                                
                            </p>

    
                <!-- Termino código Jcc--> 
        </section>
              
                <!-- Footer-->
        <footer class="footer text-center">
            <div class="container">
                <div class="row">
                    <!-- Footer Location-->
                    <div class="col-lg-4 mb-5 mb-lg-0">
                        <h4 class="text-uppercase mb-4">lugar de Atención</h4>
                        <p class="lead mb-0">Santiago region metropolitana<br />las Condes, Providencia, Ñuñoa, Vitacura</p>
                    </div>
                    <!-- Footer Social Icons-->
                    <div class="col-lg-4 mb-5 mb-lg-0">
                        <h4 class="text-uppercase mb-4">Redes sociales</h4>
                        <a class="btn btn-outline-light btn-social mx-1" href="#"><i class="fab fa-fw fa-facebook-f"></i></a><a class="btn btn-outline-light btn-social mx-1" href="#"><i class="fab fa-fw fa-twitter"></i></a><a class="btn btn-outline-light btn-social mx-1" href="#"><i class="fab fa-fw fa-linkedin-in"></i></a><a class="btn btn-outline-light btn-social mx-1" href="#"><i class="fab fa-fw fa-dribbble"></i></a>
                    </div>
                    <!-- Footer About Text-->
                    <div class="col-lg-4">
                        <h4 class="text-uppercase mb-4">Acupuntura a domicilio</h4>
                        <p class="lead mb-0">no dudes en contactarnos para una atencion mas comodo en su hogar</a>.</p>
                    </div>
                </div>
            </div>
        </footer>
        
        <div>
        <hr>

        </div>

        <!-- Bootstrap core JS-->
        <script src="https://cdnjs.cloudflare.com/ajax/libs/jquery/3.4.1/jquery.min.js"></script>
        <script src="https://stackpath.bootstrapcdn.com/bootstrap/4.4.1/js/bootstrap.bundle.min.js"></script>
        <!-- Third party plugin JS-->
        <script src="https://cdnjs.cloudflare.com/ajax/libs/jquery-easing/1.4.1/jquery.easing.min.js"></script>
        <!-- Contact form JS-->
        <script src="assets/mail/jqBootstrapValidation.js"></script>
        <script src="assets/mail/contact_me.js"></script>
        <!-- Core theme JS-->
        <script src="js/scripts.min.js"></script>
        <script src="https://cdnjs.cloudflare.com/ajax/libs/materialize/1.0.0/js/materialize.min.js"></script>    </body>
</html>
