<!DOCTYPE html>
<html lang="en">
    <head>
        <meta charset="utf-8" />
        <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no" />
        <meta name="description" content="acupuntura en santiago terapia de medicicha china, enfocada en tratramientos de diversas patologias, ya sean dolorosas, organicas, dermatopatias,neuralgicas entre otras" />
        <meta name="author" content=" paulo silva kinesiologo y acupunturista" />
        <meta name="geo.region" content="CL-RM">
        <meta name="geo.placename" content="Santiago">
        <meta name="geo.position" content="-33.44889;-70.669265">
        <meta name="ICBM" content="-33.44889, -70.669265">
        <meta name="robots" content=" index ">
        <meta name="keywords" content="">
        <link rel="canonical" href=" http://www.sitioweb.cl ">
        <link rel="icon" sizes="192x192" type="images/png" href="images/Favicon.png">
        <link rel="apple-touch-icon" sizes="192x192" href="images/Favicon.png"/>
                <!--   metas de redes sociales-->
       <!-- <meta property="fb:app_id" content="342670069681285">
        <meta property="og:locale" content="es_CL">
        <meta property="og:type" content="website">
        <meta property="og:image" content="http://www.kinesishouse.cl/images/Respiratoria_jpg.webp">
        <meta property="og:image:type" content="image/webp">
        <meta property="og:image:width" content="400">
        <meta property="og:image:height" content="300">
        <meta property="og:title" content="▷ Servicio de Kinesiologia a Domicilio | kinesiologo respiratorio a domicilio">
        <meta property="og:description" content="servicio de kinesiologia a domicilio para las comunas de : Las Condes, Providencia, La Florida, Macul, Peñalolen y Ñuñoa.">
        <meta property="og:url" content="http://www.kinesishouse.cl/">
        <meta property="og:site_name" content="kinesis house">
        <meta name="twitter:card" content="summary">
        <meta name="twitter:description" content="servicio de kinesiologia a domicilio para las comunas de : Las Condes, Providencia, La Florida, Macul, Peñalolen y Ñuñoa.">
        <meta name="twitter:title" content="▷ Servicio de Kinesiologia a Domicilio | kinesiologo respiratorio a domicilio"> -->

               <!--Import Google Icon Font-->
        <link rel="preload" href="https://fonts.googleapis.com/icon?family=Material+Icons" as="font-display: swap" crossorigin>
        <link href="https://fonts.googleapis.com/icon?family=Material+Icons" rel="stylesheet">


        <title>acupuntura en santiago</title>
        <!-- Font Awesome icons (free version)-->
        <script src="https://use.fontawesome.com/releases/v5.12.1/js/all.js" crossorigin="anonymous"></script>
        <!-- Google fonts-->
        <link href="https://fonts.googleapis.com/css?family=Montserrat:400,700" rel="stylesheet" type="text/css" />
        <link href="https://fonts.googleapis.com/css?family=Lato:400,700,400italic,700italic" rel="stylesheet" type="text/css" />
        <!-- Core theme CSS (includes Bootstrap)-->
        <link href="css/styles.min.css" rel="stylesheet" />
    </head>
    <body id="page-top">
        <!-- Navigation-->
        <nav class="navbar navbar-expand-lg bg-secondary text-uppercase fixed-top" id="mainNav">
            <div class="container">
                <a class="navbar-brand js-scroll-trigger" href="#page-top">acupuntura en santiago</a><button class="navbar-toggler navbar-toggler-right text-uppercase font-weight-bold bg-primary text-white rounded" type="button" data-toggle="collapse" data-target="#navbarResponsive" aria-controls="navbarResponsive" aria-expanded="false" aria-label="Toggle navigation"><i class="fas fa-bars"></i></button>
                <div class="collapse navbar-collapse" id="navbarResponsive">
                    <ul class="navbar-nav ml-auto">
                        <li class="nav-item mx-0 mx-lg-1"><a class="nav-link py-3 px-0 px-lg-3 rounded js-scroll-trigger" href="#portfolio">terapias</a></li>
                        <li class="nav-item mx-0 mx-lg-1"><a class="nav-link py-3 px-0 px-lg-3 rounded js-scroll-trigger" href="#about">nosotros</a></li>
                        <li class="nav-item mx-0 mx-lg-1"><a class="nav-link py-3 px-0 px-lg-3 rounded js-scroll-trigger" href="#contact">Contacto</a></li>
                         <li class="nav-item mx-0 mx-lg-1"><a class="nav-link py-3 px-0 px-lg-3 rounded js-scroll-trigger" href="#blog">blog</a></li>
                    </ul>
                </div>
            </div>
        </nav>
        <!-- Masthead-->
        <header class="masthead bg-primary text-white text-center">
            <div class="container d-flex align-items-center flex-column">
                <!-- Masthead Avatar Image--><img class="masthead-avatar mb-5" src="assets/img/acupuntura en santiago.png" alt="terapia de acupuntura en la ciudad de santiago" /><!-- Masthead Heading-->
                <h1 class="masthead-heading text-uppercase mb-0">Acupuntura en santiago de chile</h1>
                <!-- Icon Divider-->
                <div class="divider-custom divider-light">
                    <div class="divider-custom-line"></div>
                    <div class="divider-custom-icon"><i class="fas fa-star"></i></div>
                    <div class="divider-custom-line"></div>
                </div>
                <!-- Masthead Subheading-->
                <p class="masthead-subheading font-weight-light mb-0">jose carlos & mirna conti</p>
            </div>
            
        </header>
        <!-- Portfolio Section-->
        <section class="page-section portfolio" id="portfolio">
            <div class="container">
                <!-- Portfolio Section Heading-->
                <h2 class="page-section-heading text-center text-uppercase text-secondary mb-0">terapias</h2>
        <section>
                   
                <div class="col-6">
                        <img src="assets/img/acupuntura en santiago.png" alt="">
                       
                        <p>
              
               <!-- Inicio código Jcc-->   
               <hr>   
                        <h6 class="page-section-heading text-center font face="tangerine" "> Dolor</h6>    
                           
                        </p>
                        <p>
                <hr>   
                        <h5 class="font face="tangerine" ">Arritmia</h5>    
                                        
                        </p>                      

                </div>
                    <hr>                     
                    <div class="container-fuid">
                        <div class="row">
                              <div class= "col-md-2">
                                <img src="imagenes/Acup-Arritmia1.jpg" height="200" width="230" class="img-responsive img thumbnai" alt="">
                              </div> 
                              <div class= "col-md-4">
                                <img  src="imagenes/Acup-Arritmia2.jpg" height="200" width="230" class="img-responsive img thumbnai mx ml-auto d-block alt="">
                              </div>
                              <div class= "col-md-5">
                                <img  src="imagenes/Acup-Arritmia3.jpg" height="200" width="230" class="img-responsive img thumbnai mx ml-auto d-block alt="">
                              </div>
                        </div>
                    </div>

                    <p>
                        <hr>   
                        <h5 class="font face="tangerine" ">Aplicación de la acupuntura</h5>    
                                                
                    </p>                                           
                    <div class="col-9-md-6-sm-6">
                       <div  class="font face="tangerine" size="4""> 
                            <div class="text-justify">            
                                <hr>         
                                El corazón es un musculo que late de forma constante desde antes de nacer y hasta que nos morimos, y aunque siempre está en funcionamiento hay ocasiones en las que puede variar sus latidos, latiendo unas veces más lento y otras más rápido, dependiendo de la cantidad de oxigeno que necesite el organismo. Y cuando se produce un cambio de este tipo en el ritmo habitual del corazón es cuando puede intervenir la acupuntura para la arritmia, pues esta patología cardíaca recibe este nombre, y la acupuntura es capaz de tratar este y otros problemas cardíacos.                         
                                <br><br>
                                El corazón bombea alrededor de cinco litros de sangre por minuto, y aunque tú estés en reposo el corazón sigue funcionando debido a los impulsos eléctricos originados en el marca pasos de este músculo. Por lo que este ritmo cardíaco se puede alterar debido a estímulos externos, cuando el ritmo se acelera debido al estrés se denomina taquicardia, mientras que si el ritmo se hace más lento, a un ritmo parecido a cuando estás dormido, se conoce como bradicardia. Y en los casos en los que el ritmo es totalmente irregular se llama arritmia.
                            
                                <p>
                                    <hr>   
                                    <h5 class="font face="tangerine" ">Sintomas</h5>    
                                </p>           
                            
                                 Esta patología no tiene unos síntomas claros, pues depende mucho del tipo de arritmia, la duración de ésta, y por supuesto del estado del corazón, de forma que hay casos en los que no se presenta ningún síntoma que pueda advertirte, y en algunos casos simplemente con notar palpitaciones no significa que padezcas una arritmia.
                                 En cambio para la bradicardia el más indicativo de que la estás padeciendo es notar una sensación de cansancio, falta de aliento, y mareo. Y en el caso de la taquicardia sus síntomas son un pulso fuerte en el cuello, latidos irregulares en el pecho, malestar en esta zona, debilidad, falta de aliento, mareos, y sudoración.
                                
                                 <p>
                                    <hr>   
                                    <h5 class="font face="tangerine" ">Puntos de acupuntura para la arritmia</h5>    
                                </p>    
                        
                                 La acupuntura consigue muy buenos resultados, tanto en relación con la arritmia como con cualquier problema cardíaco, pues normalmente lo que produce estas irregularidades son la alteración de los estados nerviosos.
                                 En acupuntura existen diferentes técnicas, y una que ha conseguido muy buenos resultados es el método del punto único, basado en centrarse en un único punto para resolver el problema del paciente, por ellos el acupuntor se deberá de centrar en el punto más poderoso.
                                 <br><br>

                                 En el caso de la arritmia cardíaca ese punto es el Per 6 (Nei Guan), pues éste es considerado el mejor regulador cardíaco de la acupuntura. La forma de actuar es pinchando en los dos Per 6 (Nei Guan) hacia arriba, concretamente en dirección MC5 (Jian Shi), y a 1 cun de profundidad. Con el método Ti Cha (que consiste en insertar- retirar), y Nian Zhuan (basado en la rotación) se obtendrá una sensación de Qi, de dolor, pesadez o entumecimiento que se irá extendiendo hacia arriba por el brazo.
                                
                                 <br><br>
                                 En los casos de personas mayores, o personas que sean débiles, el método que se deberá usar es el de tonificación equilibrada, que tendrá una sensación de Qi moderada. Y por último, si el paciente es una persona de constitución fuerte el método que se deberá usar es el de dispersión, con una sensación de Qi muy potente. Pero en estos casos las sesiones deben de ser cortas, de unos 10 o 15 minutos.
                                 También hay otros puntos de acupuntura para la arritmia como pueden ser: 15V (Shu Xin), 6PC (Nei Guan), 7C (Shen Men), 36E (Zu San Li), 6B (San Yin Jiao) y 17RM (Zhong Dan).
                                                                 
                            </div>
                        </div>  
                    </div>  
                </div>     
    
                <!-- Termino código Jcc--> 
        </section>
        
        
                <!-- Footer-->
        <footer class="footer text-center">
            <div class="container">
                <div class="row">
                    <!-- Footer Location-->
                    <div class="col-lg-4 mb-5 mb-lg-0">
                        <h4 class="text-uppercase mb-4">lugar de Atención</h4>
                        <p class="lead mb-0">Santiago region metropolitana<br />las Condes, Providencia, Ñuñoa, Vitacura</p>
                    </div>
                    <!-- Footer Social Icons-->
                    <div class="col-lg-4 mb-5 mb-lg-0">
                        <h4 class="text-uppercase mb-4">Redes sociales</h4>
                        <a class="btn btn-outline-light btn-social mx-1" href="#"><i class="fab fa-fw fa-facebook-f"></i></a><a class="btn btn-outline-light btn-social mx-1" href="#"><i class="fab fa-fw fa-twitter"></i></a><a class="btn btn-outline-light btn-social mx-1" href="#"><i class="fab fa-fw fa-linkedin-in"></i></a><a class="btn btn-outline-light btn-social mx-1" href="#"><i class="fab fa-fw fa-dribbble"></i></a>
                    </div>
                    <!-- Footer About Text-->
                    <div class="col-lg-4">
                        <h4 class="text-uppercase mb-4">Acupuntura a domicilio</h4>
                        <p class="lead mb-0">no dudes en contactarnos para una atencion mas comodo en su hogar</a>.</p>
                    </div>
                </div>
            </div>
        </footer>
         
        <!-- Bootstrap core JS-->
        <script src="https://cdnjs.cloudflare.com/ajax/libs/jquery/3.4.1/jquery.min.js"></script>
        <script src="https://stackpath.bootstrapcdn.com/bootstrap/4.4.1/js/bootstrap.bundle.min.js"></script>
        <!-- Third party plugin JS-->
        <script src="https://cdnjs.cloudflare.com/ajax/libs/jquery-easing/1.4.1/jquery.easing.min.js"></script>
        <!-- Contact form JS-->
        <script src="assets/mail/jqBootstrapValidation.js"></script>
        <script src="assets/mail/contact_me.js"></script>
        <!-- Core theme JS-->
        <script src="js/scripts.min.js"></script>
        <script src="https://cdnjs.cloudflare.com/ajax/libs/materialize/1.0.0/js/materialize.min.js"></script>    </body>
</html>
