<!DOCTYPE html>
<html lang="en">
    <head>
        <meta charset="utf-8" />
        <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no" />
        <meta name="description" content="acupuntura en santiago terapia de medicicha china, enfocada en tratramientos de diversas patologias, ya sean dolorosas, organicas, dermatopatias,neuralgicas entre otras" />
        <meta name="author" content=" paulo silva kinesiologo y acupunturista" />
        <meta name="geo.region" content="CL-RM">
        <meta name="geo.placename" content="Santiago">
        <meta name="geo.position" content="-33.44889;-70.669265">
        <meta name="ICBM" content="-33.44889, -70.669265">
        <meta name="robots" content=" index ">
        <meta name="keywords" content="">
        <link rel="canonical" href=" http://www.sitioweb.cl ">
        <link rel="icon" sizes="192x192" type="images/png" href="images/Favicon.png">
        <link rel="apple-touch-icon" sizes="192x192" href="images/Favicon.png"/>
                <!--   metas de redes sociales-->
       <!-- <meta property="fb:app_id" content="342670069681285">
        <meta property="og:locale" content="es_CL">
        <meta property="og:type" content="website">
        <meta property="og:image" content="http://www.kinesishouse.cl/images/Respiratoria_jpg.webp">
        <meta property="og:image:type" content="image/webp">
        <meta property="og:image:width" content="400">
        <meta property="og:image:height" content="300">
        <meta property="og:title" content="▷ Servicio de Kinesiologia a Domicilio | kinesiologo respiratorio a domicilio">
        <meta property="og:description" content="servicio de kinesiologia a domicilio para las comunas de : Las Condes, Providencia, La Florida, Macul, Peñalolen y Ñuñoa.">
        <meta property="og:url" content="http://www.kinesishouse.cl/">
        <meta property="og:site_name" content="kinesis house">
        <meta name="twitter:card" content="summary">
        <meta name="twitter:description" content="servicio de kinesiologia a domicilio para las comunas de : Las Condes, Providencia, La Florida, Macul, Peñalolen y Ñuñoa.">
        <meta name="twitter:title" content="▷ Servicio de Kinesiologia a Domicilio | kinesiologo respiratorio a domicilio"> -->

               <!--Import Google Icon Font-->
        <link rel="preload" href="https://fonts.googleapis.com/icon?family=Material+Icons" as="font-display: swap" crossorigin>
        <link href="https://fonts.googleapis.com/icon?family=Material+Icons" rel="stylesheet">


        <title>acupuntura en santiago</title>
        <!-- Font Awesome icons (free version)-->
        <script src="https://use.fontawesome.com/releases/v5.12.1/js/all.js" crossorigin="anonymous"></script>
        <!-- Google fonts-->
        <link href="https://fonts.googleapis.com/css?family=Montserrat:400,700" rel="stylesheet" type="text/css" />
        <link href="https://fonts.googleapis.com/css?family=Lato:400,700,400italic,700italic" rel="stylesheet" type="text/css" />
        <!-- Core theme CSS (includes Bootstrap)-->
        <link href="css/styles.min.css" rel="stylesheet" />
    </head>
    <body id="page-top">
        <!-- Navigation-->
        <nav class="navbar navbar-expand-lg bg-secondary text-uppercase fixed-top" id="mainNav">
            <div class="container">
                <a class="navbar-brand js-scroll-trigger" href="#page-top">acupuntura en santiago</a><button class="navbar-toggler navbar-toggler-right text-uppercase font-weight-bold bg-primary text-white rounded" type="button" data-toggle="collapse" data-target="#navbarResponsive" aria-controls="navbarResponsive" aria-expanded="false" aria-label="Toggle navigation"><i class="fas fa-bars"></i></button>
                <div class="collapse navbar-collapse" id="navbarResponsive">
                    <ul class="navbar-nav ml-auto">
                        <li class="nav-item mx-0 mx-lg-1"><a class="nav-link py-3 px-0 px-lg-3 rounded js-scroll-trigger" href="#portfolio">terapias</a></li>
                        <li class="nav-item mx-0 mx-lg-1"><a class="nav-link py-3 px-0 px-lg-3 rounded js-scroll-trigger" href="#about">nosotros</a></li>
                        <li class="nav-item mx-0 mx-lg-1"><a class="nav-link py-3 px-0 px-lg-3 rounded js-scroll-trigger" href="#contact">Contacto</a></li>
                         <li class="nav-item mx-0 mx-lg-1"><a class="nav-link py-3 px-0 px-lg-3 rounded js-scroll-trigger" href="#blog">blog</a></li>
                    </ul>
                </div>
            </div>
        </nav>
        <!-- Masthead-->
        <header class="masthead bg-primary text-white text-center">
            <div class="container d-flex align-items-center flex-column">
                <!-- Masthead Avatar Image--><img class="masthead-avatar mb-5" src="assets/img/acupuntura en santiago.png" alt="terapia de acupuntura en la ciudad de santiago" /><!-- Masthead Heading-->
                <h1 class="masthead-heading text-uppercase mb-0">Acupuntura en santiago de chile</h1>
                <!-- Icon Divider-->
                <div class="divider-custom divider-light">
                    <div class="divider-custom-line"></div>
                    <div class="divider-custom-icon"><i class="fas fa-star"></i></div>
                    <div class="divider-custom-line"></div>
                </div>
                <!-- Masthead Subheading-->
                <p class="masthead-subheading font-weight-light mb-0">jose carlos & mirna conti</p>
            </div>
            
        </header>
        <!-- Portfolio Section-->
        <section class="page-section portfolio" id="portfolio">
            <div class="container">
                <!-- Portfolio Section Heading-->
                <h2 class="page-section-heading text-center text-uppercase text-secondary mb-0">terapias</h2>
        <section>
                   
                <div class="col-6">
                        <img src="assets/img/acupuntura en santiago.png" alt="">
                       
                        <p>
              
               <!-- Inicio código Jcc-->   
               <hr>   
                        <h6 class="page-section-heading text-center font face="tangerine" "> Ansiedad</h6>    
                           
                        </p>
                        <p>
                <hr>   
                        <h5 class="font face="tangerine" ">Ansiedad</h5>    
                                        
                        </p>                      

                </div>
                    <hr>                     
                    <div class="container-fuid">
                        <div class="row">
                              <div class= "col-md-4">
                                <img src="imagenes/Acup-Ansiedad1.jpg" height="150" width="200" class="img-responsive img thumbnai" alt="">
                              </div> 
                              <div class= "col-md-5">
                                <img  src="imagenes/Acup-Ansiedad2.jpg" height="150" width="200" class="img-responsive img thumbnai mx ml-auto d-block alt="">
                              </div>
                         </div>
                    </div>

                    <p 
                    <hr>       
                    <h6 class="font face="tangerine" ">Beneficios de la acupuntura para aliviar la ansiedad y el estrés</h6> 
                   </p>     
                       <section class="features">                                 
                            <div class="container">
                               <div class="font face="tangerine" size="4""> 
                                <!--<div class="text-justify">-->                                          
                                <!--<div class="row"> -->
                                    <div class="col-mx-4">
                                      <div class="text-justify">                                                                                                                               
                                            
                                                   <li>Disminuye la frecuencia de los ataques de ansiedad. La acupuntura pretende establecer ciertos cambios en el estilo de vida del paciente que le puedan ayudar a equilibrar su mente, como por ejemplo realizar ejercicios de Yoga o de Tai Chi.</li>          
                                                   <li>Puede llegar a reducir síntomas físicos y mentales de otros problemas existentes en el paciente. En la medicina tradicional china, el trastorno de ansiedad no se percibe como un trastorno en el cerebro, sino como un mal funcionamiento en órganos internos. En la medicina china, los órganos y las emociones están íntimamente conectados. Los órganos se pueden ver afectados por cambios de dieta, ambientales, en el estilo de vida o por factores hereditarios. Por ello, la acupuntura relaciona la preocupación y el trabajo mental excesivo con un trastorno en el bazo. La acupuntura clasifica la causa de los trastornos de acuerdo con el grado en el que los órganos individuales demuestran signos y síntomas y el grado en que se ve afectada su Qì. En general en lo que a ansiedad se refiere, los órganos que más presentan problemas son el bazo y el corazón. </li>                                                                
                                                   <li>La acupuntura carece de efectos secundarios propios de los fármacos, ya que no implica la administración de ninguna sustancia química al organismo.</li>
                                                   <li>La acupuntura es una práctica enfocada a corregir la causa del problema y no solamente sus síntomas, por lo que se puede considerar que “cura”. Actúa sobre el sistema inmunitario, hormonal, nerviosos, sanguíneo, emocional, etc. con el objetivo de recuperar el equilibrio de la fuerza vital en el paciente.</li>
                                                   <li>Es una técnica casi tan antigua como la humanidad ya que se usa desde el neolítico. En el siglo XIX la acupuntura comienza a difundirse ampliamente, más allá de oriente.</li></ul>
                                                                                                 
                                                    
                                <p>
                                    Por último, es importante señalar que, en muchos casos aunque la acupuntura pueda resultar muy útil en el alivio de estados de estrés y ansiedad, hay veces que sólo el uso de la acupuntura no es suficiente para resolver los problemas y, en las enfermedades más graves, la técnica debe ser combinada con el tratamiento convencional. Por ello es totalmente aconsejable seguir un buen control médico de la patología a tratar, independientemente del uso junto con la acupuntura.
                                    <br><br>
                                    En la medicina china, los órganos y las emociones están íntimamente conectados. En ese sentido la preocupación y el trabajo mental excesivo, corresponden a un trastorno en el bazo. La falta de entusiasmo y vitalidad, inquietud, depresión, insomnio, desesperación son síntomas de un trastorno del corazón. Síntomas emocionales como la ira, el resentimiento, la frustración, irritabilidad, amargura, están relacionados con el hígado. Con el pulmón, están ligados el dolor, la tristeza y el desapego. Por último, con un desequilibrio en los riñones, una persona puede sentirse temerosa, insegura y aislada.

                                </p>                                                                                     
                                                                                         
                                                                                   
                                        </div>   
                                    </div>
                                </div>  
                            </div>  
                    </div> 
                     
     <!-- Termino código Jcc--> 
        </section>       
                                    </p>
                
                                </p>
                            </p>
                        </div>
            
        </section>     
        
        
                <!-- Footer-->
        <footer class="footer text-center">
            <div class="container">
                <div class="row">
                    <!-- Footer Location-->
                    <div class="col-lg-4 mb-5 mb-lg-0">
                        <h4 class="text-uppercase mb-4">lugar de Atención</h4>
                        <p class="lead mb-0">Santiago region metropolitana<br />las Condes, Providencia, Ñuñoa, Vitacura</p>
                    </div>
                    <!-- Footer Social Icons-->
                    <div class="col-lg-4 mb-5 mb-lg-0">
                        <h4 class="text-uppercase mb-4">Redes sociales</h4>
                        <a class="btn btn-outline-light btn-social mx-1" href="#"><i class="fab fa-fw fa-facebook-f"></i></a><a class="btn btn-outline-light btn-social mx-1" href="#"><i class="fab fa-fw fa-twitter"></i></a><a class="btn btn-outline-light btn-social mx-1" href="#"><i class="fab fa-fw fa-linkedin-in"></i></a><a class="btn btn-outline-light btn-social mx-1" href="#"><i class="fab fa-fw fa-dribbble"></i></a>
                    </div>
                    <!-- Footer About Text-->
                    <div class="col-lg-4">
                        <h4 class="text-uppercase mb-4">Acupuntura a domicilio</h4>
                        <p class="lead mb-0">no dudes en contactarnos para una atencion mas comodo en su hogar</a>.</p>
                    </div>
                </div>
            </div>
        </footer>
         
        <!-- Bootstrap core JS-->
        <script src="https://cdnjs.cloudflare.com/ajax/libs/jquery/3.4.1/jquery.min.js"></script>
        <script src="https://stackpath.bootstrapcdn.com/bootstrap/4.4.1/js/bootstrap.bundle.min.js"></script>
        <!-- Third party plugin JS-->
        <script src="https://cdnjs.cloudflare.com/ajax/libs/jquery-easing/1.4.1/jquery.easing.min.js"></script>
        <!-- Contact form JS-->
        <script src="assets/mail/jqBootstrapValidation.js"></script>
        <script src="assets/mail/contact_me.js"></script>
        <!-- Core theme JS-->
        <script src="js/scripts.min.js"></script>
        <script src="https://cdnjs.cloudflare.com/ajax/libs/materialize/1.0.0/js/materialize.min.js"></script>    </body>
</html>
