<% include partial/head.ejs %>	
<% include partial/navbar.ejs %>
    <body id="page-top">
      
        <!-- Masthead-->
        <header class="masthead bg-primary text-white text-center">
            <div class="container d-flex align-items-center flex-column">
                <!-- Masthead Avatar Image--><img class="masthead-avatar mb-5" src="assets/img/acupuntura en santiago.png" alt="terapia de acupuntura en la ciudad de santiago" /><!-- Masthead Heading-->
                <h1 class="header center orange-text"><%= tiTuloh1%></h1>
                <!-- Icon Divider-->
                <div class="divider-custom divider-light">
                    <div class="divider-custom-line"></div>
                    <div class="divider-custom-icon"><i class="fas fa-star"></i></div>
                    <div class="divider-custom-line"></div>
                </div>
                <!-- Masthead Subheading-->
                <p class="masthead-subheading font-weight-light mb-0">jose carlos & mirna conti</p>
            </div>
            
        </header>
        <!-- Portfolio Section-->
        <section class="page-section portfolio" id="portfolio">
            <div class="container">
                <!-- Portfolio Section Heading-->
                <h2 class="page-section-heading text-center text-uppercase text-secondary mb-0">terapias</h2>
        <section>
                   
                <div class=" align-items-center col-6">
                        <img src="assets/img/acupuntura en santiago.png" alt="">
                       
                        <p>
              
               <!-- Inicio código Jcc-->   
               <hr>   
                        <h6 class="page-section-heading text-center font face="tangerine" "> Dolor</h6>    
                           
                        </p>
                        <p>
                <hr>   
                        <h5 class="font face="tangerine" ">Bursitis (fluido en las articulaciones)</h5>    
                                        
                        </p>                      

                </div>
            <!-- Tarjeta1 --> 
                <div class="row">

                    <div class="col-lg-4 col-md-6 mb-4">
                      <div class="card h-100">
                        <a href="http://www.terapiaacupunturasantiago.cl/acne"><img class="card-img-top" src="imagenes/Acup-Anorexia1.jpg" height="150" width="100" class="img-responsive img thumbnai" alt=""></a>
                        <div class="card-body">
                          <h4 class="card-title">
                            <a href="#">Anorexia</a>
                          </h4>
                          
                          <p class="card-text">Rechazo a mantener el peso corporal en el mínimo normal para su edad y altura, o por encima de éste.
          
                          </p>
                        </div>
                        <div class="card-footer">
                        <a class="btn btn-primary" href="http://www.terapiaacupunturasantiago.cl/acne"  role="button"> ver mas &raquo; </a>
          
                      </div>
                      </div>
                    </div>
            <!--Fin  Tarjeta1 -->
            <!-- Tarjeta2 -->
                    <div class="col-lg-4 col-md-6 mb-4">
                      <div class="card h-100">
                        <a href="http://www.terapiaacupunturasantiago.cl/acne"><img class="card-img-top" src="imagenes/Acup-Acne1.jpg" height="150" width="100" class="img-responsive img thumbnai" alt=""></a>
                        <div class="card-body">
                          <h4 class="card-title">
                            <a href="#">Acne</a>
                          </h4>
                          
                          <p class="card-text">El acné es una enfermedad que se caracteriza por la aparición de lesiones en la piel como consecuencia de una inflamación y posterior infección del poro folicular (orificio de salida del pelo).
                          </p>
                        </div>
                        <div class="card-footer">
                        <a class="btn btn-primary" href="http://www.terapiaacupunturasantiago.cl/acne" role="button"> ver mas &raquo; </a>
          
                      </div>
                      </div>
                    </div>
            <!-- Fin Tarjeta2 -->
            <!-- Tarjeta3 -->
                    <div class="col-lg-4 col-md-6 mb-4">
                        <div class="card h-100">
                          <a href="#"><img class="card-img-top" src="imagenes/Acup-Apnea1.jpg" height="150" width="100" class="img-responsive img thumbnai" alt=""></a>
                          <div class="card-body">
                            <h4 class="card-title">
                              <a href="#">Apnea</a>
                            </h4>
                            
                            <p class="card-text">Cuando dormimos normalmente todos los músculos de nuestro cuerpo se relajan más, incluyendo los músculos de la garganta, para que este pueda hacer fluir el aire hacia los pulmones.
                            </p>
                          </div>
                          <div class="card-footer">
                          <a class="btn btn-primary" href="C:\xampp\htdocs\startbootstrap-freelancer-gh-pages/Acupuntura_Apnea.html" role="button"> ver mas &raquo; </a>
            
                        </div>
                        </div>
                      </div>
            <!-- Fin Tarjeta3 -->

       
        <!-- -------------------------------------------------------------------------------- -->
        
     <!-- Tarjeta4 -->
           <div class="col-lg-4 col-md-6 mb-4">
            <div class="card h-100">
              <a href="#"><img class="card-img-top" src="imagenes/Acup-Arritmia1.jpg" height="150" width="100" class="img-responsive img thumbnai" alt=""></a>
              <div class="card-body">
                <h4 class="card-title">
                  <a href="#">Arritmia</a>
                </h4>
                
                <p class="card-text">El corazón es un musculo que late de forma constante desde antes de nacer y hasta que nos morimos, y aunque siempre está en funcionamiento hay ocasiones en las que puede variar sus latidos, algunas veces más lento y otras más rápido.
                </p>
              </div>
              <div class="card-footer">
              <a class="btn btn-primary" href="Acupuntura_Arritmia" role="button"> ver mas &raquo; </a>

            </div>
            </div>
          </div>
    <!-- Fin Tarjeta4 -->                
                    
 <!-- Tarjeta5 -->
        <div class="col-lg-4 col-md-6 mb-4">
            <div class="card h-100">
            <a href="#"><img class="card-img-top" src="imagenes/Acup-Ansiedad1.jpg" height="150" width="100" class="img-responsive img thumbnai" alt=""></a>
            <div class="card-body">
                <h4 class="card-title">
                <a href="#">Ansiedad</a>
                </h4>
                
                <p class="card-text">Disminuye la frecuencia de los ataques de ansiedad. La acupuntura pretende establecer ciertos cambios en el estilo de vida del paciente que le puedan ayudar a equilibrar su mente, como por ejemplo realizar ejercicios de Yoga o de Tai Chi.
                </p>
            </div>
            <div class="card-footer">
            <a class="btn btn-primary" href="C:\xampp\htdocs\startbootstrap-freelancer-gh-pages/Acupuntura_Ansiedad.html" role="button"> ver mas &raquo; </a>

            </div>
            </div>
        </div>
        <!-- Fin Tarjeta5 -->                             
        <!-- Tarjeta6 -->
        <div class="col-lg-4 col-md-6 mb-4">
            <div class="card h-100">
            <a href="#"><img class="card-img-top" src="imagenes/Acup-Alergia-1.jpg" height="150" width="100" class="img-responsive img thumbnai" alt=""></a>
            <div class="card-body">
                <h4 class="card-title">
                <a href="#">Alergias</a>
                </h4>
                
                <p class="card-text">Cuando llega la Primavera reflorecen las plantas liberando su polen, lo que hace que millones de personas en todo el mundo sufran alergia, 
                </p>
            </div>
            <div class="card-footer">
            <a class="btn btn-primary" href="C:\xampp\htdocs\startbootstrap-freelancer-gh-pages/Acupuntura_Alergias.html" role="button"> ver mas &raquo; </a>

            </div>
            </div>
        </div>
        <!-- Fin Tarjeta6 -->   

        <!-- Tarjeta7 -->
        <div class="col-lg-4 col-md-6 mb-4">
            <div class="card h-100">
            <a href="#"><img class="card-img-top" src="imagenes/Acup-Anemia1.jpg" height="150" width="100" class="img-responsive img thumbnai" alt=""></a>
            <div class="card-body">
                <h4 class="card-title">
                <a href="#">Anemia</a>
                </h4>
                
                <p class="card-text">El tratamiento, preferentemente debe efectuarse en horas de la mañana, sin que el día anterior el paciente haya ingerido bebidas alcohólicas o algún medicamento como, psicofármacos, esteroides,
                </p>
            </div>
            <div class="card-footer">
            <a class="btn btn-primary" href="C:\xampp\htdocs\startbootstrap-freelancer-gh-pages/Acupuntura_Anemia.html" role="button"> ver mas &raquo; </a>

            </div>
            </div>
        </div>
        <!-- Fin Tarjeta7 --> 

        <!-- Tarjeta8 -->
        <div class="col-lg-4 col-md-6 mb-4">
            <div class="card h-100">
            <a href="#"><img class="card-img-top" src="imagenes/Acup-Artritis1.jpg" height="150" width="100" class="img-responsive img thumbnai" alt=""></a>
            <div class="card-body">
                <h4 class="card-title">
                <a href="#">Artritis</a>
                </h4>
                
                <p class="card-text">Artritis reumatoide (AR) es una enfermedad auto inmunitaria de evolución variable que puede dejar una deformidad y limitación funcional de difícil solución desde el abordaje médico convencional,
                </p>
            </div>
            <div class="card-footer">
            <a class="btn btn-primary" href="C:\xampp\htdocs\startbootstrap-freelancer-gh-pages/Acupuntura_Artritis.html" role="button"> ver mas &raquo; </a>

            </div>
            </div>
        </div>
        <!-- Fin Tarjeta8 -->

        <!-- Tarjeta9 -->
        <div class="col-lg-4 col-md-6 mb-4">
            <div class="card h-100">
            <a href="#"><img class="card-img-top" src="imagenes/Acup-Amenorrea1.jpg" height="150" width="100" class="img-responsive img thumbnai" alt=""></a>
            <div class="card-body">
                <h4 class="card-title">
                <a href="#">Amenorrea</a>
                </h4>
                
                <p class="card-text">Según la medicina occidental esto puede deberse a muchos factores como: obesidad, adelgazamiento excesivo,
                </p>
            </div>
            <div class="card-footer">
            <a class="btn btn-primary" href="C:\xampp\htdocs\startbootstrap-freelancer-gh-pages/Acupuntura_Amenorrea.html" role="button"> ver mas &raquo; </a>

            </div>
            </div>
        </div>
        <!-- Fin Tarjeta9 -->

          <!-- Tarjeta10 -->
          <div class="col-lg-4 col-md-6 mb-4">
            <div class="card h-100">
            <a href="#"><img class="card-img-top" src="imagenes/Acup-Arteriosclerosis2.jpg" height="150" width="100" class="img-responsive img thumbnai" alt=""></a>
            <div class="card-body">
                <h4 class="card-title">
                <a href="#">Arterioesclerosis</a>
                </h4>
                
                <p class="card-text">La Arterioesclerosis es un endurecimiento de las arterias, condición progresiva que afecta los vasos sanguíneos que salen del corazón para repartir oxígeno y nutrientes al resto del cuerpo.
                </p>
            </div>
            <div class="card-footer">
            <a class="btn btn-primary" href="C:\xampp\htdocs\startbootstrap-freelancer-gh-pages/Acupuntura_Arterioesclerosis.html" role="button"> ver mas &raquo; </a>

            </div>
            </div>
        </div>
        <!-- Fin Tarjeta10 -->
       
 <!-- Tarjeta11 -->
         <div class="col-lg-4 col-md-6 mb-4">
            <div class="card h-100">
            <a href="#"><img class="card-img-top" src="imagenes/Acup-Artrosis1.jpg" height="150" width="100" class="img-responsive img thumbnai" alt=""></a>
            <div class="card-body">
                <h4 class="card-title">
                <a href="#">Artrosis</a>
                </h4>
                
                <p class="card-text">La artrosis es una enfermedad reumática degenerativa que puede afectar a distintas articulaciones provocando dolor, crujidos, deformaciones, rigidez y limitación de movimiento. El dolor suele aliviarse con el reposo, aunque una inactividad demasiado prolongada también podría empeorar la situación.
                </p>
            </div>
            <div class="card-footer">
            <a class="btn btn-primary" href="C:\xampp\htdocs\startbootstrap-freelancer-gh-pages/Acupuntura_Artrosis.html" role="button"> ver mas &raquo; </a>

            </div>
            </div>
        </div>
        <!-- Fin Tarjeta11 -->

         <!-- Tarjeta12 -->
         <div class="col-lg-4 col-md-6 mb-4">
            <div class="card h-100">
            <a href="#"><img class="card-img-top" src="imagenes/Acup-Asma1.jpg" height="150" width="100" class="img-responsive img thumbnai" alt=""></a>
            <div class="card-body">
                <h4 class="card-title">
                <a href="#">Asma</a>
                </h4>
                
                <p class="card-text">En la medicina china el elemento de flema se asocia con un diagnóstico de asma. De hecho, los chinos usan el término “flema permanente” al hablar del asma, eso significa que incluso existe cuando no tienes síntomas.
                </p>
            </div>
            <div class="card-footer">
            <a class="btn btn-primary" href="C:\xampp\htdocs\startbootstrap-freelancer-gh-pages/Acupuntura_Asma.html" role="button"> ver mas &raquo; </a>

            </div>
            </div>
         </div>
        <!-- Fin Tarjeta12 -->

 <!-- Tarjeta13 -->
        <div class="col-lg-4 col-md-6 mb-4">
            <div class="card h-100">
            <a href="#"><img class="card-img-top" src="imagenes/Acup-Bruxismo1.jpg" height="150" width="100" class="img-responsive img thumbnai" alt=""></a>
            <div class="card-body">
                <h4 class="card-title">
                <a href="#">Bruxismo</a>
                </h4>
                
                <p class="card-text">El bruxismo es el hábito involuntario de apretar o rechinar los dientes. Esta tensión puede derivar en mayor sensibilidad dental, dolores de cabeza, dolor muscular, alteración del sueño, mareos, desviación mandibular, migraña, etc.
                </p>
            </div>
            <div class="card-footer">
            <a class="btn btn-primary" href="C:\xampp\htdocs\startbootstrap-freelancer-gh-pages/Acupuntura_Bruxismo.html" role="button"> ver mas &raquo; </a>

            </div>
            </div>
        </div>
<!-- Fin Tarjeta13 -->

 <!-- Tarjeta14 -->
 <div class="col-lg-4 col-md-6 mb-4">
    <div class="card h-100">
    <a href="#"><img class="card-img-top" src="imagenes/Acup-Bulimia1.jpg" height="150" width="100" class="img-responsive img thumbnai" alt=""></a>
    <div class="card-body">
        <h4 class="card-title">
        <a href="#">Bulimia</a>
        </h4>
        
        <p class="card-text">El bruxismo es el hábito involuntario de apretar o rechinar los dientes. Esta tensión puede derivar en mayor sensibilidad dental, dolores de cabeza, dolor muscular, alteración del sueño, mareos, desviación mandibular, migraña, etc.
        </p>
    </div>
    <div class="card-footer">
    <a class="btn btn-primary" href="C:\xampp\htdocs\startbootstrap-freelancer-gh-pages/Acupuntura_Bulimia.html" role="button"> ver mas &raquo; </a>

    </div>
    </div>
</div>
<!-- Fin Tarjeta14 --> 

<!-- Tarjeta15 -->
 <div class="col-lg-4 col-md-6 mb-4">
    <div class="card h-100">
    <a href="#"><img class="card-img-top" src="imagenes/Acup-Catarro1.jpg" height="150" width="100" class="img-responsive img thumbnai" alt=""></a>
    <div class="card-body">
        <h4 class="card-title">
        <a href="#">Catarro Común</a>
        </h4>
        
        <p class="card-text">En la Medicina Tradicional China, el resfriado se concibe desde una perspectiva holística donde se produce un desequilibrio debido a diferentes causantes, como es el frío (Agente Patógeno) o por la deficiencia de los Zheng Qi, el sistema Inmunitario o del Wei QI, sistema superficial o defensivo del organismo.
        </p>
    </div>
    <div class="card-footer">
    <a class="btn btn-primary" href="C:\xampp\htdocs\startbootstrap-freelancer-gh-pages/Acupuntura_Catarro.html" role="button"> ver mas &raquo; </a>

    </div>
    </div>
</div>
<!-- Fin Tarjeta15 -->

<!-- Tarjeta16 -->
<div class="col-lg-4 col-md-6 mb-4">
    <div class="card h-100">
    <a href="#"><img class="card-img-top" src="imagenes/Acup-Ciatica1.jpg" height="150" width="100" class="img-responsive img thumbnai" alt=""></a>
    <div class="card-body">
        <h4 class="card-title">
        <a href="#">Ciática</a>
        </h4>
        
        <p class="card-text">La ciática se refiere al dolor producido por la compresión del nervio ciático. Es un síndrome muy frecuente en la población.  La compresión del nervio ciático se suele atribuir a la hernia discal (desplazamiento del disco intervertebral) que comprime las raíces de los nervios que salen de la médula espinal y que forman parte del nervio ciático. 
        </p>
    </div>
    <div class="card-footer">
    <a class="btn btn-primary" href="C:\xampp\htdocs\startbootstrap-freelancer-gh-pages/Acupuntura_Ciatica.html" role="button"> ver mas &raquo; </a>

    </div>
    </div>
</div>
<!-- Fin Tarjeta16 -->

<!-- Tarjeta17 -->
<div class="col-lg-4 col-md-6 mb-4">
    <div class="card h-100">
    <a href="#"><img class="card-img-top" src="imagenes/Acup-Cistitis1.jpg" height="150" width="100" class="img-responsive img thumbnai" alt=""></a>
    <div class="card-body">
        <h4 class="card-title">
        <a href="#">Cistitis</a>
        </h4>
        
        <p class="card-text">La cistitis aguda es una patología común entre las mujeres. La mayoría de las veces es un cuadro agudo que dura unos pocos días y de causa infecciosa. 
        </p>
    </div>
    <div class="card-footer">
    <a class="btn btn-primary" href="C:\xampp\htdocs\startbootstrap-freelancer-gh-pages/Acupuntura_Cistitis.html" role="button"> ver mas &raquo; </a>

    </div>
    </div>
</div>
<!-- Fin Tarjeta17 -->

<!-- Tarjeta18 -->
<div class="col-lg-4 col-md-6 mb-4">
    <div class="card h-100">
    <a href="#"><img class="card-img-top" src="imagenes/Acup-ColicoNefretico1.jpg" height="150" width="100" class="img-responsive img thumbnai" alt=""></a>
    <div class="card-body">
        <h4 class="card-title">
        <a href="#">Cólico nefrítico</a>
        </h4>
        
        <p class="card-text">La cistitis aguda es una patología común entre las mujeres. La mayoría de las veces es un cuadro agudo que dura unos pocos días y de causa infecciosa. 
        </p>
    </div>
    <div class="card-footer">
    <a class="btn btn-primary" href="C:\xampp\htdocs\startbootstrap-freelancer-gh-pages/Acupuntura_ColicoNefretico.html" role="button"> ver mas &raquo; </a>

    </div>
    </div>
</div>
<!-- Fin Tarjeta18 -->

<!-- Tarjeta19 -->
<div class="col-lg-4 col-md-6 mb-4">
    <div class="card h-100">
    <a href="#"><img class="card-img-top" src="imagenes/Acup-colonirritable1.jpg" height="150" width="100" class="img-responsive img thumbnai" alt=""></a>
    <div class="card-body">
        <h4 class="card-title">
        <a href="#">Colon Irritable</a>
        </h4>
        
        <p class="card-text">Los síntomas digestivos propios y más comunes son el dolor y la distensión abdominales, y la alteración del ritmo intestinal.  
        </p>
    </div>
    <div class="card-footer">
    <a class="btn btn-primary" href="C:\xampp\htdocs\startbootstrap-freelancer-gh-pages/Acupuntura_ColonIrritable.html" role="button"> ver mas &raquo; </a>

    </div>
    </div>
</div>
<!-- Fin Tarjeta19 -->

<!-- Tarjeta20 -->
<div class="col-lg-4 col-md-6 mb-4">
    <div class="card h-100">
    <a href="#"><img class="card-img-top" src="imagenes/Acup-Renitis3.jpg" height="150" width="100" class="img-responsive img thumbnai" alt=""></a>
    <div class="card-body">
        <h4 class="card-title">
        <a href="#">Congestión Nasal (Renitis Alergica)</a>
        </h4>
        
        <p class="card-text">La alergia desde el punto de vista de la MTC es una enfermedad del "viento" que penetra desde el exterior junto con "frío" o "calor" e impide el flujo defensivo de Qi en el pulmón, la piel y las membranas mucosas.  
        </p>
    </div>
    <div class="card-footer">
    <a class="btn btn-primary" href="C:\xampp\htdocs\startbootstrap-freelancer-gh-pages/Acupuntura_Renitis.html" role="button"> ver mas &raquo; </a>

    </div>
    </div>
</div>
<!-- Fin Tarjeta20 -->













    </div> <!-- Fin ciclo tarjetas --> 



















                  
                  
  

                    <hr>

                         
     <!-- Termino código Jcc--> 
               
     <% include partial/boton.ejs %>
        
     <% include partial/footer.ejs %>
