<!DOCTYPE html>
<html lang="en">
    <head>
        <meta charset="utf-8" />
        <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no" />
        <meta name="description" content="acupuntura en santiago terapia de medicicha china, enfocada en tratramientos de diversas patologias, ya sean dolorosas, organicas, dermatopatias,neuralgicas entre otras" />
        <meta name="author" content=" paulo silva kinesiologo y acupunturista" />
        <meta name="geo.region" content="CL-RM">
        <meta name="geo.placename" content="Santiago">
        <meta name="geo.position" content="-33.44889;-70.669265">
        <meta name="ICBM" content="-33.44889, -70.669265">
        <meta name="robots" content=" index ">
        <meta name="keywords" content="">
        <link rel="canonical" href=" http://www.sitioweb.cl ">
        <link rel="icon" sizes="192x192" type="images/png" href="images/Favicon.png">
        <link rel="apple-touch-icon" sizes="192x192" href="images/Favicon.png"/>
                <!--   metas de redes sociales-->
       <!-- <meta property="fb:app_id" content="342670069681285">
        <meta property="og:locale" content="es_CL">
        <meta property="og:type" content="website">
        <meta property="og:image" content="http://www.kinesishouse.cl/images/Respiratoria_jpg.webp">
        <meta property="og:image:type" content="image/webp">
        <meta property="og:image:width" content="400">
        <meta property="og:image:height" content="300">
        <meta property="og:title" content="▷ Servicio de Kinesiologia a Domicilio | kinesiologo respiratorio a domicilio">
        <meta property="og:description" content="servicio de kinesiologia a domicilio para las comunas de : Las Condes, Providencia, La Florida, Macul, Peñalolen y Ñuñoa.">
        <meta property="og:url" content="http://www.kinesishouse.cl/">
        <meta property="og:site_name" content="kinesis house">
        <meta name="twitter:card" content="summary">
        <meta name="twitter:description" content="servicio de kinesiologia a domicilio para las comunas de : Las Condes, Providencia, La Florida, Macul, Peñalolen y Ñuñoa.">
        <meta name="twitter:title" content="▷ Servicio de Kinesiologia a Domicilio | kinesiologo respiratorio a domicilio"> -->

               <!--Import Google Icon Font-->
        <link rel="preload" href="https://fonts.googleapis.com/icon?family=Material+Icons" as="font-display: swap" crossorigin>
        <link href="https://fonts.googleapis.com/icon?family=Material+Icons" rel="stylesheet">


        <title>acupuntura en santiago</title>
        <!-- Font Awesome icons (free version)-->
        <script src="https://use.fontawesome.com/releases/v5.12.1/js/all.js" crossorigin="anonymous"></script>
        <!-- Google fonts-->
        <link href="https://fonts.googleapis.com/css?family=Montserrat:400,700" rel="stylesheet" type="text/css" />
        <link href="https://fonts.googleapis.com/css?family=Lato:400,700,400italic,700italic" rel="stylesheet" type="text/css" />
        <!-- Core theme CSS (includes Bootstrap)-->
        <link href="css/styles.min.css" rel="stylesheet" />
    </head>
    <body id="page-top">
        <!-- Navigation-->
        <nav class="navbar navbar-expand-lg bg-secondary text-uppercase fixed-top" id="mainNav">
            <div class="container">
                <a class="navbar-brand js-scroll-trigger" href="#page-top">acupuntura en santiago</a><button class="navbar-toggler navbar-toggler-right text-uppercase font-weight-bold bg-primary text-white rounded" type="button" data-toggle="collapse" data-target="#navbarResponsive" aria-controls="navbarResponsive" aria-expanded="false" aria-label="Toggle navigation"><i class="fas fa-bars"></i></button>
                <div class="collapse navbar-collapse" id="navbarResponsive">
                    <ul class="navbar-nav ml-auto">
                        <li class="nav-item mx-0 mx-lg-1"><a class="nav-link py-3 px-0 px-lg-3 rounded js-scroll-trigger" href="#portfolio">terapias</a></li>
                        <li class="nav-item mx-0 mx-lg-1"><a class="nav-link py-3 px-0 px-lg-3 rounded js-scroll-trigger" href="#about">nosotros</a></li>
                        <li class="nav-item mx-0 mx-lg-1"><a class="nav-link py-3 px-0 px-lg-3 rounded js-scroll-trigger" href="#contact">Contacto</a></li>
                         <li class="nav-item mx-0 mx-lg-1"><a class="nav-link py-3 px-0 px-lg-3 rounded js-scroll-trigger" href="#blog">blog</a></li>
                    </ul>
                </div>
            </div>
        </nav>
        <!-- Masthead-->
        <header class="masthead bg-primary text-white text-center">
            <div class="container d-flex align-items-center flex-column">
                <!-- Masthead Avatar Image--><img class="masthead-avatar mb-5" src="assets/img/acupuntura en santiago.png" alt="terapia de acupuntura en la ciudad de santiago" /><!-- Masthead Heading-->
                <h1 class="masthead-heading text-uppercase mb-0">Acupuntura en santiago de chile</h1>
                <!-- Icon Divider-->
                <div class="divider-custom divider-light">
                    <div class="divider-custom-line"></div>
                    <div class="divider-custom-icon"><i class="fas fa-star"></i></div>
                    <div class="divider-custom-line"></div>
                </div>
                <!-- Masthead Subheading-->
                <p class="masthead-subheading font-weight-light mb-0">jose carlos & mirna conti</p>
            </div>
            
        </header>
        <!-- Portfolio Section-->
        <section class="page-section portfolio" id="portfolio">
            <div class="container">
                <!-- Portfolio Section Heading-->
                <h2 class="page-section-heading text-center text-uppercase text-secondary mb-0">terapias</h2>
        <section>
                   
                <div class="col-6">
                        <img src="assets/img/acupuntura en santiago.png" alt="">
                       
                        <p>
              
               <!-- Inicio código Jcc-->   
               <hr>   
                        <h6 class="page-section-heading text-center font face="tangerine" "> Dolor</h6>    
                           
                        </p>
                        <p>
                <hr>   
                        <h5 class="font face="tangerine" ">Amenorrea (falta del periodo menstrual)</h5>    
                                        
                        </p>                      

                </div>
                    <hr>                     
                    <div class="container-fuid">
                        <div class="row">
                              <div class= "col-md-2">
                                <img src="imagenes/Acup-Amenorrea1.jpg" height="200" width="300" class="img-responsive img thumbnai" alt="">
                              </div> 
                              <div class= "col-md-6">
                                <img  src="imagenes/Acup-Amenorrea2.jpg" height="200" width="300" class="img-responsive img thumbnai mx ml-auto d-block alt="">
                              </div>
                           <!-- <div class= "col-md-5">
                                <img  src="imagenes/bursitis-dolor3.jpg" height="200" width="300" class="img-responsive img thumbnai mx ml-auto d-block alt="">
                              </div> -->
                         </div>
                    </div>
                                          
                    <div class="col-9-md-6-sm-6">
                       <div  class="font face="tangerine" size="4""> 
                        <div class="text-justify">            
                         <hr>         
                          Según la medicina occidental esto puede deberse a muchos factores como: obesidad, adelgazamiento excesivo, ansiedad, ovarios poliquísticos, insuficiencia ovárica, puede ser efecto secundario de fármacos como quimioterapia, tener relación con alteraciones de tiroides o tumor cerebral. Siempre enviar a la paciente al ginecólogo y endocrino para exploración adecuada.                              
                          Para la medicina china las causas son muy parecidas a la dismenorrea. Se bloquea o falta la nutrición de energía y sangre al útero, riñón, Ren Mai, Chong Mai. Tiene relación también con hígado y Bazo.
                          A veces asociamos normal la llegada del ciclo menstrual con dolor o malestar general, sin embargo, no es así y la Medicina Tradicional China puede ayudarte a mejorar tu calidad de vida regulando tu menstruación.
                         <p 
                         <hr>       
                         <h6 class="font face="tangerine" ">Un ciclo menstrual correcto debería:</h6> 
                         </p>
                                 
                                             
                         <section class="features">
                                    
                             <div class="container">
                               <div class="font face="tangerine" size="4""> 
                                <!--<div class="text-justify">-->                                          
                                <!--<div class="row"> -->
                                    <div class="col-mx-4">
                                      <div class="text-justify">
                                         <span <ol><li>No presentar dolor</li> 
                                                   <li>Ciclo regular, cada 28 días aproximadamente</li>                                                                                                      
                                                   <li>Duración del ciclo de 4 a 6 días</li>
                                                   <li>Ausencia de coágulos</li>
                                                   <li>Ausencia de sangrado excesivo</li>
                                                   <li>No presentar cefaleas o migrañas durante la menstruación</li>                                                                                                   
                                                   <li>No presentar distensión o dolor mamario</li>
                                                   <li>Ausencia de sangrados  intermenstruales</li></ul></span></ol>                                  

                                <p>
                                    <hr>
                                    Mediante la Acupuntura, la Dietoterapia Energética y la Fitoterapia entre otras técnicas, se consigue una mayor nutrición de la zona ginecológica, una regulación del sistema hormonal y una activación del flujo de energía actuando así en afecciones como:
                                </p>

                            <div class="container">
                                <div class="font face="tangerine" size="4""> 
                                    <div class="col-mx-4">
                                       <div class="text-justify">
                                          <span <ol><li>Dismenorrea (dolor en la menstruación)</li> 
                                                    <li>Menstruación irregular</li>                                                                                                      
                                                    <li>Síndrome de ovarios poliquísticos (SOP)</li>
                                                    <li>Endometriosis</li>
                                                    <li>Infertilidad</li>
                                                    <li>Sangrados intermenstruales</li>                                                                                                   
                                                    <li>Amenorrea (ausencia de menstruación)</li>
                                                    <li>Menstruación abundante</li></ul></span></ol>                                  
 
<                                       </div>
                                    </div>
                                </div>
                            </div>
                                <p>
                                    Si sufres algunas de estas dolencias, no lo dejes pasar, podrás comprobar como la Medicina Tradicional China te puede ayudar a aliviarlas y a conocerte más en un sentido más amplio sintiéndote mucho mejor.
                                </p>                                                                   
                                     











                                      </div>   
                                </div>
                            </div>  
                        </div>  
                    </div>    
     <!-- Termino código Jcc--> 
        </section>       
                                    </p>
                
                                </p>
                            </p>
                        </div>
            
        </section>     
        
        
                <!-- Footer-->
        <footer class="footer text-center">
            <div class="container">
                <div class="row">
                    <!-- Footer Location-->
                    <div class="col-lg-4 mb-5 mb-lg-0">
                        <h4 class="text-uppercase mb-4">lugar de Atención</h4>
                        <p class="lead mb-0">Santiago region metropolitana<br />las Condes, Providencia, Ñuñoa, Vitacura</p>
                    </div>
                    <!-- Footer Social Icons-->
                    <div class="col-lg-4 mb-5 mb-lg-0">
                        <h4 class="text-uppercase mb-4">Redes sociales</h4>
                        <a class="btn btn-outline-light btn-social mx-1" href="#"><i class="fab fa-fw fa-facebook-f"></i></a><a class="btn btn-outline-light btn-social mx-1" href="#"><i class="fab fa-fw fa-twitter"></i></a><a class="btn btn-outline-light btn-social mx-1" href="#"><i class="fab fa-fw fa-linkedin-in"></i></a><a class="btn btn-outline-light btn-social mx-1" href="#"><i class="fab fa-fw fa-dribbble"></i></a>
                    </div>
                    <!-- Footer About Text-->
                    <div class="col-lg-4">
                        <h4 class="text-uppercase mb-4">Acupuntura a domicilio</h4>
                        <p class="lead mb-0">no dudes en contactarnos para una atencion mas comodo en su hogar</a>.</p>
                    </div>
                </div>
            </div>
        </footer>
         
        <!-- Bootstrap core JS-->
        <script src="https://cdnjs.cloudflare.com/ajax/libs/jquery/3.4.1/jquery.min.js"></script>
        <script src="https://stackpath.bootstrapcdn.com/bootstrap/4.4.1/js/bootstrap.bundle.min.js"></script>
        <!-- Third party plugin JS-->
        <script src="https://cdnjs.cloudflare.com/ajax/libs/jquery-easing/1.4.1/jquery.easing.min.js"></script>
        <!-- Contact form JS-->
        <script src="assets/mail/jqBootstrapValidation.js"></script>
        <script src="assets/mail/contact_me.js"></script>
        <!-- Core theme JS-->
        <script src="js/scripts.min.js"></script>
        <script src="https://cdnjs.cloudflare.com/ajax/libs/materialize/1.0.0/js/materialize.min.js"></script>    </body>
</html>
