<% include partial/head.ejs %>	

    <body id="page-top">
        
    <body id="page-top">
        
        <!-- Navigation-->
        <% include partial/navbar.ejs %>
        
        <!-- Masthead-->
        <header class="masthead bg-primary text-white text-center">
            <div class="container d-flex align-items-center flex-column">
                <!-- Masthead Avatar Image--><img class="masthead-avatar mb-5" src="assets/img/acupuntura en santiago.png" alt="terapia de acupuntura en la ciudad de santiago" /><!-- Masthead Heading-->
                <h1 class="masthead-heading text-uppercase mb-0"><%= tiTuloh1%></h1>
                <!-- Icon Divider-->
                <div class="divider-custom divider-light">
                    <div class="divider-custom-line"></div>
                    <div class="divider-custom-icon"><i class="fas fa-star"></i></div>
                    <div class="divider-custom-line"></div>
                </div>
                <!-- Masthead Subheading-->
                <p class="masthead-subheading font-weight-light mb-0">jose carlos & mirna conti</p>
            </div>
            
        </header>
        <!-- Portfolio Section-->
        <section class="page-section portfolio" id="portfolio">
            <div class="container">
                <!-- Portfolio Section Heading-->
                <h2 class="page-section-heading text-center text-uppercase text-secondary mb-0">terapias</h2>
            </div>
            </section>
        
             <!-- Page Content -->
  <div class="container">

    <div class="row">

      <!-- Post Content Column -->
      <div class="col-lg-8">

     
        

        <hr>

        

        <!-- Preview Image -->
        <img class="img-fluid rounded" src="http://placehold.it/900x300" alt="">

        <hr>

        <!-- Post Content -->
        <p class="lead"> en esta seccion encontraras una serie de lementos que te podran guiar en que consiste la terapia de acupunturaque tipo de patologias trata 
            en que proporcion de exito o fracaso tiene y recomendaciones extras para mejorar tu saud con esta tipo de terapeutica molenaria
        </p>
        <% include partial/head.ejs %>	

    <body id="page-top">
        
    <body id="page-top">
        
        <!-- Navigation-->
        <% include partial/navbar.ejs %>
        
        <!-- Masthead-->
        <header class="masthead bg-primary text-white text-center">
            <div class="container d-flex align-items-center flex-column">
                <!-- Masthead Avatar Image--><img class="masthead-avatar mb-5" src="assets/img/acupuntura en santiago.png" alt="terapia de acupuntura en la ciudad de santiago" /><!-- Masthead Heading-->
                <h1 class="masthead-heading text-uppercase mb-0"><%= tiTuloh1%></h1>
                <!-- Icon Divider-->
                <div class="divider-custom divider-light">
                    <div class="divider-custom-line"></div>
                    <div class="divider-custom-icon"><i class="fas fa-star"></i></div>
                    <div class="divider-custom-line"></div>
                </div>
                <!-- Masthead Subheading-->
                <p class="masthead-subheading font-weight-light mb-0">jose carlos & mirna conti</p>
            </div>
            
        </header>
        <!-- Portfolio Section-->
        <section class="page-section portfolio" id="portfolio">
            <div class="container">
                <!-- Portfolio Section Heading-->
                <h2 class="page-section-heading text-center text-uppercase text-secondary mb-0">terapias</h2>
            </div>
            </section>
        
             <!-- Page Content -->
  <div class="container">

    <div class="row">

      <!-- Post Content Column -->
      <div class="col-lg-8">

     
        

        <hr>

        

        <!-- Preview Image -->
        <img class="img-fluid rounded" src="http://placehold.it/900x300" alt="">

        <hr>

        <!-- Post Content -->
        <p class="lead"> en esta seccion encontraras una serie de lementos que te podran guiar en que consiste la terapia de acupunturaque tipo de patologias trata 
            en que proporcion de exito o fracaso tiene y recomendaciones extras para mejorar tu saud con esta tipo de terapeutica molenaria
        </p>