<% include partial/head.ejs %>	

    <body id="page-top">
        <!-- Navigation-->
        <% include partial/navbar.ejs %>
       
        <!-- Masthead-->
        <header class="masthead bg-primary text-white text-center">
            <div class="container d-flex align-items-center flex-column">
                <!-- Masthead Avatar Image--><img class="masthead-avatar mb-5" src="assets/img/acupuntura en santiago.png" alt="terapia de acupuntura en la ciudad de santiago" /><!-- Masthead Heading-->
                <h1 class="masthead-heading text-uppercase mb-0"> <%= tiTuloh1%></h1>
                <!-- Icon Divider-->
 
  <% include partial/footer.ejs %>	