<% include partial/head.ejs %>	

    <body id="page-top">
        
    <body id="page-top">
        
        <!-- Navigation-->
        <% include partial/navbar.ejs %>
        
        <!-- Masthead-->
        <header class="masthead bg-primary text-white text-center">
            <div class="container d-flex align-items-center flex-column">
                <!-- Masthead Avatar Image--><img class="masthead-avatar mb-5" src="assets/img/acupuntura en santiago.png" alt="terapia de acupuntura en la ciudad de santiago" /><!-- Masthead Heading-->
                <h1 class="masthead-heading text-uppercase mb-0"><%= tiTuloh1%></h1>
                <!-- Icon Divider-->
                <div class="divider-custom divider-light">
                    <div class="divider-custom-line"></div>
                    <div class="divider-custom-icon"><i class="fas fa-star"></i></div>
                    <div class="divider-custom-line"></div>
                </div>
                <!-- Masthead Subheading-->
                <p class="masthead-subheading font-weight-light mb-0">jose carlos & mirna conti</p>
            </div>
            
        </header>
        <!-- Portfolio Section-->
        <section class="page-section portfolio" id="portfolio">
            <div class="container">
                <!-- Portfolio Section Heading-->
                <h2 class="page-section-heading text-center text-uppercase text-secondary mb-0">terapias</h2>
            </div>
            </section>
        
             <!-- Page Content -->
  <div class="container">

    <div class="row">

      <!-- Post Content Column -->
      <div class="col-lg-8">

     
        

        <hr>

        

        <!-- Preview Image -->
        <img class="img-fluid rounded" src="http://placehold.it/900x300" alt="">

        <hr>

        <!-- Post Content -->
        <p class="lead"> en esta seccion encontraras una serie de lementos que te podran guiar en que consiste la terapia de acupunturaque tipo de patologias trata 
            en que proporcion de exito o fracaso tiene y recomendaciones extras para mejorar tu saud con esta tipo de terapeutica molenaria
        </p>

        <div class="row">

          <div class="col-lg-4 col-md-6 mb-4">
            <div class="card h-100">
              <a href="#"><img class="card-img-top" src="http://placehold.it/700x400" alt=""></a>
              <div class="card-body">
                <h4 class="card-title">
                  <a href="#">acupuntura y dolor</a>
                </h4>
                
                <p class="card-text">la acupuntura es muy efectiva en el tratamiento del dolor agudo y cronico

                </p>
              </div>
              <div class="card-footer">
              <button class="btn btn-primary" href="#" data-dismiss="modal"><i class="fas fa-times fa-fw"></i>ver mas</button>

            </div>
            </div>
          </div>

          <div class="col-lg-4 col-md-6 mb-4">
            <div class="card h-100">
              <a href="#"><img class="card-img-top" src="http://placehold.it/700x400" alt=""></a>
              <div class="card-body">
                <h4 class="card-title">
                  <a href="#">acupuntura y tratamiento del extres</a>
                </h4>
                
                <p class="card-text">el estres es una patologia multifactorial, que por lo general se somatiza con dolor en el cuerpo cabeza e insomnio
                    si quieres haberiaguar como tratarla con acupuntura contactanos
                </p>
              </div>
              <div class="card-footer">
              <button class="btn btn-primary" href="#" data-dismiss="modal"><i class="fas fa-times fa-fw"></i>ver mas</button>

            </div>
            </div>
          </div>

          <div class="col-lg-4 col-md-6 mb-4">
            <div class="card h-100">
              <a href="#"><img class="card-img-top" src="http://placehold.it/700x400" alt=""></a>
              <div class="card-body">
                <h4 class="card-title">
                  <a href="#">cefaleas y acupuntura</a>
                </h4>
                
                <p class="card-text">la cefalea en el mundo actual es muy recurrente y comun muchas veces de dificil resolucion, aun asi la medicina china posee tratamientos milenerios para tratarla con bastante efectividad

                </p>
              </div>
              <div class="card-footer">
              <button class="btn btn-primary" href="#" data-dismiss="modal"><i class="fas fa-times fa-fw"></i>ver mas</button>

            </div>
            </div>
          </div>

          <div class="col-lg-4 col-md-6 mb-4">
            <div class="card h-100">
              <a href="#"><img class="card-img-top" src="http://placehold.it/700x400" alt=""></a>
              <div class="card-body">
                <h4 class="card-title">
                  <a href="#">alergias tratado con acupuntura</a>
                </h4>
                
                <p class="card-text">ya se acerca la primavera y con ello las molestia alergias, averigua como esta se expresa en medicina china y que metodos usamos para tratarlas en este nuevo texto

                </p>
              </div>
              <div class="card-footer">
              <button class="btn btn-primary" href="#" data-dismiss="modal"><i class="fas fa-times fa-fw"></i>ver mas</button>

            </div>
            </div>
          </div>

          <div class="col-lg-4 col-md-6 mb-4">
            <div class="card h-100">
              <a href="#"><img class="card-img-top" src="http://placehold.it/700x400" alt=""></a>
              <div class="card-body">
                <h4 class="card-title">
                  <a href="#">alteraciones dermatologicas tratadas con medicina china</a>
                </h4>
                
                <p class="card-text">psoriasis, acne, herpers sorter, entre muchas otras, segun la medicina china son afectados por el merinano de pulmon e intestino grueso
                    averiagua como podemos ayudarte
                </p>
              </div>
              <div class="card-footer">
              <button class="btn btn-primary" href="#" data-dismiss="modal"><i class="fas fa-times fa-fw"></i>ver mas</button>

            </div>
            </div>
          </div>

          <div class="col-lg-4 col-md-6 mb-4">
            <div class="card h-100">
              <a href="#"><img class="card-img-top" src="http://placehold.it/700x400" alt=""></a>
              <div class="card-body">
                <h4 class="card-title">
                  <a href="#">cancer</a>
                </h4>
                
                <p class="card-text">el cancer y sus  tratamiento llevan muchas complicaciones entre ellas el dolor el cual es facil de manejar con medicina china </p>

              </div>
              <div class="card-footer">
              <button class="btn btn-primary" href="#" data-dismiss="modal"><i class="fas fa-times fa-fw"></i>ver mas</button>

            </div>
            </div>
          </div>

        </div>
        <!-- /.row -->

        <p>puedes elegir cualquier casilla y veras las opciones para informarte de cada patologia que puntos de acupuntur son habitualmente usados y como los tratamos</p>

        <p>confia en nosotros para un tratamiento de acupuntura eficas y seguro</p>


        <hr>
                <!-- Footer-->
                 <% include partial/footer.ejs %>