<% include partial/head.ejs %>	

    <body id="page-top">
        
    <body id="page-top">
        
        <!-- Navigation-->
        <% include partial/navbar.ejs %>
        
        <!-- Masthead-->
        <header class="masthead bg-primary text-white text-center">
            <div class="container d-flex align-items-center flex-column">
                <!-- Masthead Avatar Image--><img class="masthead-avatar mb-5" src="assets/img/acupuntura en santiago.png" alt="terapia de acupuntura en la ciudad de santiago" /><!-- Masthead Heading-->
                <h1 class="masthead-heading text-uppercase mb-0"><%= tiTuloh1%></h1>
                <!-- Icon Divider-->
                <div class="divider-custom divider-light">
                    <div class="divider-custom-line"></div>
                    <div class="divider-custom-icon"><i class="fas fa-star"></i></div>
                    <div class="divider-custom-line"></div>
                </div>
                <!-- Masthead Subheading-->
                <p class="masthead-subheading font-weight-light mb-0">jose carlos & mirna conti</p>
            </div>
            
        </header>
        <!-- Portfolio Section-->
        <section class="page-section portfolio" id="portfolio">
            <div class="container">
                <!-- Portfolio Section Heading-->
                <h2 class="page-section-heading text-center text-uppercase text-secondary mb-0">terapias</h2>
        <section>
                   
                <div class=" align-items-center col-6">
                        <img src="assets/img/acupuntura en santiago.png" alt="">
                       
                       <h2>dolor bursistis (fluido en articulaciones)</h2>
                </div>
                    <hr>                     
                    <div class="container-fuid">
                        <div class="row">
                              <div class= "col-md-4">
                                <img src="imagenes/bursitis-dolor1.jpg" height="200" width="300" class="img-responsive img thumbnai" alt="fotos de brusitis en acupuntura y tratamiento">
                              </div> 
                              <div class= "col-md-4">
                                <img  src="imagenes/bursitis-dolor2.jpg" height="200" width="200" class="img-responsive img thumbnai mx ml-auto d-block alt="">
                              </div>
                              <div class= "col-md-4">
                                <img  src="imagenes/bursitis-dolor2.jpg" height="200" width="300" class="img-responsive img thumbnai mx ml-auto d-block alt="">
                              </div>
                         </div>
                    </div>
                                          
                    <div class="col-9-md-6-sm-6">
                       <div  class="font face="tangerine" size="4""> 
                        <div class="text-justify">            
                         <hr>         
                        Según la MTC, la patología osteomuscular estaría encuadrada en los síndromes Bi (obstructivos), donde se produce un bloqueo en la circulación de Qi (Energía) y Xue (Sangre), y como consecuencia se produce un bloqueo responsable del dolor y la dificultad al movimiento de la articulación. El bloqueo de Qi-Xue puede estar causado por la invasión de factores patógenos Viento-Frío, Frío-Humedad, sobre una base de deficiencia del Qi correcto. Una insuficiencia del Yang de Bazo podría, además, contribuir a generar más Humedad-Flema bloqueando los canales y colaterales, con lo que se alteraría la libre circulación del Qi y la Sangre produciendo dolor.
                        <p 
                        <hr>       
                        <h2 class="font face="tangerine" ">Agresión por Viento-Frío</h2> 
                        </p>   
                            
                         Dolor ligero con entumecimiento local, inicio agudo dolor sordo impreciso. Puede afectar al brazo o parte alta de la espalda, con sensación de rigidez cervical. Sensación de frío en el hombro que mejora con el calor y masaje local, y que puede agravarse por el Frío. No hay limitación en los movimientos del hombro, saburra blanca y pulso flotante. Tratamiento: dispersar el Viento y el Frío y desobstruir los canales.

                         <p 
                         <hr>       
                         <h2 class="font face="tangerine" ">Agresión por Frío-Humedad</h2> 
                         </p>
                                 
                         Dolor intenso de instauración progresiva, sensación de frío en el hombro que mejora parcialmente con el calor, aparece hinchazón en los tejidos blandos del hombro. Puede provocar limitación laboral, impide dormir y comer. Si el cuadro evoluciona aparece importante limitación al movimiento. Lengua pálida, saburra blanca y pulso en cuerda. Tratamiento: dispersar el Frío y eliminar la Humedad, desobstruir los canales.

                         <p 
                         <hr>       
                         <h6 class="font face="tangerine" ">Estasis de Sangre</h6> 
                         </p>

                         Dolor intenso y agudo, punzante que provoca limitación en la movilidad del hombro. Agravación nocturna. Antecedentes traumáticos. Lengua y pulso pueden ser normales o presentar características de estasis de Sangre: lengua azulada o con petequias, y pulso rugoso o tenso. El origen de una estasis de Sangre puede provenir del Frío, Estancamiento de Qi, Vacío de Qi, Vacío de Sangre (en estos casos puede haber sintomatología del cuadro de base). Tratamiento: movilizar la Sangre, transformar la estasis y aliviar el dolor.

                         <p 
                         <hr>       
                         <h6 class="font face="tangerine" ">Acúmulo de Flema Humedad en los canales</h6> 
                         </p>
                         
                         Cuadro de dolor crónico, el dolor es intenso en los tejidos blandos del hombro, la movilidad mejora sólo de forma pasajera con el calor y los ejercicios de rehabilitación, y se agrava con el Frío y la Humedad. El tratamiento consiste en fortalecer el Bazo y eliminar la Humedad, transformar la Flema y facilitar la circulación en canales y colaterales.
                         
                         <p 
                         <hr>       
                         <h6 class="font face="tangerine" ">Terapéutica de Puntos elegidos</h6> 
                         <h6 class="font face="tangerine" ">Puntos locales</h6>
                         </p>

                    
                         </p>
                            <section class="features">
                                    
                             <div class="container">
                               <div class="font face="tangerine" size="4""> 
                                <!--<div class="text-justify">-->                                          
                                <!--<div class="row"> -->
                                    <div class="col-mx-4">
                                      <div class="text-justify">
                                         <span <ol><li>IG 15 Jianyu "Hueso del hombro". Expulsa el Viento Humedad, abre el canal, alivia el dolor, da apoyo a la articulación del hombro, regula el Qi y es punto de reunión de Yang Qiao Mai Se realiza puntura dirigida hacia 14 SJ Jianliao con una profundidad de unos 0,7 Cun.</li> 
                                                   <li>SJ 14 Jianliao: "Hendidura del hombro". Dispersa el Viento y la Humedad, abre el canal y facilita la circulación por canales y colaterales, y alivia el dolor. Regula la función y relaja la articulación del hombro. Puntura oblicua dirigida hacia la cavidad articular con una profundidad de 1 Cun.</li>
                                                                                                      
                                                   <li>ID 12 Bingfeng: Indicado en la patología osteoarticular del hombro y en la impotencia funcional del miembro superior. Punto de cruce de los canales de ID, IG, SJ y VB. Puntura oblicua en dirección a la espina escapular a una profundidad de 1 Cun. Expulsar el viento y tratar el hombro. Punto de activación para el musculo supraespinoso.</li>
                                                   <li>IG 11 Quchi: "Estanque sinuoso". Equilibra y armoniza Qi-Xue, facilita la circulación en los canales y colaterales, y relaja las articulaciones y regula los tendones. Puntura oblicua dirigida hacia el hombro con una profundidad de 1-1,5 Cun.</li>
                                                   <li>En pacientes con sintomatología cervicobraquial hemos añadido VB 21 Jianjing, por ser "pozo del hombro". Regula el Qi, elimina los patógenos y transforma la flema, dispersa los bloqueos. Punto de cruce de los canales VB, SJ, E y Yang Wei Mai. Indicado en el dolor y rigidez del cuello y hombro, e impotencia funcional del brazo.</li>
                                                   <li>IG 4 Hegu: "Unión del valle". Punto analgésico más importante indicado en el dolor de hombro por síndrome Bi y hombro congelado. Puntura oblicua hacia el fondo del ángulo de los 2 metacarpianos a una profundidad de 1-1,5  Cun buscando que la sensación difunda hacia el hombro.</li>
                                                  
                                                  
                                                   <li>IG 14 Binao:"Brazo". Alivia el dolor, abre el canal y los colaterales, dispersa la estasis y moviliza el Qi. Indicado para síndrome Bi de hombro. Puntura perpendicular hacia el deltoides a una profundidad de 1-1,5 Cun.</li>
                                                   <li>ID 9 Jianzhen: "Hombro firme". Indicado en patología osteoarticular del hombro, dolor en región escapular, dolor de hombro, parálisis del miembro superior. Puntura perpendicular con una profundidad de 1-1,5 Cun. </li></ul></span></ol>
                                     <p 
                                      <hr>       
                                      <h6 class="font face="tangerine" ">Punto distal</h6> 
                                    </p>    

                                <p>
                                    E 38 Tiakou: Puntura TIAOSHAN. Punto de excelencia en MTC para el hombro doloroso (se manipuló al mismo tiempo que se le pedía al paciente que realizara movimientos de Codman). Se puntura al final. 
                                </p>
                                <p>
                                    La Electroacupuntura se utilizó para incrementar la estimulación de los puntos de acupuntura. Se aplicó estimulación eléctrica mediante onda densa-dispersa (estimulación a 2 Hz durante 3 s seguidos de 100 Hz durante 3 s, alternativamente) con una intensidad adecuada a la tolerancia individual del paciente. La Electroacupuntura se aplicó durante 20 min sobre los puntos indicados en la figura 4.            
                                </p>                                                                   
                                     <div class="container-fuid">
                                         <div class="row">
                                              <div class= "col-md-2">
                                              <img src="imagenes/Electro-dolor4.jpg" height="200" width="300" class="img-responsive img thumbnai" alt="">
                                              </div> 
                                          
                                         </div>
                                     </div>

                                      </div>   
                                </div>
                            </div>  
                        </div>  
                    </div>    </section>     
     <!-- Termino código Jcc--> 
        </section>       
                                    </p>
                
                                </p>
                            </p>
                        </div>
            
        
        
        
                <!-- Footer-->
                 <% include partial/footer.ejs %>	
       