<% include partial/head.ejs %>	

<body>
    <h1 class="header center orange-text"><%= tiTuloh1%></h1>
    <% include partial/navbar.ejs %>
    <p><span style="font-family: Garamond, serif;"><span style="font-size: medium;">Tras una auditoría realizada para la información sobre las Cookies que se usan en esta web, te informamos:</span></span></p>
    <p><span style="font-family: Garamond, serif;"><span style="font-size: medium;"><b>NUESTRA POLÍTICA DE COOKIES </b></span></span></p>
    <p align="JUSTIFY"><span style="color: #000000;"><span style="font-family: Garamond, serif;"><span style="font-size: medium;">La LSSI-CE,  obliga a todos los que tenemos un blog o una web a </span></span></span><span style="color: #000000;"><span style="font-family: Garamond, serif;"><span style="font-size: medium;"><b>advertir al usuario de la existencia de cookies, informar sobre ellas y requerirle permiso para descargarlas.</b></span></span></span></p>
    <p align="JUSTIFY"><span style="color: #000000;"><span style="font-family: Garamond, serif;"><span style="font-size: medium;">Siguiendo lo establecido en el art. 22.2 de la Ley 34/2002</span></span></span><span style="color: #000000;"><span style="font-family: Garamond, serif;"><span style="font-size: medium;"><i>. “Los prestadores de servicios podrán utilizar dispositivos de almacenamiento y recuperación de datos en equipos terminales de los destinatarios, a condición de que los mismos </i></span></span></span><span style="color: #000000;"><span style="font-family: Garamond, serif;"><span style="font-size: medium;"><b>hayan dado su consentimiento después de que se les haya facilitado información clara y completa sobre su utilización</b></span></span></span><span style="color: #000000;"><span style="font-family: Garamond, serif;"><span style="font-size: medium;"><i>, en particular, sobre los fines del tratamiento de los datos, con arreglo a lo dispuesto en la Ley Orgánica 15/1999, de 13 de diciembre, de Protección de Datos de Carácter Personal”.</i></span></span></span></p>
    <p><span style="color: #000000;"><span style="font-family: Garamond, serif;"><span style="font-size: medium;">Debes conocer que teniendo en cuenta la forma en la que funciona Internet y los sitios web, no siempre es posible contar con información actualizada de las cookies que terceras partes puedan utilizar a través de este sitio web.</span></span></span></p>
    <p><span style="color: #000000;"><span style="font-family: Garamond, serif;"><span style="font-size: medium;">Esto se aplica especialmente a casos en los que esta página web contiene elementos integrados: es decir, textos, documentos, imágenes o breves películas que se almacenan en otra parte, pero se muestran en nuestro sitio web.</span></span></span></p>
    <p align="JUSTIFY"><span style="font-family: Garamond, serif;"><span style="font-size: medium;">Por consiguiente, en caso de que te encuentres con este tipo de cookies en este sitio web y no estén enumeradas en la lista siguiente, te ruego que me lo comuniques. También puedes ponerte en contacto directamente con el tercero para pedirle información sobre las cookies que coloca, la finalidad y la duración de la cookie, y cómo ha garantizado su privacidad.</span></span></p>
    <p><span style="font-family: Garamond, serif;"><span style="font-size: medium;"><b>Previo.- ¿Qué son las Cookies?</b></span></span></p>
    <p align="JUSTIFY"><span style="font-family: Garamond, serif;"><span style="font-size: medium;">Las cookies constituyen una herramienta empleada por los servidores Web para almacenar y recuperar información acerca de sus visitantes. No es más que un fichero de texto que algunos servidores piden a nuestro navegador que escriba en nuestro disco duro, con información acerca de lo que hemos estado haciendo por sus páginas. Poseen una fecha de caducidad, que puede oscilar desde el tiempo que dure la sesión hasta una fecha futura especificada, a partir de la cual dejan de ser operativa. </span></span></p>
    <h2 class="western">1. Las cookies que utiliza esta web</h2>
    <p align="JUSTIFY"><span style="color: #000000;"><span style="font-family: Garamond, serif;"><span style="font-size: medium;">En esta web se utilizan cookies </span></span></span><span style="color: #000000;"><span style="font-family: Garamond, serif;"><span style="font-size: medium;"><b>propias y de terceros</b></span></span></span><span style="color: #000000;"><span style="font-family: Garamond, serif;"><span style="font-size: medium;"> para conseguir que tengas una mejor experiencia de navegación, puedas compartir contenido en redes sociales, para mostrarte anuncios en función a tus intereses y para obtener estadísticas de usuarios.</span></span></span></p>
    <p align="JUSTIFY"><a name="_gjdgxs"></a></p>
    <p align="JUSTIFY"><span style="font-family: Garamond, serif;"><span style="font-size: medium;">Por ello, las cookies empleadas en </span></span><span style="font-family: Garamond, serif;"><span style="font-size: medium;"><b>https://aquivatuweb.com/com</b></span></span><span style="font-family: Garamond, serif;"><span style="font-size: medium;"> se asocian únicamente con un Usuario anónimo y su ordenador, no proporcionan referencias que permitan deducir el nombre y apellidos del Usuario y no pueden leer datos de su disco duro ni incluir virus en sus textos. Asimismo, </span></span><span style="font-family: Garamond, serif;"><span style="font-size: medium;"><b>https://aquivatuweb.com/com</b></span></span><span style="font-family: Garamond, serif;"><span style="font-size: medium;"> no puede leer las cookies implantadas en el disco duro del Usuario desde otros servidores. </span></span></p>
    <p align="JUSTIFY"><span style="font-family: Garamond, serif;"><span style="font-size: medium;">El usuario puede libremente decidir acerca de la implantación o no en su disco duro de las cookies empleadas en </span></span><span style="font-family: Garamond, serif;"><span style="font-size: medium;"><b>https://aquivatuweb.com</b></span></span><span style="font-family: Garamond, serif;"><span style="font-size: medium;"> En este sentido, el usuario puede configurar su navegador para aceptar o rechazar por defecto todas las cookies o para recibir un aviso en pantalla de la recepción de cada cookie y decidir en ese momento su implantación o no en su disco duro. Para ello le sugerimos consultar la sección de ayuda de su navegador para saber cómo cambiar la configuración que actualmente emplea. Aun cuando el Usuario configurase su navegador para rechazar todas las cookies o rechazase expresamente las cookies de </span></span><span style="font-family: Garamond, serif;"><span style="font-size: medium;"><b>https://aquivatuweb.com </b></span></span><span style="font-family: Garamond, serif;"><span style="font-size: medium;">podrás navegar por el Portal con el único inconveniente de no poder disfrutar de las funcionalidades del Portal que requieran la instalación de alguna de ellas. En cualquier caso, el Usuario podrá eliminar las cookies implantadas en su disco duro en cualquier momento, siguiendo el procedimiento establecido en la sección de ayuda de su navegador y que posteriormente detallaremos.</span></span></p>
    <p align="JUSTIFY"><a name="_GoBack"></a> <span style="font-family: Garamond, serif;"><span style="font-size: medium;">Como usuario que eres, puedes rechazar el tratamiento de los datos o la información bloqueando estas cookies mediante la configuración apropiada de tu navegador. Sin embargo, debes saber que, si lo haces, este sitio no funcione adecuadamente.</span></span></p>
    <p align="JUSTIFY"><span style="font-family: Garamond, serif;"><span style="font-size: medium;">Según los términos incluidos en el artículo 22.2 de la Ley 34/2002 de Servicios de la Sociedad de la Información y Comercio Electrónico, si continúas navegando</span></span><span style="font-family: Garamond, serif;"><span style="font-size: medium;"><b>, estarás prestando tu consentimiento</b></span></span><span style="font-family: Garamond, serif;"><span style="font-size: medium;"> para el empleo de las cookies que detallo a continuación.</span></span></p>
    <p align="JUSTIFY"><span style="color: #000000;"><span style="font-family: Garamond, serif;"><span style="font-size: medium;">Las cookies de esta web ayudan a:</span></span></span></p>
    <ul>
    <li><p align="JUSTIFY"><span style="font-family: Garamond, serif;"><span style="font-size: medium;">Hacer que esta web funcione correctamente</span></span></p>
    </li>
    <li><p align="JUSTIFY"><span style="font-family: Garamond, serif;"><span style="font-size: medium;">Ahorrarle el tener que iniciar sesión cada vez que visitas este sitio</span></span></p>
    </li>
    <li><p align="JUSTIFY"><span style="font-family: Garamond, serif;"><span style="font-size: medium;">Recordarte tus ajustes durante y entre las visitas</span></span></p>
    </li>
    <li><p align="JUSTIFY"><span style="font-family: Garamond, serif;"><span style="font-size: medium;">Permitirte visualizar videos</span></span></p>
    </li>
    <li><p align="JUSTIFY"><span style="font-family: Garamond, serif;"><span style="font-size: medium;">Mejorar la velocidad / seguridad del sitio</span></span></p>
    </li>
    <li><p align="JUSTIFY"><span style="font-family: Garamond, serif;"><span style="font-size: medium;">Que pueda compartir páginas con redes sociales </span></span></p>
    </li>
    <li><p align="JUSTIFY"><span style="font-family: Garamond, serif;"><span style="font-size: medium;">Mejorar continuamente de este sitio web</span></span></p>
    </li>
    <li><p align="JUSTIFY"><span style="font-family: Garamond, serif;"><span style="font-size: medium;">Mostrarte anuncios en función de tus hábitos de navegación</span></span></p>
    </li>
    </ul>
    <p align="JUSTIFY"><span style="font-family: Garamond, serif;"><span style="font-size: medium;"><b>No utilizare jamás cookies para:</b></span></span></p>
    <ul>
    <li><p align="JUSTIFY"><span style="font-family: Garamond, serif;"><span style="font-size: medium;">Recoger información de identificación personal (sin tu permiso expreso)</span></span></p>
    </li>
    <li><p align="JUSTIFY"><span style="font-family: Garamond, serif;"><span style="font-size: medium;">Recoger información sensible (sin tu permiso expreso)</span></span></p>
    </li>
    <li><p align="JUSTIFY"><span style="font-family: Garamond, serif;"><span style="font-size: medium;">Compartir datos de identificación personal a terceros</span></span></p>
    </li>
    </ul>
    <h2 class="western"></h2>
    <h2 class="western">2. Cookies de terceros que utilizamos en esta web y que debes conocer</h2>
    <p align="JUSTIFY"><span style="color: #000000;"><span style="font-family: Garamond, serif;"><span style="font-size: medium;">Esta web, como la mayoría de sitios web, incluye funcionalidades proporcionadas por terceros.</span></span></span></p>
    <p align="JUSTIFY"><span style="color: #000000;"><span style="font-family: Garamond, serif;"><span style="font-size: medium;">También se ponen a prueba regularmente nuevos diseños o servicios de terceros para recomendaciones e informes. </span></span></span></p>
    <p align="JUSTIFY"><span style="color: #000000;"><span style="font-family: Garamond, serif;"><span style="font-size: medium;">Esto puede modificar ocasionalmente la configuración de cookies y que aparezcan cookies no detalladas en la presente política. Es importante que sepas que son cookies provisionales que no siempre es posible informar y que solo tienen finalidades de estudio y valoración. En ningún caso se van a utilizar cookies que comprometan tu privacidad.</span></span></span></p>
    <p align="JUSTIFY"><span style="color: #000000;"><span style="font-family: Garamond, serif;"><span style="font-size: medium;">Entre las cookies de terceros más estables están:</span></span></span></p>
    <ul>
    <li><p align="JUSTIFY"><span style="color: #000000;"><span style="font-family: Garamond, serif;"><span style="font-size: medium;"><b>Las generadas por servicios de análisis,</b></span></span></span><span style="color: #000000;"><span style="font-family: Garamond, serif;"><span style="font-size: medium;"> concretamente, Google Analytics para ayudar al website a analizar el uso que hacen los Usuarios del sitio web y mejorar la usabilidad del mismo, pero en ningún caso se asocian a datos que pudieran llegar a identificar al usuario.</span></span></span></p>
    </li>
    </ul>
    <p align="JUSTIFY"><span style="font-family: Garamond, serif;"><span style="font-size: medium;">Google Analytics, es un servicio analítico de web prestado por Google, Inc., una compañía de Delaware cuya oficina principal está en 1600 Amphitheatre Parkway, Mountain View (California), CA 94043, Estados Unidos (“Google”). </span></span></p>
    <p align="JUSTIFY"><span style="font-family: Garamond, serif;"><span style="font-size: medium;">El usuario puede consultar <a href="https://www.google.es/intl/es/policies/technologies/types/">aquí</a> el tipo de cookies utilizadas por Google. Cookie de Google+ y Google Maps, según lo dispuesto en su página sobre qué <a href="http://www.google.com/intl/es/policies/technologies/types/">tipo de cookies utilizan</a>.</span></span></p>
    <h3 class="western" align="JUSTIFY"><span style="font-family: Garamond, serif;"><span style="font-size: medium;"><span lang="es-ES">Asimismo, en ocasiones utilizamos Cookies generadas por el sistema de rastreo de Active Campaign LLC, empresa suscrita al Privacy Shield, para analizar el uso que hacen nuestros suscriptores del sitio web y mejorar su experiencia. Puedes conocer la política de privacidad de esta plataforma <a href="https://www.activecampaign.com/privacy-policy/">aquí.</a></span></span></span></h3>
    <h3 class="western" align="JUSTIFY"></h3>
    <ul>
    <li><p align="JUSTIFY"><span style="color: #000000;"><span style="font-family: Garamond, serif;"><span style="font-size: medium;"><b>WordPress:</b></span></span></span> <span style="font-family: Garamond, serif;"><span style="font-size: medium;"><b>paulo silva, </b></span></span><span style="font-family: Garamond, serif;"><span style="font-size: medium;">es </span></span><span style="color: #000000;"><span style="font-family: Garamond, serif;"><span style="font-size: medium;">usuari</span></span></span><span style="font-family: Garamond, serif;"><span style="font-size: medium;">o</span></span><span style="color: #000000;"><span style="font-family: Garamond, serif;"><span style="font-size: medium;"> de la plataforma de suministro y alojamiento de blogs WordPress, propiedad de la empresa norteamericana Automattic, Inc. A tales efectos, el uso de tales cookies por los sistemas no nunca están bajo control o gestión de la responsable de la web, pueden cambiar su función en cualquier momento, y entrar cookies nuevas.</span></span></span></p>
    </li>
    </ul>
    <p align="JUSTIFY"><span style="color: #000000;"><span style="font-family: Garamond, serif;"><span style="font-size: medium;">Estas cookies tampoco reportan al responsable de este web beneficio alguno. Automattic, Inc., utiliza además otras cookies con la finalidad de ayudar a identificar y rastrear a los visitantes de los sitios de WordPress, conocer el uso que hacen del sitio web de Automattic, así como sus preferencias de acceso al mismo, tal y como se recoge en el apartado “Cookies” de su política de privacidad.</span></span></span></p>
    <ul>
    <li>
    <p align="JUSTIFY"><span style="color: #000000;"><span style="font-family: Garamond, serif;"><span style="font-size: medium;"><b>Cookies de redes sociales:</b></span></span></span><span style="color: #000000;"><span style="font-family: Garamond, serif;"><span style="font-size: medium;"> Las Cookies de redes sociales pueden almacenarse en su navegador mientras navega por la web o cuando utiliza el botón de compartir contenidos de abcoach.com en alguna red social. </span></span></span></p>
    </li>
    </ul>
    <p align="JUSTIFY"><span style="font-family: Garamond, serif;"><span style="font-size: medium;">Las empresas que generan estas cookies correspondientes a las redes sociales que utiliza esta web tienen sus propias políticas de cookies:</span></span></p>
    <ul>
    <li>
    <p align="JUSTIFY"><span style="font-family: Garamond, serif;"><span style="font-size: medium;">Cookie de Twitter, según lo dispuesto en su </span></span><a href="https://twitter.com/privacy"><span style="font-family: Garamond, serif;"><span style="font-size: medium;"><u>política de privacidad y uso de cookies</u></span></span></a><span style="font-family: Garamond, serif;"><span style="font-size: medium;">.</span></span></p>
    </li>
    <li><p align="JUSTIFY"><span style="font-family: Garamond, serif;"><span style="font-size: medium;">Cookie de Linkedin, según lo dispuesto en su </span></span><a href="https://www.linkedin.com/legal/cookie-policy?trk=hp-cookies"><span style="font-family: Garamond, serif;"><span style="font-size: medium;"><u>Política de cookies</u></span></span></a></p>
    </li>
    <li><p align="JUSTIFY"><span style="font-family: Garamond, serif;"><span style="font-size: medium;">Cookie de Facebook, según lo dispuesto en su </span></span><a href="https://www.facebook.com/help/cookies?ref_type=sitefooter"><span style="font-family: Garamond, serif;"><span style="font-size: medium;"><u>Política de Cookies</u></span></span></a></p>
    </li>
    <li><p align="JUSTIFY"><span style="font-family: Garamond, serif;"><span style="font-size: medium;">Cookie de Youtube, según lo dispuesto en su </span></span><a href="https://www.google.es/intl/es/policies/technologies/cookies/"><span style="color: #000000;"><span style="font-family: Garamond, serif;"><span style="font-size: medium;"><u>Política de Cookies</u></span></span></span></a></p>
    </li>
    </ul>
    <p align="JUSTIFY"><span style="color: #000000;"><span style="font-family: Garamond, serif;"><span style="font-size: medium;">Las implicaciones de privacidad estarán en función a cada red social y dependerán de la configuración de privacidad que ha elegido en estas redes. En ningún caso, ni el responsable de esta web ni los anunciantes pueden obtener información personal identificable de estas cookies.</span></span></span></p>
    <p align="JUSTIFY"><span style="font-family: Garamond, serif;"><span style="font-size: medium;">A continuación, y según exige el artículo 22.2 de la LSSI se detallan las cookies que pueden instalarse habitualmente durante la navegación por este sitio web:</span></span></p>
    <table border="1" width="697" cellspacing="0" cellpadding="7">
    <tbody>
    <tr valign="TOP">
    <td width="217">
    <p style="margin-bottom: 0.35cm;" align="JUSTIFY"><span style="font-family: Garamond, serif;"><b>NOMBRE</b></span></p>
    <p align="JUSTIFY">
    </td>
    <td width="218">
    <p align="JUSTIFY"><span style="font-family: Garamond, serif;"><b>DURACIÓN</b></span></p>
    </td>
    <td width="218">
    <p align="JUSTIFY"><span style="font-family: Garamond, serif;"><b>FINALIDAD</b></span></p>
    </td>
    </tr>
    <tr valign="TOP">
    <td width="217">
    <p style="margin-bottom: 0.35cm;" align="JUSTIFY"><span style="font-family: Garamond, serif;">Propia:<br />
    Sesión</span></p>
    <p align="JUSTIFY"><span style="color: #333333;"><span style="font-family: Garamond, serif;">t</span></span><span style="font-family: Garamond, serif;">ve_leads_unique</span></p>
    </td>
    <td width="218">
    <p align="JUSTIFY"><span style="font-family: Garamond, serif;">Caduca al finalizar<br />
    sesión</span></p>
    </td>
    <td width="218">
    <p align="JUSTIFY"><span style="font-family: Garamond, serif;">Almacenan<br />
    información del usuario y sus sesiones para mejorar la<br />
    experiencia de usuario</span></p>
    </td>
    </tr>
    <tr valign="TOP">
    <td width="217">
    <p style="margin-bottom: 0.35cm;" align="JUSTIFY"><span style="font-family: Garamond, serif;">Terceros<br />
    persistente</span></p>
    <p align="JUSTIFY"><span style="font-family: Garamond, serif;">_ga</span></p>
    </td>
    <td width="218">
    <p align="JUSTIFY"><span style="font-family: Garamond, serif;">2 años a<br />
    partir de la configuración</span></p>
    </td>
    <td width="218">
    <p align="JUSTIFY"><span style="font-family: Garamond, serif;">Se usa para<br />
    distinguir a los usuarios. Es una cookie perteneciente a Google<br />
    Analytics. </span><a href="https://www.google.com/intl/es/policies/"><span style="color: #0000ff;"><span style="font-family: Garamond, serif;"><u>Más<br />
    información</u></span></span></a></p>
    </td>
    </tr>
    <tr valign="TOP">
    <td width="217">
    <p style="margin-bottom: 0.35cm;" align="JUSTIFY"><span style="font-family: Garamond, serif;">Terceros<br />
    persistente</span></p>
    <p align="JUSTIFY"><span style="font-family: Garamond, serif;">_gat</span></p>
    </td>
    <td width="218">
    <p align="JUSTIFY"><span style="font-family: Garamond, serif;">10 minutos</span></p>
    </td>
    <td width="218">
    <p align="JUSTIFY"><span style="font-family: Garamond, serif;">Se usa para saber el<br />
    ratio de recarga. Es una cookie perteneciente a Google Analytics.<br />
    </span><a href="https://www.google.com/intl/es/policies/"><span style="color: #0000ff;"><span style="font-family: Garamond, serif;"><u>Más<br />
    información</u></span></span></a></p>
    </td>
    </tr>
    <tr valign="TOP">
    <td width="217">
    <p style="margin-bottom: 0.35cm;" align="JUSTIFY"><span style="font-family: Garamond, serif;">Terceros<br />
    persistente</span></p>
    <p align="JUSTIFY"><span style="font-family: Garamond, serif;">__utma</span></p>
    </td>
    <td width="218">
    <p align="JUSTIFY"><span style="font-family: Garamond, serif;">2 años desde<br />
    cada actualización</span></p>
    </td>
    <td width="218">
    <p align="JUSTIFY"><span style="font-family: Garamond, serif;">Esta cookie se suele<br />
    establecer durante la primera visita. Si la cookie es eliminada<br />
    manualmente, volverá a establecerse en la siguiente visita<br />
    con ID nuevo. En la mayoría de los casos esta cookie se<br />
    utiliza para determinar visitantes únicos a nuestro sitio y<br />
    es actualizada con cada página vista. Además esta<br />
    cookie tiene un ID único de Google Analytics que asegura<br />
    tanto la validez de la misma como su accesibilidad como una medida<br />
    de seguridad adicional. </span><a href="https://www.google.com/intl/es/policies/"><span style="color: #0000ff;"><span style="font-family: Garamond, serif;"><u>Más<br />
    información</u></span></span></a></p>
    </td>
    </tr>
    <tr valign="TOP">
    <td width="217">
    <p style="margin-bottom: 0.35cm;" align="JUSTIFY"><span style="font-family: Garamond, serif;">Terceros<br />
    persistente</span></p>
    <p align="JUSTIFY"><span style="font-family: Garamond, serif;">__utmb</span></p>
    </td>
    <td width="218">
    <p align="JUSTIFY"><span style="font-family: Garamond, serif;">2 años desde<br />
    cada actualización</span></p>
    </td>
    <td width="218">
    <p align="JUSTIFY"><span style="font-family: Garamond, serif;">Esta cookie se<br />
    utiliza para establecer y continuar una sesión de usuario<br />
    en nuestro sitio. Cuando un usuario visita una página en<br />
    nuestro sitio, el código de Google Analytics intenta<br />
    actualizar esta cookie. Si no encuentra la cookie, creará<br />
    una nueva. Cada vez que el usuario visita una página<br />
    distinta se actualiza esta cookie para caducar a los 30 minutos,<br />
    de esa forma continúa encontrar una sesión única<br />
    en intervalos de 30 minutos. Esta cookie caduca cuando un usuario<br />
    deja de visitas nuestro sitio por un período de 30 minutos.<br />
    </span><a href="https://www.google.com/intl/es/policies/"><span style="color: #0000ff;"><span style="font-family: Garamond, serif;"><u>Más<br />
    información</u></span></span></a></p>
    </td>
    </tr>
    <tr valign="TOP">
    <td width="217">
    <p style="margin-bottom: 0.35cm;" align="JUSTIFY"><span style="font-family: Garamond, serif;">Terceros<br />
    persistente</span></p>
    <p align="JUSTIFY"><span style="font-family: Garamond, serif;">APISID, HSID, NID,<br />
    SAPISID, SID, SSID</span></p>
    </td>
    <td width="218">
    <p align="JUSTIFY"><span style="font-family: Garamond, serif;">2 años desde<br />
    su instalación</span></p>
    </td>
    <td width="218">
    <p align="JUSTIFY"><span style="font-family: Garamond, serif;">Guarda preferencias<br />
    de usuario y otra información de los servicios de Google<br />
    que tiene el usuario. </span><a href="https://www.google.com/policies/privacy/"><span style="color: #0000ff;"><span style="font-family: Garamond, serif;"><u>Más<br />
    información</u></span></span></a></p>
    </td>
    </tr>
    <tr valign="TOP">
    <td width="217">
    <p style="margin-bottom: 0.35cm;" align="JUSTIFY"><span style="font-family: Garamond, serif;">Terceros<br />
    persistente</span></p>
    <p align="JUSTIFY"><span style="font-family: Garamond, serif;">__utmt</span></p>
    </td>
    <td width="218">
    <p align="JUSTIFY"><span style="font-family: Garamond, serif;">De sesión</span></p>
    </td>
    <td width="218">
    <p align="JUSTIFY"><span style="font-family: Garamond, serif;">Historicamente, esta<br />
    cookie operaba junto con la cookie __utmb para determinar si se<br />
    debía establecer una nueva sesión al usuario. Hoy en<br />
    día no se utiliza pero sigue aquí para mantener<br />
    compatibilidad hacia atrás con el código de<br />
    theurchin.js y ga.js. </span><a href="https://www.google.com/intl/es/policies/"><span style="color: #0000ff;"><span style="font-family: Garamond, serif;"><u>Más<br />
    información</u></span></span></a></p>
    </td>
    </tr>
    <tr valign="TOP">
    <td width="217">
    <p style="margin-bottom: 0.35cm;" align="JUSTIFY"><span style="font-family: Garamond, serif;">Terceros<br />
    persistente</span></p>
    <p align="JUSTIFY"><span style="font-family: Garamond, serif;">__utmz</span></p>
    </td>
    <td width="218">
    <p align="JUSTIFY"><span style="font-family: Garamond, serif;">6 meses desde cada<br />
    actualización</span></p>
    </td>
    <td width="218">
    <p align="JUSTIFY"><span style="font-family: Garamond, serif;">Esta cookie guarda<br />
    información de referencias utilizadas por el visitante para<br />
    llegar a nuestro sitio, ya sea de forma directa, un link de<br />
    referencia, una búsqueda web o una campaña de<br />
    publicidad o por email. Se utiliza para calcular el tráfico<br />
    proviniente de buscadores web, campañas de marketing y<br />
    navegación por nuestro sitio. Esta cookie se actualiza en<br />
    cada vista de página. </span><a href="https://www.google.com/intl/es/policies/"><span style="color: #0000ff;"><span style="font-family: Garamond, serif;"><u>Más<br />
    información</u></span></span></a></p>
    </td>
    </tr>
    <tr valign="TOP">
    <td width="217">
    <p style="margin-bottom: 0.35cm;" align="JUSTIFY"><span style="font-family: Garamond, serif;">Propia<br />
    persistente</span></p>
    <p align="JUSTIFY"><span style="font-family: Garamond, serif;">__cfduid</span></p>
    </td>
    <td width="218">
    <p align="JUSTIFY"><span style="font-family: Garamond, serif;">5 años</span></p>
    </td>
    <td width="218">
    <p align="JUSTIFY"><span style="font-family: Garamond, serif;">La cookie __ cfduid<br />
    se utiliza para anular las restricciones de seguridad basadas en<br />
    la dirección IP del visitante está viniendo. </span><a href="https://support.cloudflare.com/hc/en-us/articles/200170156-What-does-the-CloudFlare-cfduid-cookie-do"><span style="color: #0000ff;"><span style="font-family: Garamond, serif;"><u>Más<br />
    información</u></span></span></a><span style="font-family: Garamond, serif;"><br />
    </span></p>
    </td>
    </tr>
    <tr valign="TOP">
    <td width="217">
    <p style="margin-bottom: 0.35cm;" align="JUSTIFY"><span style="font-family: Garamond, serif;">Terceros<br />
    persistente</span></p>
    <p align="JUSTIFY"><span style="font-family: Garamond, serif;">__smToken</span></p>
    </td>
    <td width="218">
    <p align="JUSTIFY"><span style="font-family: Garamond, serif;">Caduca al finalizar<br />
    la sesión</span></p>
    </td>
    <td width="218">
    <p align="JUSTIFY"><span style="font-family: Garamond, serif;">Se usa para<br />
    diferenciar los usuarios a los que se les ha mostrado alguna<br />
    funcionalidad de Sumome. </span><a href="https://sumo.com/tos"><span style="color: #0000ff;"><span style="font-family: Garamond, serif;"><u>Más<br />
    información</u></span></span></a></p>
    </td>
    </tr>
    <tr valign="TOP">
    <td width="217">
    <p style="margin-bottom: 0.35cm;" align="JUSTIFY"><span style="font-family: Garamond, serif;">Propia</span></p>
    <p align="JUSTIFY"><span style="font-family: Garamond, serif;">__smVID</span></p>
    </td>
    <td width="218">
    <p align="JUSTIFY"><span style="font-family: Garamond, serif;">Caduca al finalizar<br />
    la sesión</span></p>
    </td>
    <td width="218">
    <p align="JUSTIFY"><span style="font-family: Garamond, serif;">Almacena información<br />
    del usuario y sus sesiones para mejorar la experiencia de usuario.</span></p>
    </td>
    </tr>
    <tr valign="TOP">
    <td width="217">
    <p align="JUSTIFY"><span style="font-family: Garamond, serif;">_remember_checked_on</span></p>
    </td>
    <td width="218">
    <p align="JUSTIFY"><span style="font-family: Garamond, serif;">Caduca al finalizar<br />
    la sesión</span></p>
    </td>
    <td width="218">
    <p align="JUSTIFY"><span style="font-family: Garamond, serif;">Cookies con<br />
    funcionalidades de Twitter.</span></p>
    </td>
    </tr>
    <tr valign="TOP">
    <td width="217">
    <p style="margin-bottom: 0.35cm;" align="JUSTIFY"><span style="font-family: Garamond, serif;">Terceros</span></p>
    <p align="JUSTIFY"><span style="color: #222222;"><span style="font-family: Garamond, serif;"><span style="background: #ffffff;">__stripe_mid</span></span></span></p>
    </td>
    <td width="218">
    <p align="JUSTIFY"><span style="font-family: Garamond, serif;">Caduca al finalizar<br />
    la sesión</span></p>
    </td>
    <td width="218">
    <p align="JUSTIFY"><span style="font-family: Garamond, serif;">Cookie de Stripe .<br />
    </span><a href="https://stripe.com/cookies-policy/legal"><span style="color: #0000ff;"><span style="font-family: Garamond, serif;"><u>Más<br />
    información</u></span></span></a></p>
    </td>
    </tr>
    <tr valign="TOP">
    <td width="217">
    <p style="margin-bottom: 0.35cm;" align="JUSTIFY"><span style="font-family: Garamond, serif;">Terceros<br />
    persistente</span></p>
    <p align="JUSTIFY"><span style="font-family: Garamond, serif;">pl</span></p>
    </td>
    <td width="218">
    <p align="JUSTIFY"><span style="font-family: Garamond, serif;">90 días</span></p>
    </td>
    <td width="218">
    <p align="JUSTIFY"><span style="font-family: Garamond, serif;">Se utiliza para<br />
    registrar que un dispositivo o un navegador iniciaron sesión<br />
    a través de la plataforma de Facebook. </span><a href="https://www.facebook.com/policy/cookies/printable"><span style="color: #0000ff;"><span style="font-family: Garamond, serif;"><u>Más<br />
    información</u></span></span></a></p>
    </td>
    </tr>
    <tr valign="TOP">
    <td width="217">
    <p style="margin-bottom: 0.35cm;" align="JUSTIFY"><span style="font-family: Garamond, serif;">Terceros<br />
    persistente</span></p>
    <p align="JUSTIFY"><span style="font-family: Garamond, serif;">fr</span></p>
    </td>
    <td width="218">
    <p align="JUSTIFY"><span style="font-family: Garamond, serif;">90 días</span></p>
    </td>
    <td width="218">
    <p align="JUSTIFY"><span style="font-family: Garamond, serif;">Se trata de la<br />
    cookie de publicidad principal de Facebook. Se utiliza para<br />
    ofrecer, analizar y mejorar la relevancia de los anuncios. </span><a href="https://www.facebook.com/policy/cookies/printable"><span style="color: #0000ff;"><span style="font-family: Garamond, serif;"><u>Más<br />
    información</u></span></span></a></p>
    </td>
    </tr>
    <tr valign="TOP">
    <td width="217">
    <p style="margin-bottom: 0.35cm;" align="JUSTIFY"><span style="font-family: Garamond, serif;">Terceros<br />
    persistente</span></p>
    <p align="JUSTIFY"><span style="font-family: Garamond, serif;">sb</span></p>
    </td>
    <td width="218">
    <p align="JUSTIFY"><span style="font-family: Garamond, serif;">2 años desde<br />
    su instalación</span></p>
    </td>
    <td width="218">
    <p align="JUSTIFY"><span style="font-family: Garamond, serif;">Cookie de Facebook<br />
    que identifica al navegador con fines de autenticación del<br />
    inicio de sesión. </span><a href="https://www.facebook.com/policy/cookies/printable"><span style="color: #0000ff;"><span style="font-family: Garamond, serif;"><u>Más<br />
    información</u></span></span></a></p>
    </td>
    </tr>
    <tr valign="TOP">
    <td width="217">
    <p style="margin-bottom: 0.35cm;" align="JUSTIFY"><span style="font-family: Garamond, serif;">Terceros<br />
    persistente</span></p>
    <p align="JUSTIFY"><span style="font-family: Garamond, serif;">c_user</span></p>
    </td>
    <td width="218">
    <p align="JUSTIFY"><span style="font-family: Garamond, serif;">20 días desde<br />
    su instalación</span></p>
    </td>
    <td width="218">
    <p align="JUSTIFY"><span style="font-family: Garamond, serif;">Se utiliza junto con<br />
    la cookie xs para autenticar tu identidad en Facebook. </span><a href="https://www.facebook.com/policy/cookies/printable"><span style="color: #0000ff;"><span style="font-family: Garamond, serif;"><u>Más<br />
    información</u></span></span></a></p>
    </td>
    </tr>
    <tr valign="TOP">
    <td width="217">
    <p style="margin-bottom: 0.35cm;" align="JUSTIFY"><span style="font-family: Garamond, serif;">Terceros<br />
    persistente</span></p>
    <p align="JUSTIFY"><span style="font-family: Garamond, serif;">xs</span></p>
    </td>
    <td width="218">
    <p align="JUSTIFY"><span style="font-family: Garamond, serif;">90 días desde<br />
    su instalación</span></p>
    </td>
    <td width="218">
    <p align="JUSTIFY"><span style="font-family: Garamond, serif;">Se utiliza junto con<br />
    la cookie c_user para autenticar tu identidad en Facebook. </span><a href="https://www.facebook.com/policy/cookies/printable"><span style="color: #0000ff;"><span style="font-family: Garamond, serif;"><u>Más<br />
    información</u></span></span></a></p>
    </td>
    </tr>
    <tr valign="TOP">
    <td width="217">
    <p style="margin-bottom: 0.35cm;" align="JUSTIFY"><span style="font-family: Garamond, serif;">Terceros<br />
    persistente</span></p>
    <p align="JUSTIFY"><span style="font-family: Garamond, serif;">datr</span></p>
    </td>
    <td width="218">
    <p align="JUSTIFY"><span style="font-family: Garamond, serif;">2 años desde<br />
    su instalación</span></p>
    </td>
    <td width="218">
    <p align="JUSTIFY"><span style="font-family: Garamond, serif;">De Facebook que<br />
    identifica a los navegadores con fines de seguridad e integridad<br />
    del sitio, entre ellos, la recuperación de cuentas y la<br />
    identificación de cuentas que puedan estar en riesgo. </span><a href="https://www.facebook.com/policy/cookies/printable"><span style="color: #0000ff;"><span style="font-family: Garamond, serif;"><u>Más<br />
    información</u></span></span></a></p>
    </td>
    </tr>
    <tr valign="TOP">
    <td width="217">
    <p style="margin-bottom: 0.35cm;" align="JUSTIFY"><span style="font-family: Garamond, serif;">Terceros<br />
    persistente</span></p>
    <p align="JUSTIFY"><span style="font-family: Garamond, serif;">driftt_aid</span></p>
    </td>
    <td width="218">
    <p align="JUSTIFY"><span style="font-family: Garamond, serif;">Caduca al finalizar<br />
    la sesión</span></p>
    </td>
    <td width="218">
    <p align="JUSTIFY"><span style="font-family: Garamond, serif;">Cookie de chat. </span><a href="https://www.drift.com/privacy-policy/"><span style="color: #0000ff;"><span style="font-family: Garamond, serif;"><u>Más<br />
    información</u></span></span></a></p>
    </td>
    </tr>
    <tr valign="TOP">
    <td width="217">
    <p style="margin-bottom: 0.35cm;" align="JUSTIFY"><span style="font-family: Garamond, serif;">Terceros<br />
    persistente</span></p>
    <p><span style="color: #222222;"><span style="font-family: Garamond, serif;"><span lang="es-ES">__zlcmid</span></span></span></td>
    <td width="218">
    <p align="JUSTIFY"><span style="font-family: Garamond, serif;">Caduca al finalizar<br />
    la sesión</span></p>
    </td>
    <td width="218">
    <p align="JUSTIFY"><span style="font-family: Garamond, serif;">Cookie de la<br />
    herramienta Zopin utilizada para chat</span></p>
    </td>
    </tr>
    <tr valign="TOP">
    <td width="217">
    <p style="margin-bottom: 0.35cm;" align="JUSTIFY"><span style="font-family: Garamond, serif;">Terceros<br />
    persistente</span></p>
    <p><span style="color: #222222;"><span style="font-family: Garamond, serif;"><span lang="es-ES">ac_enable_tracking</span></span></span></td>
    <td width="218">
    <p align="JUSTIFY"><span style="font-family: Garamond, serif;">Caduca al finalizar<br />
    la sesión</span></p>
    </td>
    <td width="218">
    <p align="JUSTIFY"><span style="font-family: Garamond, serif;">Cookie utilizada por<br />
    la herramienta de Email Marketing Active Campaign para trackear<br />
    las visitas de la web</span></p>
    </td>
    </tr>
    <tr valign="TOP">
    <td width="217">
    <p align="JUSTIFY"><span style="font-family: Garamond, serif;">CONSENT</span></p>
    </td>
    <td width="218">
    <p align="JUSTIFY">
    </td>
    <td width="218">
    <p align="JUSTIFY"><span style="font-family: Garamond, serif;">Cookie de<br />
    reproducción de contenido en YouTube</span></p>
    </td>
    </tr>
    </tbody>
    </table>
    <h2 class="western">3. ¿Cómo puedo gestionar y desactivar estas cookies?</h2>
    <p align="JUSTIFY"><span style="font-family: Garamond, serif;"><span style="font-size: medium;">En el caso de no desear que el sitio web no instale ninguna cookie en tu equipo, cabe la posibilidad de adaptar tu navegador de modo que se te notifique antes de que se descargue ninguna cookie. </span></span></p>
    <p align="JUSTIFY"><span style="font-family: Garamond, serif;"><span style="font-size: medium;">Así las cosas, se puede igualmente modificar la configuración del navegador de forma que rechace todas las cookies o únicamente las cookies de terceros. También puedes eliminar cualquiera de las cookies que ya se encuentren en tu equipo. Ten en cuenta que tendrás que adaptar por separado la configuración de cada navegador y equipo que utilices.</span></span></p>
    <p align="JUSTIFY"><span style="font-family: Garamond, serif;"><span style="font-size: medium;"><b>https://aquivatuweb.com/</b></span></span><span style="font-family: Garamond, serif;"><span style="font-size: medium;">  pone a disposición de los usuarios que quieran impedir la instalación de las mencionadas cookies, enlaces facilitados al efecto por navegadores cuyo uso se considera más extendido:</span></span></p>
    <p align="JUSTIFY"><a href="http://support.google.com/chrome/bin/answer.py?hl=es-419&amp;answer=95647"><span style="color: #000000;"><span style="font-family: Garamond, serif;"><span style="font-size: medium;"><u>Google Chrome</u></span></span></span></a><span style="color: #000000;"><span style="font-family: Garamond, serif;"><span style="font-size: medium;"> – </span></span></span><a href="#ie=ie-10"><span style="color: #000000;"><span style="font-family: Garamond, serif;"><span style="font-size: medium;"><u>Internet Explorer</u></span></span></span></a><span style="color: #000000;"><span style="font-family: Garamond, serif;"><span style="font-size: medium;"> – </span></span></span><a href="http://support.mozilla.org/es/kb/habilitar-y-deshabilitar-cookies-que-los-sitios-we"><span style="color: #000000;"><span style="font-family: Garamond, serif;"><span style="font-size: medium;"><u>Mozilla Firefox</u></span></span></span></a><span style="color: #000000;"><span style="font-family: Garamond, serif;"><span style="font-size: medium;"> – </span></span></span><a href="http://support.apple.com/kb/HT1677?viewlocale=es_ES%20%97%20http://support.apple.com/kb/ph5042"><span style="color: #000000;"><span style="font-family: Garamond, serif;"><span style="font-size: medium;"><u>Apple Safari</u></span></span></span></a></p>
    <p align="JUSTIFY"><span style="font-family: Garamond, serif;"><span style="font-size: medium;"><b>Política de Cookies a 29 de mayo de 2018.</b></span></span></p>
    <% include partial/boton.ejs%>   
    <% include partial/footer.ejs %>