<% include partial/head.ejs %>	
<% include partial/navbar.ejs %>

<body>

    <h1 class="header center orange-text"><%= tiTuloh1%></h1>
    <% include partial/slider.ejs %>
  
    <div class="section no-pad-bot" id="index-banner">
        <div class="container">
          <br><br>
         
          <div class="row center">
            <h5 class="header col s12 light">A modern responsive front-end framework based on Material Design</h5>
          </div>
          <div class="row center">
            <a href="http://materializecss.com/getting-started.html" id="download-button" class="btn-large waves-effect waves-light orange">Get Started</a>
          </div>
          <br><br>
    
        </div>
      </div>
    <hr>
    
      <div class="container">
        <div class="section">
    
          <!--   Icon Section   -->
          <div class="row">
            <div class="col s12 m4">
              <div class="icon-block">
                <h2 class="center light-blue-text"><i class="material-icons">flash_on</i></h2>
                <h5 class="center">Speeds up development</h5>
    
                <p class="light">We did most of the heavy lifting for you to provide a default stylings that incorporate our custom components. Additionally, we refined animations and transitions to provide a smoother experience for developers.</p>
              </div>
            </div>
    
            <div class="col s12 m4">
              <div class="icon-block">
                <h2 class="center light-blue-text"><i class="material-icons">group</i></h2>
                <h5 class="center">User Experience Focused</h5>
    
                <p class="light">By utilizing elements and principles of Material Design, we were able to create a framework that incorporates components and animations that provide more feedback to users. Additionally, a single underlying responsive system across all platforms allow for a more unified user experience.</p>
              </div>
            </div>
    
            <div class="col s12 m4">
              <div class="icon-block">
                <h2 class="center light-blue-text"><i class="material-icons">settings</i></h2>
                <h5 class="center">Easy to work with</h5>
    
                <p class="light">We have provided detailed documentation as well as specific code examples to help new users get started. We are also always open to feedback and can answer any questions a user may have about Materialize.</p>
              </div>
            </div>
          </div>
    
        </div>
        <br><br>
      </div>

 <hr>
     <!--este es otra seccion    /-->
     <div class="section white" id="features">
        
          <div class="row">		
              <div class="col s12 m6 l6 center" style="">
                  <img class="responsive-img" src="images/sample-1.jpg">
                </div>
            
            <div class="col s12 m6 l6">
              <h5 class="start text-primarycolor">Features</h5>
              <p class="start-paragraph-text text-primarycolor text-justify">
                  la mejor atención de la Región Metropolitana
                  ¿Que es la <strong>kinesiologia respiratoria domicilio</strong> ? Esto es una terapia con ejercicios respiratorios realizados por el kinesiólogo.
                   Se aplican un conjunto de técnicas manuales sobre el tórax, además de <strong>aspiración de secreciones</strong> con el fin de favorecer la Ventilación correcta y el mejoramiento de la Función Pulmonar. 
                   Con esto se logra el tratamiento tanto crónico como agudo del sistema respiratorio como asma bronquitis, neumonía, EPOC(fisiología del EPOC)  
              </p>
              <ul class="start-feature-list">
                <li>Password <a href="https://kioskbrowser.crisp.help/en/article/how-do-i-exit-azhu30/" target="_blank">protected settings</a> &amp; <a href="https://kioskbrowser.crisp.help/en/article/wifi-settings-password-1u310nr/" target="_blank">WiFi settings</a></li>
                <li>Lock your device(s) to a single URL</li>
                <li>Configure <a href="https://kioskbrowser.crisp.help/en/article/toolbar-buttons-and-their-functions-15552rb/" target="_blank">toolbar buttons</a></li>
                <li>Control clearing of <a href="https://kioskbrowser.crisp.help/en/article/clear-cache-webstorage-cookies-and-form-data-1sfpc0m/" target="_blank">cache, cookies, history &amp; web storage</a></li>
                <li>Provide access to additional websites with the <a href="https://kioskbrowser.crisp.help/en/article/bookmarks-bar-1c1982k/" target="_blank">bookmarks bar</a></li>
                <li><a href="https://kioskbrowser.crisp.help/en/article/whitelist-ik8pgt/" target="_blank">Whitelist</a> &amp; <a href="https://kioskbrowser.crisp.help/en/article/blacklist-11uaxnu/" target="_blank">Blacklist</a> feature to control website access</li>
                <li><a href="https://kioskbrowser.crisp.help/en/article/scheduled-sleepwake-19illzv/" target="_blank">Scheduled sleep/wake/app restart</a></li>
                <li><a href="https://kioskbrowser.crisp.help/en/article/pdf-support-7f73zc/" target="_blank">PDF Support</a></li>
                <li>Automatic crash recovery</li>
              </ul>
              
              
            
            
          </div>
        </div>
      </div>
<hr>
<div class="section" id="provisioning">
		<div class="container">
			<div class="row">		
				<div class="col m12 s6 ">
					<h5 class="start text-primarycolor">Provisioning Devices</h5>
					<p class="start-paragraph-text text-primarycolor text-justify flow-text">When provisioning a device using our provisioning app your device is locked down in the most secure way possible. Kiosk Browser becomes the "device owner" meaning that it is granted more permissions vs a standard Kiosk Browser installation. 
					</p>
															<ul style="margin-bottom: 16px;padding-left: 16px;">
						<li style="margin: 5px 0;padding: 0;list-style: initial;font-size:14px;">Streamlined setup process (embed licence keys or remote management registration key)</li>
						<li style="margin: 5px 0;padding: 0;list-style: initial;font-size:14px;">Set the default launcher programmatically without user intervention</li>
						<li style="margin: 5px 0;padding: 0;list-style: initial;font-size:14px;">Hide home button and recents button (Android 6.0 or higher)</li>
						<li style="margin: 5px 0;padding: 0;list-style: initial;font-size:14px;">Update Kiosk Browser without visiting your devices (Update Manager via remote management) or via our JavaScript interface, Android 6.0 or higher</li>
					</ul>
					<div class="center">
						<a class="waves-effect waves-light btn" href="https://www.android-kiosk.com/provisioning/" style="margin-bottom:10px;">More Info</a>
					</div>
					
				</div>
				<div class="col s6 offset-s3 m4 center">
					<img class="responsive-img" src="https://www.android-kiosk.com/wp-content/themes/androidkioskcom/images/ic_launcher_provisioning.png">
				</div>
			</div>  
		</div>
	</div>
      <hr>

          <!--este es otra seccion    /-->
         <div class="section">
          <div class="container">
          <div class="row">		
						
              <div class="col s12 m6 center hide-on-small-and-down">
                <img class="responsive-img" src="https://www.android-kiosk.com/wp-content/themes/androidkioskcom/images/brand_illustration.png">
              </div>
              <div class="col s12 m6">
                <h5 class="start text-primarycolor">Customise</h5>
                <ul class="start-feature-list">
                  <li>Choice of <a href="https://kioskbrowser.crisp.help/en/article/themes-fk9mdi/" target="_blank">10 themes</a></li>
                  <li>Display your logo in the toolbar</li>
                  <li>Use your brandname as the app title</li><li>Brand the <a href="https://kioskbrowser.crisp.help/en/article/custom-error-and-access-denied-pages-1yau22d/" target=" _blank">error &amp; access denied pages</a></li>
                  <li>Display an image/video/website <a href="https://kioskbrowser.crisp.help/en/article/screensaver-5dr7qu/" target="_blank">screensaver</a> whilst the device is idle</li>
                  <li><a href="https://kioskbrowser.crisp.help/en/article/full-screen-mode-and-hiding-the-toolbar-1omq6ux/" target="_blank">Control visibility of toolbar and system bar</a></li>
                </ul>
                <p class="start-paragraph-text text-primarycolor">We also offer a branding facility/customisation service.</p>
                <p><a href="#custom">GET MORE INFO</a></p>
                
              </div>
              <div class="col s6 offset-s3 m6 center hide-on-med-and-up">
                <img class="responsive-img" src="https://www.android-kiosk.com/wp-content/themes/androidkioskcom/images/brand_illustration.png">
              </div>
            </div>
          </div>
        </div>

 <hr>

            <!--este es otra seccion    /-->
            <div  class="row" id="features-advanced">		
				
                <div class="col s12 m6">
                  <h5 class="start text-primarycolor">Advanced</h5>
                  <p class="start-paragraph-text text-primarycolor">Kiosk Browser has a number of advanced features.</p>
                  <ul class="start-feature-list">
                    <li><a href="https://kioskbrowser.crisp.help/en/article/barcode-scanning-eslkdg/" target="blank">Barcode Scanner</a></li>
                    <li><a href="https://help.android-kiosk.com/en/article/zebra-tc-series-integration-16ox5x7/" target="blank">Zebra TC Series Barcode Scanner Integration</a></li>
                    <li><a href="https://kioskbrowser.crisp.help/en/article/nfc-il2sf0/" target="_blank">NFC Reader</a></li>
                    <li><a href="https://help.android-kiosk.com/en/article/js-eddystone-beacon-support-1hq36fg/" target="blank">EddyStone Beacon Support</a></li>
                    <li>Print pages using <a href="https://kioskbrowser.crisp.help/en/article/printing-with-google-cloud-print-17bdne6/" target="_blank">Google Cloud Print</a> or to <a href="https://kioskbrowser.crisp.help/en/article/printing-via-bluetooth-189t9gc/" target="_blank">Bluetooth</a> devices via JavaScript (ESC/POS)</li>
                    <li><a href="https://kioskbrowser.crisp.help/en/article/standalone-mode-bqz9hb/" target="_blank">Standalone mode</a> (behaves like a normal default browser)</li>
                    <li>Powerful <a href="https://help.android-kiosk.com/en/category/javascript-interface-qgc7qc/" target="_blank">JavaScript interface</a></li>
                    <li><a href="https://kioskbrowser.crisp.help/en/article/app-drawer-1uwohg9/" target="_blank">App Drawer</a> to launch other apps</li>
                    <li><a href="https://kioskbrowser.crisp.help/en/article/xml-import-and-export-1seva30/" target="_blank">XML Import &amp; Export</a> for copying settings to multiple devices</li>
                    <li>70+ settings to control every aspect of Kiosk Browser</li>
                  </ul>
                  
                </div>
                <div class="col s6 offset-s3 m6 center">
                  <img class="responsive-img" src="https://www.android-kiosk.com/wp-content/themes/androidkioskcom/images/advanced_illustration.png">
                </div>
                
              </div>
            </div>
          </div>

          <!-- otra section-->
<hr>
          <div class="section">
              <div class="container">
                <div class="row">
                  <div class="col s12 m6">
                    <h5 class="start text-primarycolor">Scalable &amp; Secure</h5>
                    <p class="start-paragraph-text">Powered by Microsoft&reg; Azure&trade;, our infrastructure automatically scales based on demand. Secured by leading identity-as-a-service (IAAS) provider Auth0&reg;. All payment transactions are handled by FastSpring (global E-Commerce platform), which includes advanced fraud protection and PCI DSS compliance.</p>
                  </div>
                  <div class="col s6 offset-s3 m6 center">
                    <img class="responsive-img" src="https://www.android-kiosk.com/wp-content/themes/androidkioskcom/images/rack_illustration.png"/>
                  </div>
                </div>
              </div>
            </div>

            <hr>
<!--este es otra seccion    /-->
          <div class="section" id="provisioning">
              <div class="container">
                <div class="row">		
                  <div class="col s12 m6 ">
                    <h5 class="start text-primarycolor">Provisioning Devices</h5>
                    <p>When provisioning a device using our provisioning app your device is locked down in the most secure way possible. Kiosk Browser becomes the "device owner" meaning that it is granted more permissions vs a standard Kiosk Browser installation. 
                    </p>
                                        <ul style="margin-bottom: 16px;padding-left: 16px;">
                      <li style="margin: 5px 0;padding: 0;list-style: initial;font-size:14px;">Streamlined setup process (embed licence keys or remote management registration key)</li>
                      <li style="margin: 5px 0;padding: 0;list-style: initial;font-size:14px;">Set the default launcher programmatically without user intervention</li>
                      <li style="margin: 5px 0;padding: 0;list-style: initial;font-size:14px;">Hide home button and recents button (Android 6.0 or higher)</li>
                      <li style="margin: 5px 0;padding: 0;list-style: initial;font-size:14px;">Update Kiosk Browser without visiting your devices (Update Manager via remote management) or via our JavaScript interface, Android 6.0 or higher</li>
                    </ul>
                    <div class="center">
                      <a class="waves-effect waves-light btn" href="https://www.android-kiosk.com/provisioning/" style="margin-bottom:10px;">More Info</a>
                    </div>
                    
                  </div>
                </div>
              </div>
            </div>

            <hr>
<!--otra seccion-->
            <div class="section light-green darken-1" id="custom">
                <div class="container">
                  <div class="row">
                    <div class="col s6 offset-s3 m6 center">
                      <img class="responsive-img" src="https://www.android-kiosk.com/wp-content/themes/androidkioskcom/images/ic_launcher_customise.png">
                    </div><div class="col s12 m6">
                      <h5 class="start white-text">Get Branded Version</h5>
                      <p class="start-paragraph-text" style="color:rgba(255, 255, 255, .8);">We offer a customisation service whereby we can create a custom version of Kiosk Browser with your logo, application name, default URL and many other default settings.</p>
                      <ul style="margin-bottom: 16px;padding-left: 16px;color:rgba(255, 255, 255, .8);">
                        <li style="margin: 14px 0;padding: 0;list-style: initial;font-size:14px;">Customised APK file</li>
                        <li style="margin: 14px 0;padding: 0;list-style: initial;font-size:14px;">Request a new APK whenever a new version of Kiosk Browser is released</li>
                        <li style="margin: 14px 0;padding: 0;list-style: initial;font-size:14px;">Fully compatible with our remote management service</li>
                        <li style="margin: 14px 0;padding: 0;list-style: initial;font-size:14px;">Embed licence keys or remote registration keys</li>
                        <li style="margin: 14px 0;padding: 0;list-style: initial;font-size:14px;">Embed a local start page for advanced onboarding procedures</li>
                      </ul>
                      <p>
                        <a href="https://kioskbrowser.crisp.help/en/article/can-i-get-a-branded-version-for-my-company-txl7z6/" target="_blank" class="white-text">FIND OUT MORE</a>
                        <a href="https://androidkiosk.onfastspring.com/" target="_blank" class="white-text" style="padding-left: 20px;">BUY BRANDED VERSION</a>
                      </p>
                    </div>
                    
                  </div>
                </div>
              </div>

          
<% include partial/boton.ejs%>      

<% include partial/footer.ejs %>	