<% include partial/head.ejs %>	

    <body id="page-top">
        <!-- Navigation-->
        <% include partial/navbar.ejs %>
       
        <!-- Masthead-->
        <header class="masthead bg-primary text-white text-center">
            <div class="container d-flex align-items-center flex-column">
                <!-- Masthead Avatar Image--><img class="masthead-avatar mb-5" src="assets/img/acupunturaensantiago.webp" alt="terapia de acupuntura en la ciudad de santiago" /><!-- Masthead Heading-->
                <h1 class="masthead-heading text-uppercase mb-0"> <%= tiTuloh1%></h1>
                <!-- Icon Divider-->
                <div class="divider-custom divider-light">
                    <div class="divider-custom-line"></div>
                    <div class="divider-custom-icon"><i class="fas fa-star"></i></div>
                    <div class="divider-custom-line"></div>
                </div>
                <!-- Masthead Subheading-->
                <p class="masthead-subheading font-weight-light mb-0">José Carlos & Mirna Conti</p>
            </div>
        </header>
        <!-- Portfolio Section-->
        <section class="page-section portfolio" id="portfolio">
            <div class="container">
                <!-- Portfolio Section Heading-->
                <h2 class="page-section-heading text-center text-uppercase text-secondary mb-0">Terapias</h2>
                <!-- Icon Divider-->
                <div class="divider-custom">
                    <div class="divider-custom-line"></div>
                    <div class="divider-custom-icon"><i class="fas fa-star"></i></div>
                    <div class="divider-custom-line"></div>
                </div>
                <!-- Portfolio Grid Items-->
                <div class="row">
                    <!-- Portfolio Item 1-->
                    <div class="col-md-6 col-lg-4 mb-5">
                        <div class="portfolio-item mx-auto" data-toggle="modal" data-target="#portfolioModal1">
                            <div class="portfolio-item-caption d-flex align-items-center justify-content-center h-100 w-100">
                                <div class="portfolio-item-caption-content text-center text-white"><i class="fas fa-plus fa-3x"></i></div>
                            </div>
                            <img class="img-fluid" src="images/acupuntura-auriculoterapia.webp" title="auriculoterapia" alt=" acupuntura en santiago de chile" />
                        </div>
                    </div>
                    <!-- Portfolio Item 2-->
                    <div class="col-md-6 col-lg-4 mb-5">
                        <div class="portfolio-item mx-auto" data-toggle="modal" data-target="#portfolioModal2">
                            <div class="portfolio-item-caption d-flex align-items-center justify-content-center h-100 w-100">
                                <div class="portfolio-item-caption-content text-center text-white"><i class="fas fa-plus fa-3x"></i></div>
                            </div>
                            <img class="img-fluid" src="images/acupuntura-cancer.webp" title="acupuntura en cancer" alt=" acupuntura en vitacura" />
                        </div>
                    </div>
                    <!-- Portfolio Item 3-->
                    <div class="col-md-6 col-lg-4 mb-5">
                        <div class="portfolio-item mx-auto" data-toggle="modal" data-target="#portfolioModal3">
                            <div class="portfolio-item-caption d-flex align-items-center justify-content-center h-100 w-100">
                                <div class="portfolio-item-caption-content text-center text-white"><i class="fas fa-plus fa-3x"></i></div>
                            </div>
                            <img class="img-fluid" src="assets/img/acupuntura3.webp" title="Acupuntura en Cancer" alt="Acupuntura en las condes" />
                        </div>
                    </div>
                    <!-- Portfolio Item 4-->
                    <div class="col-md-6 col-lg-4 mb-5 mb-lg-0">
                        <div class="portfolio-item mx-auto" data-toggle="modal" data-target="#portfolioModal4">
                            <div class="portfolio-item-caption d-flex align-items-center justify-content-center h-100 w-100">
                                <div class="portfolio-item-caption-content text-center text-white"><i class="fas fa-plus fa-3x"></i></div>
                            </div>
                            <img class="img-fluid" src="images/acupuntura-ventosa.webp" title="ventosas" alt="acupuntura on ventosas" />
                        </div>
                    </div>
                    <!-- Portfolio Item 5-->
                    <div class="col-md-6 col-lg-4 mb-5 mb-md-0">
                        <div class="portfolio-item mx-auto" data-toggle="modal" data-target="#portfolioModal5">
                            <div class="portfolio-item-caption d-flex align-items-center justify-content-center h-100 w-100">
                                <div class="portfolio-item-caption-content text-center text-white"><i class="fas fa-plus fa-3x"></i></div>
                            </div>
                            <img class="img-fluid" src="images/acupuntura-moxibustion.webp" title="acupuntura y moxibustios" alt="acupuntura en providencia con moxibustion" />
                        </div>
                    </div>
                    <!-- Portfolio Item 6-->
                    <div class="col-md-6 col-lg-4">
                        <div class="portfolio-item mx-auto" data-toggle="modal" data-target="#portfolioModal6">
                            <div class="portfolio-item-caption d-flex align-items-center justify-content-center h-100 w-100">
                                <div class="portfolio-item-caption-content text-center text-white"><i class="fas fa-plus fa-3x"></i></div>
                            </div>
                            <img class="img-fluid" src="images/acupuntura-dolor.webp" title="dolor y acupuntura" alt="acupuntura en ñuñoa tratamiento del dolor" />
                        </div>
                    </div>
                </div>
            </div>
        </section>
        <!-- About Section-->
        <section class="page-section bg-primary text-white mb-0" id="about">
            <div class="container">
                <!-- About Section Heading-->
                <h2 class="page-section-heading text-center text-uppercase text-white">Nosotros</h2>
                <!-- Icon Divider-->
                <div class="divider-custom divider-light">
                    <div class="divider-custom-line"></div>
                    <div class="divider-custom-icon"><i class="fas fa-star"></i></div>
                    <div class="divider-custom-line"></div>
                </div>
                <!-- About Section Content-->
                <div class="row">
                    <div class="col-lg-4 ml-auto"><p class="lead">Somos acupunturistas con formacion de 3 años en la Escuela Internacional de Medicina y Cultura Oriental, actualmente prestamos servicios de terapias en medicina china con modalidad en el domicilio producto de la contingencia del coronavirus (covid-19)</p></div>
                    <div class="col-lg-4 mr-auto"><p class="lead">Nuestro enfoque es dirigido a personas que desen realizar su tratamiento en su domicilio, que tengan dificultades de desplazamiento o que siemplemente por comodidad prefieren realizar un tratamiento en casa, si tienes alguna complicacion terapeutica que con la medicina tradicional no has logrado superar, contactanos y veremos juntos como solucionar tu problema. </p></div>
                </div>
                <!-- About Section Button-->
                <div class="text-center mt-4">
                    <a class="btn btn-xl btn-outline-light" href="https://startbootstrap.com/themes/freelancer/"><i class="fas fa-download mr-2"></i>Free Download!</a>
                </div>
            </div>
        </section>
        <!-- section precios-->

         <section class="pricing-table">
        <div class="container">
            <div class="block-heading">
              <h2>Valores de medicina china acupuntura</h2>
              <p>El tratamiento de acupuntura incluye evaluacion insumos y tratamiento</p>
            </div>
            <div class="row justify-content-md-center">
                <div class="col-md-5 col-lg-4">
                    <div class="item">
                        <div class="heading">
                            <h3>BASICO</h3>
                        </div>
                        <p>Sesion Inicial y Tratamiento</p>
                        <div class="features">
                            <h4><span class="feature">Descuento</span> : <span class="value">No</span></h4>
                            <h4><span class="feature">Duracion</span> : <span class="value">1 hr</span></h4>
                            <h4><span class="feature">Auriculo Terapia</span> : <span class="value">si</span></h4>
                        </div>
                        <div class="price">
                            <h4>$30.000 c/u</h4>
                        </div>
                        <button class="btn btn-block btn-outline-primary" type="submit">CONTRATA</button>
                    </div>
                </div>
                <div class="col-md-5 col-lg-4">
                    <div class="item">
                        <div class="ribbon">Oferta 10 SESIONES </div>
                        <div class="heading">
                            <h3>PRO</h3>
                        </div>
                        <p>Esto incluye 10 sesiones de tratamiento</p>
                        <div class="features">
                            <h4><span class="feature">descuento 25%</span> : <span class="value">SI</span></h4>
                            <h4><span class="feature">Duration</span> : <span class="value">1 hr</span></h4>
                            <h4><span class="feature">Auriculo Terapia</span> : <span class="value">si</span></h4>
                        </div>
                        <div class="price">
                            <h4>$250.000</h4>
                        </div>
                        <button class="btn btn-block btn-primary" type="submit">CONTRATA</button>
                    </div>
                </div>
                <div class="col-md-5 col-lg-4">
                    <div class="item">
                        <div class="heading">
                            <h3>PREMIUM</h3>
                        </div>
                        <p>Este plan incluye Tecnicas con Masajes, Ventosas, Auriculoterapia, Recomendación Nutricional
                            20 O Mas Sesiones
                        </p>
                        <div class="features">
                            <h4><span class="feature">Sesión más larga</span> : <span class="value">Yes</span></h4>
                            <h4><span class="feature">Duración</span> : <span class="value"> 1 a 2 hrs.</span></h4>
                            <h4><span class="feature">Full terapias</span> : <span class="value"></span></h4>
                        </div>
                        <div class="price">
                            <h4>$400.000</h4>
                        </div>
                        <button class="btn btn-block btn-outline-primary" href="tel:+56990152909" type="submit">CONTRATA</button>
                    </div>
                </div>
            </div>
        </div>
    </section>
    <br>
        <!-- Contact Section-->
        <section class="page-section" id="contact">
            <div class="container">
                <!-- Contact Section Heading-->
                <h2 class="page-section-heading text-center text-uppercase text-secondary mb-0">Contacto</h2>
                <!-- Icon Divider-->
                <div class="divider-custom">
                    <div class="divider-custom-line"></div>
                    <div class="divider-custom-icon"><i class="fas fa-star"></i></div>
                    <div class="divider-custom-line"></div>
                </div>
                <!-- Contact Section Form-->
                <div class="row">
                    <div class="col-lg-8 mx-auto">
                        <!-- To configure the contact form email address, go to mail/contact_me.php and update the email address in the PHP file on line 19.-->
                        <form id="contactForm" name="sentMessage" novalidate="novalidate">
                            <div class="control-group">
                                <div class="form-group floating-label-form-group controls mb-0 pb-2">
                                    <label>Nombre</label><input class="form-control" id="name" type="text" placeholder="Nombre" required="required" data-validation-required-message="Please enter your name." />
                                    <p class="help-block text-danger"></p>
                                </div>
                            </div>
                            <div class="control-group">
                                <div class="form-group floating-label-form-group controls mb-0 pb-2">
                                    <label>Email </label><input class="form-control" id="email" type="email" placeholder="Email" required="required" data-validation-required-message="Please enter your email address." />
                                    <p class="help-block text-danger"></p>
                                </div>
                            </div>
                            <div class="control-group">
                                <div class="form-group floating-label-form-group controls mb-0 pb-2">
                                    <label>Numero de telefono</label><input class="form-control" id="phone" type="tel" placeholder="numero telefono" required="required" data-validation-required-message="Please enter your phone number." />
                                    <p class="help-block text-danger"></p>
                                </div>
                            </div>
                            <div class="control-group">
                                <div class="form-group floating-label-form-group controls mb-0 pb-2">
                                    <label>mensaje</label><textarea class="form-control" id="message" rows="5" placeholder="Mensaje" required="required" data-validation-required-message="Please enter a message."></textarea>
                                    <p class="help-block text-danger"></p>
                                </div>
                            </div>
                            <br />
                            <div id="success"></div>
                            <div class="form-group"><button class="btn btn-primary btn-xl" id="sendMessageButton" type="submit">enviar</button></div>
                        </form>
                    </div>
                </div>
            </div>
        </section>
         <div class="container">
                <!-- Contact Section Heading-->
                <h2 class="page-section-heading text-center text-uppercase text-secondary mb-0">Acupuntura</h2>
         <p>
             Es un tratamiento proveniente de china el cual tubo un proceso de desarrollo de miles de años
             a sido tan el interes y la efectividad que la misma OMS la recomienda y es utilizada en las mejores clinicas del mundo
              esta terapia se basa en ocupar los meridianos de energía del cuerpo  para lograr un equilibrio en sus condiciones patologicas producida por bloqueos excesos o dificit en estos canales
              que alteran el normal flujo de energía provocando 
              enfermedades. esta terapeutica es comonida por utilizar normalmente agujas, aun asi se desconoce su mismo uso en ventosas , moxibustion, masajes o fitoterapia
              ,con todos estos elementos se busca volver a estado de equilibrio de la energia para poder sanar al paciente
               con la acupuntura por lo general llegan a atenderse pacientes que ya han pasado por muchas opciones terapeuticas logrando muy buenos resultados con nosotros 
              es muy famosa en lograr muy buenos efectos frente al dolor (efectos analgesicos), efectos positivos frente a patolgia dermatologica, alergias , estres , insomnio etc.
              mejorando asi el paciente de sus padecimientos            .
         </p>
         <p>
            <h2>La acupuntura y sus terapias mas famosas</h2> 
            <ul>
                <li>Alivio de dolores</li>
                <li>Relajacion</li>
                <li>Efectos adeversos minimos</li> 
                <li>Mejora el sistema inmunologico</li>
                <li>Alivia estres y insomnio</li>
                <li>Muy efectivo en dolor de espalda</li>
                <li>Coadyudante en tratamiento de oncologia</li>
            </ul>

         </p>
            </div>

            
  <% include partial/footer.ejs %>