<% include partial/head.ejs %>	

<body>
    <h1 class="header center orange-text"><%= tiTuloh1%></h1>
    <% include partial/navbar.ejs %>

    <p>
           <p>
                Privacidad y condiciones generales
            Recomendación previa.
            Te doy la bienvenida a esta web y te recomiendo que leas mi Política de Privacidad.  Aquí te describo la manera en la que haciaelautoempleo.com y todos sus subdominios recaban y utilizan información sobre sus clientes, usuarios y suscriptores de esta web.
            En esta web se respetan y cuidan los datos personales de los usuarios. Como usuario debes saber que tus derechos están garantizados. Me he esforzado en crear un espacio seguro y confiable.
            Tu privacidad es importante para mí.
            
           </p>
            <p>
                    En esta declaración de privacidad te explico qué datos personales recopilo de mis usuarios y cómo los utilizo. Te animo a leer detenidamente estos términos antes de facilitar tus datos personales en esta web. Los mayores de trece años podrán registrarse en https://www.aquivatuweb.com como usuarios sin el previo consentimiento de sus padres o tutores.
                    En el caso de los menores de trece años se requiere el consentimiento de los padres o tutores para el tratamiento de sus datos personales.
                    En ningún caso se recabarán del menor de edad datos relativos a la situación profesional, económica o a la intimidad de los otros miembros de la familia, sin el consentimiento de éstos.
                    Si eres menor de trece años y has accedido a este sitio web sin avisar a tus padres no debes registrarte como usuario.
                    En esta web se respetan y cuidan los datos personales de los usuarios. Como usuario debes saber que tus derechos están garantizados.
                    Me he esforzado en crear un espacio seguro y confiable y por eso quiero compartir mis principios respecto a tu privacidad:
                    Nunca solicito información personal a menos que realmente sea necesaria para prestarte los servicios que me requieras.
                    Nunca comparto información personal de mis usuarios con nadie, excepto para cumplir con la ley o en caso que cuente con tu autorización expresa.
                    Nunca utilizo tus datos personales con una finalidad diferente a la expresada en esta política de privacidad.
                    Es preciso advertir que esta Política de Privacidad podría variar en función de exigencias legislativas o de autorregulación, por lo que se aconseja a los usuarios que la visiten periódicamente. Será aplicable en caso de que los usuarios decidan rellenar algún formulario de cualquiera de sus formularios de contacto donde se recaben datos de carácter personal.
                    aquivatuweb ha adecuado esta web a las exigencias de la Ley Orgánica 15/1999, de 13 de diciembre, de Protección de Datos de Carácter Personal (LOPD), y al Real Decreto 1720/2007, de 21 de diciembre, conocido como el Reglamento de desarrollo de la LOPD. Cumple también con el Reglamento (UE) 2016/679 del Parlamento Europeo y del Consejo de 27 de abril de 2016 relativo a la protección de las personas físicas (RGPD), así como con la Ley 34/2002, de 11 de julio, de Servicios de la Sociedad de la Información y Comercio Electrónico (LSSICE o LSSI).
                  
            </p>
            <p>
                Responsable del tratamiento de tus datos personales.
            Identidad del Responsable: paulo silva
            Nombre comercial: aqui va tu web
            NIF/CIF: datos de rut o dni
            Dirección: santiago de chile péñalolen
            Correo electrónico: kinesishouse@gmail.com
            Actividad: Comercio y servicios electrónicos
            A efectos de lo previsto en el Reglamento General de Protección de Datos antes citado, los datos personales que me envíes a través de los formularios de la web, recibirán el tratamiento de datos de “Usuarios de la web y suscriptores”.
            Para el tratamiento de datos de mis usuarios, implemento todas las medidas técnicas y organizativas de seguridad establecidas en la legislación vigente.
            Principios que aplicaré a tu información personal.
           </p>
           <p>
                En el tratamiento de tus datos personales, aplicaré los siguientes principios que se ajustan a las exigencias del nuevo reglamento europeo de protección de datos:
            Principio de licitud, lealtad y transparencia: Siempre voy a requerir tu consentimiento para el tratamiento de tus datos personales para uno o varios fines específicos que te informaré previamente con absoluta transparencia.
            Principio de minimización de datos: Solo voy a solicitar datos estrictamente necesarios en relación con los fines para los que los requiero. Los mínimos posibles.
            Principio de limitación del plazo de conservación: los datos serán mantenidos durante no más tiempo del necesario para los fines del tratamiento, en función a la finalidad, te informaré del plazo de conservación correspondiente, en el caso de suscripciones, periódicamente revisaré mis listas y eliminaré aquellos registros inactivos durante un tiempo considerable.
            Principio de integridad y confidencialidad: Tus datos serán tratados de tal manera que se garantice una seguridad adecuada de los datos personales y se garantice confidencialidad. Debes saber que tomo todas las precauciones necesarias para evitar el acceso no autorizado o uso indebido de los datos de mis usuarios por parte de terceros.
            ¿Cómo he obtenido tus datos?
            Los datos personales que trato en Haciaelautoempleo proceden de:
            Formulario de contacto.
            Formulario de subscripción.
            Comentarios en blog.
            Formulario de solicitud de servicios.
            Formulario de registro.
            Formulario de inscripción para Webinar.
           </p>
            <p>
                    ¿Cuáles son tus derechos cuando me facilitas tus datos?
                    Cualquier persona tiene derecho a obtener confirmación sobre si en Haciaelautoempleo estoy tratando datos personales que me concierne, o no.
                    Las personas interesadas tienen derecho a:
                    Solicitar el acceso a los datos personales relativos al interesado.
                    Solicitar su rectificación o supresión.
                    Solicitar la limitación de su tratamiento.
                    Oponerse al tratamiento.
                    Solicitar la portabilidad de los datos.
            </p>
           
           <p>
                Los interesados podrán acceder a sus datos personales, así como a solicitar la rectificación de los datos inexactos o, en su caso, solicitar su supresión cuando, entre otros motivos, los datos ya no sean necesarios para los fines que fueron recogidos. En determinadas circunstancias, los interesados podrán solicitar la limitación del tratamiento de sus datos, en cuyo caso únicamente los conservaré para el ejercicio o la defensa de reclamaciones.
            En determinadas circunstancias y por motivos relacionados con su situación particular, los interesados podrán oponerse al tratamiento de sus datos. Omar de la Fuente Prieto dejará de tratar los datos, salvo por motivos legítimos imperiosos, o el ejercicio o la defensa de posibles reclamaciones. Cómo interesado, tienes derecho a recibir los datos personales que te incumban, que me hayas facilitado y en un formato estructurado, de uso común y lectura mecánica, y a transmitirlos a otro responsable del tratamiento cuando:
            El tratamiento esté basado en el consentimiento.
            Los datos hayan sido facilitados por la persona interesada.
            El tratamiento se efectúe por medios automatizados.
            Al ejercer tu derecho a la portabilidad de los datos, tendrás derecho a que los datos personales se transmitan directamente de responsable a responsable cuando sea técnicamente posible.
            Los interesados también tendrán derecho a la tutela judicial efectiva y a presentar una reclamación ante la autoridad de control, en este caso, la Agencia Española de Protección de Datos, si consideran que el tratamiento de datos personales que le conciernen infringe el Reglamento.
            ¿Con qué finalidad trato tus datos personales?
            Cuando un usuario se conecta con esta web por ejemplo para comentar un post, mandar un correo al titular, suscribirse o realizar alguna contratación, está facilitando información de carácter personal de la que es responsable Haciaelautoempleo. Esa información puede incluir datos de carácter personal como pueden ser tu dirección IP, nombre, dirección física, dirección de correo electrónico, número de teléfono, y otra información. Al facilitar esta información, el usuario da su consentimiento para que su información sea recopilada, utilizada, gestionada y almacenada por https://www.aquivatuweb.com, sólo como se describe en el Aviso Legal y en la presente Política de Privacidad.
           </p>
            <p>
                En aquivatuweb existen diferentes sistemas de captura de información personal y trato la información que me facilitan las personas interesadas con el siguiente fin por cada sistema de captura (formularios):
            
            Formulario de contacto: Solicito los siguientes datos personales: Nombre, Email, para responder a los requerimientos de los usuarios de https://www.aquivatuweb.com. Por ejemplo, puedo utilizar esos datos para responder a tu solicitud y dar respuesta a las dudas, quejas, comentarios o inquietudes que puedas tener relativas a la información incluida en la web, los servicios que se prestan a través de la web, el tratamiento de sus datos personales, cuestiones referentes a los textos legales incluidos en la web, así como cualesquiera otras consultas que puedas tener y que no estén sujetas a las condiciones de contratación. Te informo que los datos que me facilitas estarán ubicados en los servidores de Webempresa (proveedor de Omar de la Fuente Prieto) dentro de la UE.
            Formulario de suscripción a contenidos: En este caso, solicito los siguientes datos personales: Nombre, Email, para gestionar la lista de suscripciones, enviar boletines, promociones y ofertas especiales, facilitados por el usuario al realizar la suscripción. Dentro de la web existen varios formularios para activar la suscripción. Los boletines electrónicos o newsletter están gestionados por Active campaign. Te informo que los datos que me facilitas estarán ubicados en los servidores de Active campaign (proveedor de Omar de la Fuente Prieto) fuera de la UE en EEUU.  Active campaign está acogido al acuerdo EU-US Privacy Shield, cuya información está disponible aqui, aprobado por el Comité Europeo de Protección de Datos.
            Formulario de alta para comentarios del blog: Para comentar las publicaciones del blog https://www.aquivatuweb.com se requiere que el usuario se dé de alta a través de este formulario. En este caso, solicito los siguientes datos personales: Nombre, Email, Una vez dado de alta, el usuario podrá realizar tantos comentarios como desee y dar respuesta sobre los anteriores. Te informo que los datos que me facilitas estarán ubicados en los servidores de Webempresa (proveedor de Omar de la Fuente Prieto) dentro de la UE.
            Formulario de solicitud de servicios: Solicito los siguientes datos personales: Nombre, Email, para solicitar alguno de los servicios que https://www.aquivatuweb.com pone a disposición de sus usuarios. La información recabada permitirá solicitar el servicio correspondiente para una posible tramitación del mismo offline. Las solicitudes serán respondidas por correo electrónico. La web no permite gestionar pagos directamente. Te informo que los datos que me facilitas estarán ubicados en los servidores de Webempresa (proveedor de Omar de la Fuente Prieto) dentro de la UE.
            Formulario de Registro: En este caso, solicito los siguientes datos personales: Nombre, Email, para que puedas crearte una cuenta en mi sistema y tengas acceso a sus funcionalidades. Te informo que los datos que me facilitas estarán ubicados en los servidores de Webempresa (proveedor de Omar de la Fuente Prieto) dentro de la UE.
            Formulario de inscripción a webinar: En este caso, solicito los siguientes datos personales: Nombre, Email, para que puedas participar en mi webinar. Te informo que los datos que me facilitas estarán ubicados en los servidores de Webinar Jam (proveedor de Omar de la Fuente Prieto) fuera de la UE en EEUU.  Webinar Jam no está acogido al convenio de seguridad entre UE y EEUU (Privacy Shield), por lo que no garantiza unos niveles de seguridad adecuados en la transferencia internacional de tus datos. Al cumplimentar este formulario consientes expresamente dicha transferencia internacional de datos.
            Existen otras finalidades por la que trato tus datos personales:
            
            Para garantizar el cumplimiento de las condiciones de uso y la ley aplicable. Esto puede incluir el desarrollo de herramientas y algoritmos que ayudan a esta web a garantizar la confidencialidad de los datos personales que recoge.
            Para apoyar y mejorar los servicios que ofrece esta web.
           </p>
            <p>
                    También se recogen otros datos no identificativos que se obtienen mediante algunas cookies que se descargan en el ordenador del usuario cuando navega en esta web que detallo en la política de cookies.
                    Para gestionar las redes sociales. Haciaelautoempleo puede tener presencia en redes sociales. El tratamiento de los datos que se lleve a cabo de las personas que se hagan seguidoras en las redes sociales de las páginas oficiales de https://www.aquivatuweb.com, se regirá por este apartado. Así como por aquellas condiciones de uso, políticas de privacidad y normativas de acceso que pertenezcan a la red social que proceda en cada caso y aceptadas previamente por el usuario de Omar de la Fuente Prieto. Tratará sus datos con las finalidades de administrar correctamente su presencia en la red social, informando de actividades, productos o servicios de Haciaelautoempleo. Así como para cualquier otra finalidad que las normativas de las redes sociales permitan. En ningún caso utilizaré los perfiles de seguidores en redes sociales para enviar publicidad de manera individual.
                    De acuerdo a lo establecido en el reglamento general de protección de datos europeo (RGPD) 2016/679, Omar de la Fuente Prieto (Haciaelautoempleo) con domicilio en Antonio Machado 30 2ºC. 47008 Valladolid (VALLADOLID) , VALLADOLID, 47008 será responsable del tratamiento de los datos correspondientes a Usuarios de la web y suscriptores.
                    Haciaelautoempleo no vende, alquila ni cede datos de carácter personal que puedan identificar al usuario, ni lo hará en el futuro, a terceros sin el consentimiento previo. Sin embargo, en algunos casos se pueden realizar colaboraciones con otros profesionales, en esos casos, se requerirá consentimiento a los usuarios informando sobre la identidad del colaborador y la finalidad de la colaboración. Siempre se realizará con los más estrictos estándares de seguridad.
                    Remarketing.
                    La función de remarketing me permite llegar a las personas que hayan visitado https://www.aquivatuweb.com anteriormente y asociar una audiencia determinada a un mensaje concreto. El remarketing es un método para conseguir que los usuarios que han visitado mi sitio vuelvan a hacerlo.
                    Como usuario de https://www.aquivatuweb.com te informo que estamos recopilando información para esta función de remarketing en https://www.aquivatuweb.com.
                    La información que recopilo gracias a esta función es recogida por las cookies de Facebook. Puedes conocer los datos que recopilan estas cookies en las siguientes políticas de privacidad de cada servicio:
                    Facebook
                    Si no quieres que tu información sea recopilada por estas cookies, puedes inhabilitar el uso de cookies de Google a través de la Configuración de anuncios de Google. También puedes inhabilitar el uso de cookies de un proveedor tercero a través de la página de inhabilitación de Network Advertising Initiative.
                    Este tipo de servicios permite interactuar con redes sociales u otras plataformas externas directamente desde las páginas de esta web. Las interacciones y la información obtenida por esta web siempre estarán sometidas a la configuración de privacidad del usuario en cada red social. En caso de que se instale un servicio que permita interactuar con redes sociales, es posible que, aunque los usuarios no utilicen el servicio, éste recoja datos de tráfico web relativos a las páginas en las que estén instalados.
                    Facebook ads.
                    En https://www.aquivatuweb.com utilizo Facebook ads, la plataforma de publicidad de Facebook, que me permite crear campañas y anuncios. Al generar un anuncio, se puede segmentar el público por:
                    Lugar.
                    Datos demográficos (edad, sexo, etc.)
                    Intereses (actividades, aficiones, etc.)
                    Lo que compran en internet y por otros canales.
                    Etc.

            </p>
           
            <p>
                    Los datos obtenidos a través de Facebook ads están sujetos a esta política de privacidad desde el momento en que el usuario deja sus datos en el formulario de esta web para unirse al boletín de suscripciones. En ningún caso se utilizará la información procedente de Facebook con una finalidad diferente.
                    Legitimación para el tratamiento de tus datos.
                    La base legal para el tratamiento de sus datos es: el consentimiento.
                    Para contactar o realizar comentarios en esta web se requiere el consentimiento con esta política de privacidad.
                    La oferta prospectiva o comercial de productos y servicios está basada en el consentimiento que se le solicita, sin que en ningún caso la retirada de este consentimiento condicione la ejecución del contrato de suscripción.
                    Categoría de datos recogidos.
                    Las categorías de datos que se tratan son datos identificativos.
                    En ningún caso se tratan categorías de datos especialmente protegidos.
                    ¿Por cuánto tiempo conservaré tus datos?
                    Los datos personales proporcionados se conservarán hasta que no se solicite su supresión por el interesado.
                    ¿A qué destinatarios se comunicarán tus datos?
                    Muchas herramientas que utilizo para gestionar tus datos son contratados por terceros.
                    Para prestar servicios estrictamente necesarios para el desarrollo de la actividad, https://www.aquivatuweb.com, comparte datos con los siguientes prestadores bajo sus correspondientes condiciones de privacidad:www.aquivatuweb.com
                   
            </p>
           
           <p>
                Google Analytics: un servicio analítico de web prestado por Google, Inc., una compañía de Delaware cuya oficina principal está en 1600 Amphitheatre Parkway, Mountain View (California), CA 94043, Estados Unidos (“Google”). Google Analytics utiliza “cookies”, que son archivos de texto ubicados en tu ordenador, para ayudar a https://www.aquivatuweb.com a analizar el uso que hacen los usuarios del sitio web. La información que genera la cookie acerca de su uso de https:// (incluyendo tu dirección IP) será directamente transmitida y archivada por Google en los servidores de Estados Unidos.
                Hosting: Webempresa Europa, S.L., con domicilio en España. Más información en: https://www.webempresa.com (Webempresa Europa, S.L.). Webempresa Europa, S.L. trata los datos con la finalidad de realizar sus servicios de hosting a Omar de la Fuente Prieto.
                Plataforma web: Automattic Inc., con domicilio en EEUU. Más información en: https://es.wordpress.com/ (Automattic Inc.). Automattic Inc. trata los datos con la finalidad de realizar sus servicios de plataforma web a Omar de la Fuente Prieto.
                Email marketing: ActiveCampaign, Inc., con domicilio en EEUU. Más información en: https://www.activecampaign.com/ (ActiveCampaign, Inc.). ActiveCampaign, Inc. trata los datos con la finalidad de realizar sus servicios de email marketing a Omar de la Fuente Prieto.
                Navegación.
                Al navegar por https://www.aquivatuweb.com se pueden recoger datos no identificables, que pueden incluir, direcciones IP, ubicación geográfica (aproximadamente), un registro de cómo se utilizan los servicios y sitios, y otros datos que no pueden ser utilizados para identificar al usuario. Entre los datos no identificativos están también los relacionados a tus hábitos de navegación a través de servicios de terceros. Esta web utiliza los siguientes servicios de análisis de terceros:
                Google analytics.
           </p>
            <p>
                    Pixel de Facebook.
                    Utilizo esta información para analizar tendencias, administrar el sitio, rastrear los movimientos de los usuarios alrededor del sitio y para recopilar información demográfica sobre mi base de usuarios en su conjunto.
                    Secreto y seguridad de los datos.
                    https://www.aquivatuweb.com se compromete en el uso y tratamiento de los datos incluidos personales de los usuarios, respetando su confidencialidad y a utilizarlos de acuerdo con la finalidad del mismo, así como a dar cumplimiento a su obligación de guardarlos y adaptar todas las medidas para evitar la alteración, pérdida, tratamiento o acceso no autorizado, de conformidad con lo establecido en la normativa vigente de protección de datos.
                    Esta web incluye un certificado SSL. Se trata de un protocolo de seguridad que hace que tus datos viajen de manera íntegra y segura, es decir, la transmisión de los datos entre un servidor y usuario web, y en retroalimentación, es totalmente cifrada o encriptada.
                    https://www.aquivatuweb.com no puede garantizar la absoluta inexpugnabilidad de la red Internet y por tanto la violación de los datos mediante accesos fraudulentos a ellos por parte de terceros.
                    Con respecto a la confidencialidad del procesamiento, Omar de la Fuente Prieto se asegurará de que cualquier persona que esté autorizada por aquivatuweb para procesar los datos del cliente (incluido su personal, colaboradores y prestadores), estará bajo la obligación apropiada de confidencialidad (ya sea un deber contractual o legal).
                    Cuando se presente algún incidente de seguridad, al darse cuenta aquivatuweb, deberá notificar al Cliente sin demoras indebidas y deberá proporcionar información oportuna relacionada con el Incidente de Seguridad tal como se conozca o cuando el Cliente lo solicite razonablemente.
            </p>
           
           <p>Exactitud y veracidad de los datos.
                Como usuario, eres el único responsable de la veracidad y corrección de los datos que remitas a https://www.aquivatuweb.com exonerando a paulo silva (aquivatuweb), de cualquier responsabilidad al respecto.
                Los usuarios garantizan y responden, en cualquier caso, de la exactitud, vigencia y autenticidad de los datos personales facilitados, y se comprometen a mantenerlos debidamente actualizados. El usuario acepta proporcionar información completa y correcta en el formulario de contacto o suscripción.
                Aceptación y consentimiento.
                El usuario declara haber sido informado de las condiciones sobre protección de datos de carácter personal, aceptando y consintiendo el tratamiento de los mismos por parte de paulo silva (aquivatuweb)) en la forma y para las finalidades indicadas en esta política de privacidad.
                Revocabilidad.
                El consentimiento prestado, tanto para el tratamiento como para la cesión de los datos de los interesados, es revocable en cualquier momento comunicándolo a paulo silva (aquivatuweb) en los términos establecidos en esta Política para el ejercicio de los derechos ARCO. Esta revocación en ningún caso tendrá carácter retroactivo.
                Cambios en la política de privacidad.
                Omar de la Fuente Prieto se reserva el derecho a modificar la presente política para adaptarla a novedades legislativas o jurisprudenciales, así como a prácticas de la industria. En dichos supuestos, paulo silva (aquivatuweb) anunciará en esta página los cambios introducidos con razonable antelación a su puesta en práctica.
                Correos comerciales.
                De acuerdo con la LSSICE, https://aquivatuweb.com no realiza prácticas de SPAM, por lo que no envía correos comerciales por vía electrónica que no hayan sido previamente solicitados o autorizados por el usuario. En consecuencia, en cada uno de los formularios habidos en la web, el usuario tiene la posibilidad de dar su consentimiento expreso para recibir el boletín, con independencia de la información comercial puntualmente solicitada.
                Conforme a lo dispuesto en la Ley 34/2002 de Servicios de la Sociedad de la Información y de comercio electrónico, https://www.aquivatuweb.com se compromete a no enviar comunicaciones de carácter comercial sin identificarlas debidamente.
                
                Documento revisado el 17-04-2018.
            </p> 
    </p>
    <% include partial/boton.ejs%>   
    <% include partial/footer.ejs %>