<footer class="page-footer blue-grey darken-4">
    <div class="container">
      <div class="row">
        <div class="col l6 s12">
          <h5 class="white-text">kinesis house</h5>
          <p class="grey-text text-lighten-4">kinesiologia y acupuntura</p>


        </div>
        <div class="col l3 s12">
          <h5 class="white-text">Settings</h5>
          <ul>
            <li><a class="white-text" href="/avisolegal">aviso legal</a></li>
            <li><a class="white-text" href="privacidad">politica de privacidad</a></li>
            <li><a class="white-text" href="}/cokies">politica de cokies</a></li>
          </ul>
        </div>
        <div class="col s12 m6 l6 address-block">
          <div class="center-heading left-align">
            <h3>get in touch</h3>
            <span class=" center line-red"></span>
            <p>Lorem ipsum dolor, sit amet consectetur adipisicing elit.</p>
          </div>
          <h5 class="white-text">Connect</h5>
          <ul>
            <li><a class="white-text" href="#!"><i class="material-icons">call</i></a>+56956833633</li>
            <li><a class="white-text" href="#!"><i class="material-icons">email</i></a>kinesishouse@gmail.com</li>
            <li><a class="white-text" href="#!"><i class="material-icons">room</i></a>Santiago de Chile</li>
            <li><a class="white-text" href="#!"><i class="material-icons"></i></a></li>
          </ul>
        </div>
      </div>
    </div>
    <div class="footer-copyright">
      <div class="container">
      Made by <a class="orange-text text-lighten-3" href="">Paulo Silva M.</a>
      </div>
    </div>
  </footer>
  

<!--JavaScript at end of body for optimized loading-->
<script type="text/javascript" src="js/materialize.min.js"></script>
<script>
document.addEventListener('DOMContentLoaded', function() {
    //var elems = document.querySelectorAll('.sidenav');
    //var instances = M.Sidenav.init(elems);
    var elems = document.querySelectorAll('.slider');
    var instances = M.Slider.init(elems);
    M.AutoInit();
  });
</script>
<

</body>

</html>