<nav>
    <ul>
        <li><a href="/">inicio</a></li>
        <li><a href="/about">nosotros</a></li>
        <li><a href="/contacto">contacto</a></li>
        <li><a href="/kiensiologo-respiratorio">kinesiologo respiratorio</a></li>

    </ul>
</nav>