


<div class="navbar-fixed">
<nav class="green">
    <div class="container nav-wrapper">
        <a href="#" class="brand-logo right">kinesis</a>
        <a href="#" data-target="menu-responsive" class="sidenav-trigger"><i class="material-icons">menu</i></a>
            <ul class="right-align hide-on-med-and-down">
                    <li><a href="/">inicio</a></li>
                    <li><a href="/about">nosotros</a></li>
                    <li><a href="/contacto">contacto</a></li>
                    <li><a class="dropdown-trigger" href="#!" data-target="dropdown1">Dropdown<i class="material-icons right">arrow_drop_down</i></a></li>
            
            </ul>
    </div>
    <ul id="dropdown1" class="dropdown-content">
            <li><a href="/kiensiologo-respiratorio">kinesiologo respiratorio</a></li>
            <li class="divider"></li>
            <li><a href="/kiensiologo-respiratorio">kinesiologo respiratorio</a></li>
            <li class="divider"></li>
            <li><a href="/kiensiologo-respiratorio">kinesiologo respiratorio</a></li>
    
    </ul>
   
</nav>
</div>
<ul class="sidenav" id="menu-responsive">
        <li><a href="/">inicio</a></li>
        <li><a href="/about">nosotros</a></li>
        <li><a href="/contacto">contactos</a></li>
        <li><a class="dropdown-trigger" href="#!" data-target="dropdown1">Dropdown<i class="material-icons right">arrow_drop_down</i></a></li>
       
</ul>
